Repository wso2/docs-apim, pull requests merged in 2020-03, with the labels that each got.

#798 Bug Fixes and Doc Update
  en/docs/install-and-setup/perfromance-tuning-and-test-results/tuning-performance.md
  en/docs/learn/api-gateway/passing-end-user-attributes-to-the-backend/passing-enduser-attributes-to-the-backend-using-jwt.md
  en/docs/wip/deleted-pages/distributed-deployment-of-api-manager.md
Labels: Review/Has Comments

#803 Adds documentation for monthly API usage report
  en/docs/assets/img/learn/api-usage-summary-widget.png
  en/docs/assets/img/learn/apim-analytics-dashboard.png
  en/docs/assets/img/learn/monthly-usage-summary.png
  en/docs/learn/analytics/monthly-api-usage-report.md
  en/mkdocs.yml
Labels: API-M-3.1.0

#799 modifying kerberos oauth2 grant flow
  en/docs/learn/api-security/oauth2/grant-types/kerberos-oauth2-grant.md
Labels: API-M-3.1.0

#805 Added the Recommendations feature documentation
  en/docs/wip/api-recommendations.md
  en/docs/wip/assets/img/api-recommendations.png
Labels: API-M-3.1.0

#786 Add documentation for scope, role mapping features
  en/docs/wip/scope-role-mapping.md
Labels: API-M-3.1.0

#807 Added analytics HA docs
  en/docs/SetupAndInstall/DeployingWSO2APIManager/configure_apim_analytics/configure_worker/active_active.md
  en/docs/SetupAndInstall/DeployingWSO2APIManager/configure_apim_analytics/configure_worker/active_passive.md
  en/mkdocs.yml
Labels: Review/Pending Resolution

#837 Adds documentation for analytics dashboards customization.
  en/docs/assets/img/learn/apim-analytics-dashboard-dropdown.png
  en/docs/assets/img/learn/apim-analytics-dashboard-duplication-form.png
  en/docs/assets/img/learn/apim-analytics-default-dashboards.png
  en/docs/assets/img/learn/apim-analytics-design-dropdown.png
  en/docs/assets/img/learn/apim-analytics-duplicated-dashboard.png
  en/docs/learn/analytics/customizing-analytics-dashboards.md
  en/mkdocs.yml
Labels: API-M-3.1.0

#875 Formatting issue
  en/docs/learn/api-controller/migrating-apis-to-different-environments.md
Labels: API-M-3.1.0

#880 Reviewed and updated
  en/docs/learn/consume-api/discover-apis/api-recommendations.md
  en/docs/wip/api-recommendations.md
  en/mkdocs.yml
Labels: API-M-3.1.0

#933 Doc review for API category
  en/docs/assets/img/learn/add_category.png
  en/docs/assets/img/learn/api_categories_dropdown.png
  en/docs/assets/img/learn/api_category_left_tag.png
  en/docs/assets/img/learn/attach_category.png
  en/docs/assets/img/learn/click_add_category.png
  en/docs/assets/img/learn/devportal_listing.png
  en/docs/learn/consume-api/customizations/customizing-the-developer-portal/customize-api-listing/categorizing-and-grouping-apis/api-category-based-grouping.md
  en/docs/learn/consume-api/customizations/customizing-the-developer-portal/customize-api-listing/categorizing-and-grouping-apis/tagwise-based-grouping.md
  en/docs/wip/api-categories.md
  en/docs/wip/assets/img/add_category.png
  en/docs/wip/assets/img/api_categories_dropdown.png
  en/docs/wip/assets/img/attach_category.png
  en/docs/wip/assets/img/click_add_category.png
  en/mkdocs.yml
Labels: API-M-3.1.0

#932 Add custom attribute publishing doc
  en/docs/learn/analytics/publishing-custom-data.md
  en/mkdocs.yml
Labels: API-M-3.1.0

#878 Update scope and role mapping doc content
  en/docs/administer/product-administration/managing-users-and-roles/managing-user-roles.md
  en/docs/assets/img/learn/role_mapping.png
  en/docs/assets/img/learn/scope_mapping.png
Labels: API-M-3.1.0
