Repository wso2/docs-apim, pull requests merged in 2020-06, with the labels that each got.

#1075 Modify the docs on scope schemes
  en/docs/learn/api-controller/importing-apis-via-dev-first-approach.md
Labels: Docs/Waiting on Reporter

#1265 Fix for formatting issues in https://github.com/wso2/docs-apim/pull/1157
  en/docs/learn/api-controller/importing-apis-via-dev-first-approach.md
  en/docs/learn/api-gateway/response-caching.md
  en/docs/learn/api-security/api-authentication/secure-apis-using-oauth2-tokens.md
  en/docs/learn/design-api/advanced-topics/enabling-cors-for-apis.md
  en/docs/learn/design-api/create-api/create-a-rest-api-from-a-swagger-definition.md
  en/docs/learn/rate-limiting/setting-throttling-limits.md
Labels: API-M-3.1.0

#1264 fix for https://github.com/wso2/docs-apim/issues/1254
  en/docs/learn/tutorials/create-and-publish-websocket-api.md
Labels: API-M-3.0.0

#1263 fix for https://github.com/wso2/docs-apim/issues/1254
  en/docs/learn/tutorials/create-and-publish-websocket-api.md
Labels: API-M-Master

#1288 fix for https://github.com/wso2/docs-apim/issues/1278
  en/docs/administer/logging-and-monitoring/logging/monitoring-http-access-logs.md
Labels: API-M-Master

#1287 fix for https://github.com/wso2/docs-apim/issues/1278
  en/docs/administer/logging-and-monitoring/logging/monitoring-http-access-logs.md
Labels: API-M-3.1.0

#1286 fix for https://github.com/wso2/docs-apim/issues/1278
  en/docs/administer/product-administration/monitoring/logging/monitoring-http-access-logs.md
Labels: API-M-3.0.0

#1294 fix for https://github.com/wso2/docs-apim/issues/1229
  en/docs/learn/consume-api/manage-application/sharing-applications/sharing-applications.md
Labels: API-M-3.0.0

#1295 fix for https://github.com/wso2/docs-apim/issues/1229
  en/docs/learn/consume-api/manage-application/sharing-applications/sharing-applications.md
Labels: API-M-3.1.0

#1320 fix for for https://github.com/wso2/docs-apim/issues/1283
  en/docs/assets/attachments/kerberos-grant-1.0.0.jar
  en/docs/assets/img/learn/add-new-idp.png
  en/docs/assets/img/learn/configure-kerberos.png
  en/docs/assets/img/learn/oauth-sp-clientid-clientsecret.png
  en/docs/assets/img/learn/register-new-oauth-app.png
  en/docs/learn/api-security/oauth2/grant-types/kerberos-oauth2-grant.md
Labels: API-M-Master

#1319 fix for for https://github.com/wso2/docs-apim/issues/1283
  en/docs/assets/attachments/kerberos-grant-1.0.0.jar
  en/docs/assets/img/learn/add-new-idp.png
  en/docs/assets/img/learn/configure-kerberos.png
  en/docs/assets/img/learn/oauth-sp-clientid-clientsecret.png
  en/docs/assets/img/learn/register-new-oauth-app.png
  en/docs/learn/api-security/oauth2/grant-types/kerberos-oauth2-grant.md
Labels: API-M-3.1.0

#1318 fix for https://github.com/wso2/docs-apim/issues/1283
  en/docs/assets/attachments/kerberos-grant-1.0.0.jar
  en/docs/assets/img/learn/add-new-idp.png
  en/docs/assets/img/learn/configure-kerberos.png
  en/docs/assets/img/learn/oauth-sp-clientid-clientsecret.png
  en/docs/assets/img/learn/register-new-oauth-app.png
  en/docs/learn/api-security/oauth2/grant-types/kerberos-oauth2-grant.md
Labels: API-M-3.0.0

#1308 fix for https://github.com/wso2/docs-apim/issues/1229
  en/docs/learn/consume-api/manage-application/sharing-applications/sharing-applications.md
Labels: API-M-3.0.0

#1307 fix for https://github.com/wso2/docs-apim/issues/1229
  en/docs/learn/consume-api/manage-application/sharing-applications/sharing-applications.md
Labels: API-M-3.1.0

#1296 fix for https://github.com/wso2/docs-apim/issues/1229
  en/docs/learn/consume-api/manage-application/sharing-applications/sharing-applications.md
Labels: API-M-Master

#1074 Modify the docs on scope schemes
  en/docs/learn/api-controller/importing-apis-via-dev-first-approach.md
Labels: Docs/Waiting on Reporter

#1341 Reapplying https://github.com/wso2/docs-apim/pull/1259
  en/mkdocs.yml
Labels: API-M-Master

#1335 fix for https://github.com/wso2/docs-apim/issues/1313
  en/docs/assets/img/setup-and-install/binary.png
  en/docs/assets/img/setup-and-install/installer.jpg
  en/docs/install-and-setup/installation-guide/installing-the-product/installing-the-product.md
  en/mkdocs.yml
Labels: API-M-3.0.0

#1334 fix for https://github.com/wso2/docs-apim/issues/1313
  en/docs/assets/img/setup-and-install/binary.png
  en/docs/assets/img/setup-and-install/installer.png
  en/docs/install-and-setup/install/installing-the-product/installing-the-product.md
  en/mkdocs.yml
Labels: API-M-Master

#1333 fix for https://github.com/wso2/docs-apim/issues/1313
  en/docs/assets/img/setup-and-install/binary.png
  en/docs/assets/img/setup-and-install/installer.png
  en/docs/install-and-setup/install/installing-the-product/installing-the-product.md
  en/mkdocs.yml
Labels: API-M-3.1.0

#1325 fix for https://github.com/wso2/docs-apim/issues/1317
  en/docs/learn/api-security/api-authentication/secure-apis-using-mutual-ssl.md
Labels: API-M-3.0.0

#1324 fix for https://github.com/wso2/docs-apim/issues/1317
  en/docs/learn/api-security/api-authentication/secure-apis-using-mutual-ssl.md
Labels: API-M-Master

#1323 fix for https://github.com/wso2/docs-apim/issues/1317
  en/docs/learn/api-security/api-authentication/secure-apis-using-mutual-ssl.md
Labels: API-M-3.1.0

#1267 Forgot Username-Email ID correction.
  en/docs/administer/product-security/identity-management-for-the-api-dev-portal.md
Labels: API-M-3.0.0, Docs/SyncPR-Pending, Docs/Waiting on SME

#1248 Adding a User Signup Workflow URL is missing
  en/docs/develop/customizations/customizing-the-developer-portal/enabling-or-disabling-self-signup.md
Labels: API-M-3.1.0

#1344 Adding a User Signup Workflow URL is missing
  en/docs/develop/customizations/customizing-the-developer-portal/enabling-or-disabling-self-signup.md
Labels: API-M-Master

#1342 Adding missing statement
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup.md
Labels: API-M-Master

#1301 [Improvised][3.1] Grammar & Lint Fixes to Index Page
  en/docs/index.md
Labels: Review/In-progress

#1300 [Improvised][Master] Grammar & Lint Fixes to Index Page
  en/docs/index.md
Labels: Review/In-progress

#1351 [Improvised][Master] README
  README.md
Labels: API-M-3.1.0

#1349 Grammatical corrections
  en/docs/getting-started/overview.md
Labels: API-M-Master

#1354 Add missing step in active active deployment
  en/docs/install-and-setup/setup/single-node/configuring-an-active-active-deployment.md
Labels: API-M-Master

#1357 Add missing step in active active deployment
  en/docs/install-and-setup/deploying-wso2-api-manager/single-node/configuring-an-active-active-deployment.md
Labels: API-M-3.0.0

#1299 add external jwt signature validation
  en/docs/assets/img/learn/external-jwt-signature-validation.png
  en/docs/learn/api-security/oauth2/access-token-types/jwt-tokens.md
Labels: Docs/SyncPR-Pending

#1365 fix for https://github.com/wso2/docs-apim/issues/1361
  en/docs/administer/multitenancy/configuring-the-tenant-loading-policy.md
Labels: API-M-Master

#1362 fix for https://github.com/wso2/docs-apim/issues/1361
  en/docs/administer/multitenancy/configuring-the-tenant-loading-policy.md
Labels: API-M-3.1.0

#1375 fix for https://github.com/wso2/docs-apim/issues/1235
  en/docs/reference/ConfigCatalog.md
  en/mkdocs.yml
Labels: API-M-Master

#1374 fix for https://github.com/wso2/docs-apim/issues/1235
  en/docs/reference/ConfigCatalog.md
  en/mkdocs.yml
Labels: API-M-3.1.0

#1373 fix for https://github.com/wso2/docs-apim/issues/1235
  en/docs/reference/ConfigCatalog.md
  en/mkdocs.yml
Labels: API-M-3.0.0

#1371 fix for https://github.com/wso2/docs-apim/issues/1252
  en/docs/install-and-setup/setup/distributed-deployment/product-profiles.md
Labels: API-M-Master

#1370 fix for https://github.com/wso2/docs-apim/issues/1252
  en/docs/install-and-setup/setup/distributed-deployment/product-profiles.md
Labels: API-M-3.1.0

#1368 fix for https://github.com/wso2/docs-apim/issues/1367
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-300.md
Labels: API-M-3.0.0

#1372 fix for https://github.com/wso2/docs-apim/issues/1252
  en/docs/install-and-setup/deploying-wso2-api-manager/distributed-deployment/product-profiles.md
Labels: API-M-3.0.0

#1377 Bug fixes
  README.md
  en/docs/assets/img/learn/publish-to-multiple-developer-portals.png
  en/docs/assets/img/learn/stripe-account-after-creating-a-commercial-tier.png
  en/docs/install-and-setup/setup/deployment-best-practices/basic-health-checks.md
  en/docs/install-and-setup/setup/deployment-best-practices/production-deployment-guidelines.md
  en/docs/learn/api-gateway/message-tracing.md
  en/docs/learn/api-monetization/monetizing-an-api.md
  en/docs/learn/design-api/publish-api/publish-to-multiple-external-api-stores.md
Labels: API-M-3.1.0

#1378 Bug fixes
  README.md
  en/docs/assets/img/learn/publish-to-multiple-developer-portals.png
  en/docs/assets/img/learn/stripe-account-after-creating-a-commercial-tier.png
  en/docs/install-and-setup/deploying-wso2-api-manager/production-deployment-guidelines.md
  en/docs/install-and-setup/installation-guide/basic-health-checks.md
  en/docs/learn/api-gateway/message-tracing.md
  en/docs/learn/api-monetization/monetizing-an-api.md
  en/docs/learn/design-api/publish-api/publish-to-multiple-external-api-stores.md
Labels: API-M-3.0.0

#1376 Bug fixes
  README.md
  en/docs/assets/img/learn/stripe-account-after-creating-a-commercial-tier.png
  en/docs/install-and-setup/setup/deployment-best-practices/basic-health-checks.md
  en/docs/install-and-setup/setup/deployment-best-practices/production-deployment-guidelines.md
  en/docs/learn/api-gateway/message-tracing.md
  en/docs/learn/api-monetization/monetizing-an-api.md
  en/mkdocs.yml
Labels: API-M-Master

#1425 fix for https://github.com/wso2/docs-apim/issues/1389
  en/docs/assets/attachments/126562834/126562837.png
  en/docs/install-and-setup/setup/advance-configurations/customizing-the-management-console.md
Labels: API-M-Master

#1424 fix for https://github.com/wso2/docs-apim/issues/1023
  en/docs/install-and-setup/setup/distributed-deployment/product-profiles.md
Labels: API-M-Master

#1423 fix for https://github.com/wso2/docs-apim/issues/1023
  en/docs/install-and-setup/setup/distributed-deployment/product-profiles.md
Labels: API-M-3.1.0

#1427 fix for https://github.com/wso2/docs-apim/issues/1389
  en/docs/administer/product-configurations/customizing-the-management-console.md
  en/docs/assets/attachments/126562834/126562837.png
Labels: API-M-3.0.0

#1426 fix for https://github.com/wso2/docs-apim/issues/1389
  en/docs/assets/attachments/126562834/126562837.png
  en/docs/install-and-setup/setup/advance-configurations/customizing-the-management-console.md
  en/docs/install-and-setup/setup/distributed-deployment/configure-a-third-party-key-manager.md
Labels: API-M-3.1.0

#1178 Adding details for API creation using openAPI archive
  en/docs/learn/design-api/create-api/create-a-rest-api-from-a-swagger-definition.md
Labels: API-M-3.2.0, PR-Review/Has Comments, PR-Review/Pending Resolution

#1436 fix for https://github.com/wso2/docs-apim/issues/1430
  en/docs/develop/extending-api-manager/saml2-sso/configuring-single-sign-on-with-saml2.md
  en/mkdocs.yml
Labels: API-M-Master

#1435 fix for https://github.com/wso2/docs-apim/issues/1430
  en/docs/develop/extending-api-manager/saml2-sso/configuring-single-sign-on-with-saml2.md
  en/mkdocs.yml
Labels: API-M-3.1.0

#1433 fix for https://github.com/wso2/docs-apim/issues/1431
  en/docs/reference/faq.md
Labels: API-M-3.0.0

#1432 fix for https://github.com/wso2/docs-apim/issues/1431
  en/docs/reference/faq.md
Labels: API-M-3.1.0
