Repository wso2/docs-apim, pull requests merged in 2020-04, with the labels that each got.

#823 graphql tryout feature documentation
  en/docs/assets/img/learn/graphql-api-copy-access-token.png
  en/docs/assets/img/learn/graphql-console-execute.png
  en/docs/assets/img/learn/graphql-console-test-button.png
  en/docs/assets/img/learn/graphql-generate-keys-production.png
  en/docs/assets/img/learn/graphql-response.png
  en/docs/assets/img/learn/star-wars-developer-console.png
  en/docs/assets/img/learn/subscribe-to-graphql-api.png
  en/docs/learn/consume-api/invoke-apis/invoke-apis-using-tools/invoke-an-graphql-api-using-the-integrated-graphql-console.md
  en/docs/learn/tutorials/create-and-publish-a-graphql-api.md
  en/mkdocs.yml
  en/requirements.txt
Labels: API-M-3.1.0

#900 Push 3.0.0 doc changes to master
  en/docs/assets/attachments/103327648/126556773.png
  en/docs/assets/attachments/103327648/126556774.png
  en/docs/assets/attachments/103327648/126556775.png
  en/docs/assets/img/get_started/analytics.png
  en/docs/assets/img/get_started/key-manager.png
  en/docs/assets/img/get_started/traffic-manager.png
  en/docs/assets/img/setup-and-install/is-as-km-dbs.png
  en/docs/assets/img/setup-and-install/message-builders-formatters.png
  en/docs/assets/img/setup-and-install/working-with-dbs-overview.png
  en/docs/develop/extending-api-manager/extending-gateway/customizing-api-template-for-gateway.md
  en/docs/develop/extending-api-manager/extending-gateway/writing-custom-handlers.md
  en/docs/develop/extending-api-manager/extending-key-management/extending-key-validation.md
  en/docs/develop/extending-api-manager/extending-key-management/extending-scope-validation.md
  en/docs/develop/extending-api-manager/extending-key-management/extending-the-key-manager-interface.md
  en/docs/develop/extending-api-manager/extending-key-management/writing-custom-grant-types.md
  en/docs/develop/extending-api-manager/extending-workflows/changing-the-default-user-role-in-workflows.md
  en/docs/develop/extending-api-manager/extending-workflows/cleaning-up-workflow-tasks.md
  en/docs/develop/extending-api-manager/extending-workflows/configuring-http-redirection-for-workflows.md
  en/docs/develop/extending-api-manager/extending-workflows/configuring-workflows-for-tenants.md
  en/docs/develop/extending-api-manager/extending-workflows/configuring-workflows-in-a-cluster.md
  en/docs/develop/extending-api-manager/extending-workflows/customizing-a-workflow-extension.md
  en/docs/develop/extending-api-manager/extending-workflows/invoking-the-api-manager-from-the-bpel-engine.md
  en/docs/develop/extending-api-manager/saml2-sso/configuring-external-idp-through-identity-server-for-sso.md
  en/docs/develop/extending-api-manager/saml2-sso/configuring-identity-server-as-idp-for-sso.md
  en/docs/develop/extending-api-manager/saml2-sso/configuring-single-sign-on-with-saml2.md
  en/docs/getting-started/overview.md
  en/docs/install-and-setup/deploying-wso2-api-manager/configuring-message-builders-formatters.md
  en/docs/install-and-setup/setting-up-databases/overview.md
  en/docs/learn/consume-api/generating-sdks/write-a-client-application-using-the-sdk.md
  en/mkdocs.yml
Labels: Review/Has Comments, Review/Pending Resolution

#1055 Update the outdated GDPR for analytics related documentation.
  en/docs/administer/product-security/general-data-protection-regulation-gdpr-for-wso2-api-manager.md
  en/docs/learn/analytics/general-data-protection-regulation-gdpr-for-wso2-api-manager-analytics.md
  en/mkdocs.yml
Labels: Docs/SyncPR-Pending, Review/Has Comments, Review/Pending Resolution

#1111 External devportal url correction
  en/docs/learn/design-api/publish-api/publish-to-multiple-external-api-stores.md
Labels: Docs/SyncPR-Pending
