Repository wso2/docs-apim, pull requests merged in 2020-05, with the labels that each got.

#1243 fix for https://github.com/wso2/docs-apim/issues/1238
  en/docs/learn/design-api/api-versioning/enabling-notifications.md
Labels: API-M-Master

#1241 fix for https://github.com/wso2/docs-apim/issues/1240
  en/docs/administer/managing-users-and-roles/managing-permissions.md
  en/docs/administer/managing-users-and-roles/managing-user-stores/configure-primary-user-store/configuring-a-read-only-ldap-user-store.md
  en/docs/administer/managing-users-and-roles/managing-user-stores/configure-primary-user-store/configuring-a-read-write-active-directory-user-store.md
  en/docs/administer/managing-users-and-roles/managing-user-stores/configure-primary-user-store/configuring-a-read-write-ldap-user-store.md
  en/docs/administer/managing-users-and-roles/managing-users.md
  en/docs/develop/customizations/log-in-to-the-dev-portal-using-social-media.md
  en/docs/develop/extending-api-manager/saml2-sso/configuring-external-idp-through-identity-server-for-sso.md
  en/docs/develop/extending-api-manager/saml2-sso/configuring-identity-server-as-idp-for-sso.md
  en/docs/install-and-setup/setup/security/identity-management-for-the-api-dev-portal.md
  en/docs/install-and-setup/setup/security/logins-and-passwords/maintaining-logins-and-passwords.md
  en/docs/learn/api-security/authorization/role-based-access-control-using-xacml.md
  en/docs/learn/api-security/oauth2/grant-types/authorization-code-grant.md
  en/docs/learn/api-security/oauth2/grant-types/client-credentials-grant.md
  en/docs/learn/api-security/oauth2/grant-types/jwt-grant.md
  en/docs/learn/api-security/oauth2/securing-oauth-token-with-hmac-validation.md
  en/docs/learn/api-security/openid-connect/obtaining-user-profile-information-with-openid-connect.md
  en/docs/learn/design-api/api-versioning/enabling-notifications.md
Labels: API-M-3.1.0

#1239 fix for https://github.com/wso2/docs-apim/issues/1238
  en/docs/learn/design-api/api-versioning/enabling-notifications.md
Labels: API-M-3.0.0

#1242 fix for https://github.com/wso2/docs-apim/issues/1240
  en/docs/administer/product-administration/managing-users-and-roles/managing-permissions.md
  en/docs/administer/product-administration/managing-users-and-roles/managing-user-stores/configure-primary-user-store/configuring-a-read-only-ldap-user-store.md
  en/docs/administer/product-administration/managing-users-and-roles/managing-user-stores/configure-primary-user-store/configuring-a-read-write-active-directory-user-store.md
  en/docs/administer/product-administration/managing-users-and-roles/managing-user-stores/configure-primary-user-store/configuring-a-read-write-ldap-user-store.md
  en/docs/administer/product-administration/managing-users-and-roles/managing-users.md
  en/docs/administer/product-security/identity-management-for-the-api-dev-portal.md
  en/docs/administer/product-security/logins-and-passwords/maintaining-logins-and-passwords.md
  en/docs/develop/extending-api-manager/extending-key-management/writing-custom-grant-types.md
  en/docs/develop/extending-api-manager/saml2-sso/configuring-external-idp-through-identity-server-for-sso.md
  en/docs/develop/extending-api-manager/saml2-sso/configuring-identity-server-as-idp-for-sso.md
  en/docs/install-and-setup/deploying-wso2-api-manager/distributed-deployment/configuring-wso2-identity-server-as-a-key-manager.md
  en/docs/install-and-setup/product-compatibility.md
  en/docs/learn/api-security/authorization/role-based-access-control-using-xacml.md
  en/docs/learn/api-security/oauth2/grant-types/authorization-code-grant.md
  en/docs/learn/api-security/oauth2/grant-types/client-credentials-grant.md
  en/docs/learn/api-security/oauth2/grant-types/jwt-grant.md
  en/docs/learn/api-security/oauth2/securing-oauth-token-with-hmac-validation.md
  en/docs/learn/api-security/openid-connect/obtaining-user-profile-information-with-openid-connect.md
  en/docs/learn/consume-api/customizations/log-in-to-the-dev-portal-using-social-media.md
  en/docs/learn/design-api/api-versioning/enabling-notifications.md
Labels: API-M-Master

#1246 fixed links
  en/docs/administer/product-administration/managing-users-and-roles/managing-user-stores/configure-primary-user-store/configuring-a-read-only-ldap-user-store.md
  en/docs/administer/product-administration/managing-users-and-roles/managing-user-stores/configure-primary-user-store/configuring-a-read-write-ldap-user-store.md
  en/docs/administer/product-configurations/default-product-ports.md
  en/docs/develop/extending-api-manager/extending-workflows/configuring-http-redirection-for-workflows.md
  en/docs/getting-started/overview.md
  en/docs/wip/need-to-update/upgrading-wso2-api-manager/upgrading-from-200-to-310.md
  en/docs/wip/need-to-update/upgrading-wso2-api-manager/upgrading-from-210-to-310.md
  en/docs/wip/need-to-update/upgrading-wso2-api-manager/upgrading-from-220-to-310.md
Labels: API-M-Master

#1245 fix for https://github.com/wso2/docs-apim/issues/1149
  en/docs/administer/managing-users-and-roles/managing-user-stores/configure-primary-user-store/configuring-a-read-only-ldap-user-store.md
  en/docs/administer/managing-users-and-roles/managing-user-stores/configure-primary-user-store/configuring-a-read-write-ldap-user-store.md
  en/docs/develop/extending-api-manager/extending-workflows/configuring-http-redirection-for-workflows.md
  en/docs/getting-started/overview.md
  en/docs/install-and-setup/setup/reference/default-product-ports.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-1100-to-310.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-191-to-310.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-310.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-310.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-310.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-310.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-310.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-310.md
Labels: API-M-3.1.0

#1244 fix for https://github.com/wso2/docs-apim/issues/1149
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-1100-to-300.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-191-to-300.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-300.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-300.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-300.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-300.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-300.md
Labels: API-M-3.0.0

#1257 fix for https://github.com/wso2/docs-apim/issues/816 - 3.1.0
  en/docs/install-and-setup/setup/deployment-best-practices/security-guidelines-for-production-deployment.md
Labels: API-M-3.1.0

#1256 fix for https://github.com//issues/816
  en/docs/install-and-setup/deploying-wso2-api-manager/security-guidelines-for-production-deployment.md
Labels: API-M-3.0.0

#1258 fix for https://github.com/wso2/docs-apim/issues/816
  en/docs/install-and-setup/deploying-wso2-api-manager/security-guidelines-for-production-deployment.md
Labels: API-M-Master

#1260 Update the 'message-traceronly.png' for 'Message Tracing' doc
  en/docs/assets/img/learn/message-traceronly.png
Labels: API-M-Master

#1143 Adds documentation for configuring User-Agent parser.
  en/docs/learn/analytics/analyzing-apim-statistics-with-batch-analytics/viewing-api-statistics.md
  en/docs/learn/analytics/configuring-apim-analytics.md
Labels: API-M-Master
