Repository wso2/docs-apim, pull requests merged in 2021-08, with the labels that each got.

#4450 Fixes E1065
  en/docs/integrate/develop/creating-artifacts/creating-an-api.md
Labels: 4.0.0-post, APIMINTERNAL

#4452 Fix A622
  en/docs/learn/api-gateway/mutual-ssl-between-api-gateway-and-backend.md
Labels: 4.0.0-post, APIMINTERNAL

#4453 Fix A664
  en/docs/administer/logging-and-monitoring/logging/managing-log-growth.md
Labels: 4.0.0-post, API-M-3.2.0, APIMINTERNAL

#4455 Fix A623
  en/docs/learn/design-api/lifecycle-management/customize-api-life-cycle.md
Labels: API-M-3.2.0, APIMINTERNAL

#4462 Fixes A847
  en/docs/install-and-setup/setup/deployment-best-practices/security-guidelines-for-production-deployment.md
Labels: API-M-4.0.0, APIMINTERNAL

#4465 Fixes A909
  en/docs/install-and-setup/setup/single-node/configuring-an-active-active-deployment.md
Labels: API-M-4.0.0, APIMINTERNAL

#4459 Add MI version and additional param configs
  en/docs/install-and-setup/install/installing-the-product/running-the-mi-dashboard.md
  en/docs/reference/config-catalog-mi-dashboard.md
Labels: PR-Review/Pending Resolution, API-M-Master, 4.0.0-post

#4469 Fix A578
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-1100-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-310-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-320-to-400.md
Labels: API-M-4.0.0, APIMINTERNAL

#4470 Update Fix A909
  en/docs/install-and-setup/setup/reference/common-runtime-and-configuration-artifacts.md
Labels: API-M-4.0.0, APIMINTERNAL

#4473 Update mutual-ssl-between-api-gateway-and-backend.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/mutual-ssl-between-api-gateway-and-backend.md
Labels: API-M-4.0.0

#4474 Update configure-wso2is-connector.md
  en/docs/administer/key-managers/configure-wso2is-connector.md
Labels: API-M-4.0.0

#4476 Fixed broken images
  en/docs/install-and-setup/setup/deployment-best-practices/performance-test-results-mi.md
Labels: API-M-4.0.0

#4482 Error Codes for MI
  en/docs/troubleshooting/error-handling-mi.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#4479 Update payloadfactory-mediator.md
  en/docs/reference/mediators/payloadfactory-mediator.md
Labels: API-M-4.0.0

#4480 Update integration-deployments.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-integrations/integration-deployments.md
Labels: API-M-4.0.0

#4481 Update create-a-rest-api.md
  en/docs/design/create-api/create-rest-api/create-a-rest-api.md
Labels: API-M-4.0.0

#4483 Update carbon-secure-vault-implementation.md
  en/docs/install-and-setup/setup/security/logins-and-passwords/carbon-secure-vault-implementation.md
Labels: API-M-4.0.0

#4484 Update working-with-encrypted-passwords.md
  en/docs/install-and-setup/setup/security/logins-and-passwords/working-with-encrypted-passwords.md
Labels: API-M-4.0.0

#4486 Update overview.md
  en/docs/install-and-setup/setup/setting-up-databases/overview.md
Labels: API-M-4.0.0

#4485 Update README.md
  README.md
Labels: API-M-4.0.0

#4487 Change Throttling instances to Rate Limiting
  en/docs/design/rate-limiting/access-control.md
  en/docs/design/rate-limiting/adding-new-throttling-policies.md
  en/docs/design/rate-limiting/advanced-topics/custom-throttling.md
  en/docs/design/rate-limiting/enforce-throttling-and-resource-access-policies.md
  en/docs/design/rate-limiting/introducing-throttling-use-cases.md
  en/docs/design/rate-limiting/rate-limiting-for-streaming-apis.md
  en/docs/design/rate-limiting/setting-maximum-backend-throughput-limits.md
  en/docs/design/rate-limiting/setting-throttling-limits.md
Labels: API-M-4.0.0

#4501 Update api-product-overview.md
  en/docs/design/create-api-product/api-product-overview.md
Labels: API-M-4.0.0

#4490 Update overview.md
  en/docs/design/api-security/oauth2/grant-types/overview.md
Labels: API-M-4.0.0

#4495 Update apim-architecture.md
  en/docs/get-started/apim-architecture.md
Labels: API-M-4.0.0

#4497 Update updating-wso2-api-manager.md
  en/docs/administer/updating-wso2-api-manager.md
Labels: API-M-4.0.0

#4498 Update setting-up-mysql.md
  en/docs/install-and-setup/setup/mi-setup/databases/setting-up-mysql.md
Labels: API-M-4.0.0

#4499 Update setting_up_a_userstore.md
  en/docs/install-and-setup/setup/mi-setup/user_stores/setting_up_a_userstore.md
Labels: API-M-4.0.0

#4500 Update managing_users.md
  en/docs/install-and-setup/setup/mi-setup/user_stores/managing_users.md
Labels: API-M-4.0.0

#4505 Update configuring-external-idp-through-identity-server-for-sso.md
  en/docs/develop/extending-api-manager/saml2-sso/configuring-external-idp-through-identity-server-for-sso.md
Labels: API-M-3.2.0

#4506 Update backup-recovery.md
  en/docs/install-and-setup/setup/deployment-best-practices/backup-recovery.md
Labels: Type/WUM, API-M-4.0.0, Docs/TW

#4507 Update ci-cd-with-wso2-api-management.md
  en/docs/learn/api-controller/ci-cd-with-wso2-api-management.md
Labels: API-M-3.2.0, Docs/Formatting, Docs/TW

#4508 Update create-and-publish-awslambda-api.md
  en/docs/tutorials/create-and-publish-awslambda-api.md
Labels: API-M-4.0.0

#4513 New architecture
  en/docs/assets/img/get_started/architecture/apim-architecture.png
  en/docs/assets/img/get_started/architecture/wso2-apim-architecture-2.png
  en/docs/get-started/apim-architecture.md
Labels: API-M-4.0.0

#4516 Update securing-api-m-web-portals.md
  en/docs/install-and-setup/setup/security/securing-api-m-web-portals.md
Labels: API-M-4.0.0

#4517 Update vfs-transport-parameters.md
  en/docs/reference/synapse-properties/transport-parameters/vfs-transport-parameters.md
Labels: API-M-4.0.0

#4518 Fixing image name
  en/docs/assets/img/learn/delete-all-existing-resources.png
  en/docs/design/create-api/create-rest-api/create-a-rest-api.md
  en/docs/tutorials/create-and-publish-awslambda-api.md
Labels: API-M-4.0.0

#4514 Update enforce-throttling-and-resource-access-policies.md
  en/docs/learn/rate-limiting/enforce-throttling-and-resource-access-policies.md
Labels: API-M-4.0.0

#4520 Update configuring-apim-analytics.md
  en/docs/learn/analytics/configuring-apim-analytics.md
Labels: API-M-3.2.0

#4523 Fix typo
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-1100-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-310-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-320-to-400.md
Labels: API-M-4.0.0

#4525 Renamed QSGs in the structure
  en/docs/get-started/api-manager-quick-start-guide.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#4530 Update exposing-stream-as-managed-api-in-service-catalog.md
  en/docs/use-cases/streaming-usecase/exposing-stream-as-managed-api-in-service-catalog.md
Labels: API-M-4.0.0

#4536 Update importing-apis-via-dev-first-approach.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/importing-apis-via-dev-first-approach.md
Labels: API-M-4.0.0

#4537 Update configure-a-third-party-key-manager.md
  en/docs/install-and-setup/setup/distributed-deployment/configure-a-third-party-key-manager.md
Labels: API-M-4.0.0

#4538 Add Deploy API link to WebSocket page
  en/docs/includes/design/create-streaming-api/create-a-websocket-streaming-api.md
Labels: API-M-4.0.0

#4535 Update upgrading-from-is-km-500-to-5100.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-500-to-5100.md
Labels: API-M-3.2.0

#4534 Adding streaming connector extension docs
  en/docs/reference/streaming-connectors/configuring-system-parameters-for-siddhi-extensions.md
  en/docs/reference/streaming-connectors/connectors-overview.md
  en/docs/reference/streaming-connectors/downloading-and-installing-siddhi-extensions.md
  en/docs/reference/streaming-connectors/writing-custom-siddhi-extensions.md
  en/docs/use-cases/streaming-tutorials/expose-a-kafka-topic-as-a-managed-websocket-api.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#4542 Update expose-a-soap-service-as-a-rest-api.md
  en/docs/design/create-api/create-rest-api/expose-a-soap-service-as-a-rest-api.md
Labels: API-M-4.0.0

#4546 Tested and updated API-M QSG
  en/docs/assets/img/get_started/api-overview.png
  en/docs/assets/img/get_started/api-publisher-home.png
  en/docs/assets/img/get_started/design-new-rest-api.png
  en/docs/assets/img/get_started/qsg-petstore-response.jpg
  en/docs/assets/img/get_started/qsg-petstore-response.png
  en/docs/assets/img/get_started/test-api.png
  en/docs/get-started/api-manager-quick-start-guide.md
Labels: API-M-4.0.0

#4543 Update create-and-publish-websocket-api.md
  en/docs/tutorials/streaming-api/create-and-publish-websocket-api.md
Labels: API-M-4.0.0

#4550 Troubleshooting update - fixes review comments
  en/docs/troubleshooting/troubleshooting-websocket-api.md
  en/docs/tutorials/streaming-api/create-and-publish-websocket-api.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#4552 Added and resized new deployment related images
  en/docs/administer/key-managers/overview.md
  en/docs/assets/img/administer/add-km-overview.png
  en/docs/assets/img/integrate/mi-deployment.png
  en/docs/assets/img/setup-and-install/active-active-apim-deployment.png
  en/docs/assets/img/setup-and-install/basic-ha-deployment.png
  en/docs/assets/img/setup-and-install/basic-ha-with-multitenancy.png
  en/docs/assets/img/setup-and-install/basic-scalable-deployment.png
  en/docs/assets/img/setup-and-install/db-connections-distributed-deployment.png
  en/docs/assets/img/setup-and-install/gateway-connections.png
  en/docs/assets/img/setup-and-install/single-node-apim-deployment.png
  en/docs/assets/img/setup-and-install/traffic-manager-connections.png
  en/docs/assets/img/streaming/active-active-deployment/si-active-active-deployment-pattern.png
  en/docs/assets/img/streaming/deploying-si-as-a-scalable-cluster/stateful-deployment-overview.png
  en/docs/assets/img/streaming/deploying-si-as-a-scalable-cluster/stateless-deployment-overview.png
  en/docs/assets/img/streaming/deploying-si-as-a-single-node-deployment/single-node-deployment.jpg
  en/docs/assets/img/streaming/deploying-si-as-a-single-node-deployment/single-node-deployment.png
  en/docs/assets/img/streaming/deploying-si-as-minimum-ha-cluster/minimum-two-node-ha.png
  en/docs/install-and-setup/setup/deployment-overview.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup.md
  en/docs/install-and-setup/setup/mi-setup/deployment/deploying_wso2_ei.md
  en/docs/install-and-setup/setup/si-deployment/deploying-si-as-a-scalable-cluster.md
  en/docs/install-and-setup/setup/si-deployment/deploying-si-as-a-single-deployment.md
  en/docs/install-and-setup/setup/si-deployment/deploying-si-as-an-active-active-deployment.md
  en/docs/install-and-setup/setup/si-deployment/deploying-si-as-minimum-ha-cluster.md
  en/docs/install-and-setup/setup/single-node/all-in-one-deployment-overview.md
Labels: API-M-4.0.0

#4556 Update overriding-developer-portal-theme.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/overriding-developer-portal-theme.md
Labels: API-M-4.0.0

#4554 Update enable-or-disable-home-page.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/enable-or-disable-home-page.md
Labels: API-M-4.0.0

#4559 partly fixes https://github.com/wso2/docs-apim/issues/3968
  en/docs/observe/api-manager-analytics/adding-third-party-non-osgi-libraries.md
  en/docs/observe/api-manager-analytics/analytics-event-streams-and-aggregations.md
  en/docs/observe/api-manager-analytics/analyzing-apim-statistics-with-batch-analytics/using-geo-location-based-statistics/configuring-geo-location-based-statistics.md
  en/docs/observe/api-manager-analytics/analyzing-apim-statistics-with-batch-analytics/using-geo-location-based-statistics/creating-geo-location-data-set.md
  en/docs/observe/api-manager-analytics/analyzing-apim-statistics-with-batch-analytics/using-geo-location-based-statistics/writing-a-custom-geo-location-provider.md
  en/docs/observe/api-manager-analytics/configuring-alerts.md
  en/docs/observe/api-manager-analytics/configuring-analytics-for-microgateway.md
  en/docs/observe/api-manager-analytics/configuring-keystores-in-apim-analytics.md
  en/docs/observe/api-manager-analytics/creating-custom-widgets-in-analytics-dashboards.md
  en/docs/observe/api-manager-analytics/customizing-analytics-dashboards.md
  en/docs/observe/api-manager-analytics/enabling-wso2-api-m-analytics-features.md
  en/docs/observe/api-manager-analytics/managing-dashboard-permissions.md
  en/docs/observe/api-manager-analytics/monthly-api-usage-report.md
  en/docs/observe/api-manager-analytics/publishing-custom-data.md
  en/docs/observe/api-manager-analytics/purging-analytics-data.md
  en/docs/observe/api-manager-analytics/subscribing-for-alerts.md
  en/docs/observe/api-manager-analytics/viewing-api-statistics/api-analytics-dashboard.md
  en/docs/observe/api-manager-analytics/viewing-api-statistics/application-analytics-dashboard.md
  en/docs/observe/api-manager-analytics/viewing-api-statistics/business-analytics-dashboard.md
  en/docs/observe/api-manager-analytics/viewing-api-statistics/monitoring-dashboard.md
  en/docs/observe/api-manager-analytics/white-labeling-tenants.md
  en/docs/reference/analytics-rest-api.md
  en/docs/reference/product-apis/admin-apis/admin-v0.17/admin-v0.17.md
  en/docs/reference/product-apis/admin-apis/admin-v0.17/admin-v0.17.yaml
  en/docs/reference/product-apis/getting-started/guide-admin-v0.17.md
  en/docs/reference/product-apis/getting-started/guide-admin-v1.md
  en/docs/reference/product-apis/getting-started/guide-devportal-v1.md
  en/docs/reference/product-apis/getting-started/guide-gateway-v1.md
  en/docs/reference/product-apis/getting-started/guide-publisher-v1.md
Labels: API-M-4.0.0

#4557 Add note to 3.2.0 banner
  en/theme/material/partials/header.html
Labels: API-M-3.2.0

#4558 Add note to banner
  en/theme/material/partials/header.html
Labels: API-M-3.1.0

#4560 Add note to banner
  en/theme/material/partials/header.html
Labels: API-M-3.0.0

#4561 fixes https://github.com/wso2/docs-apim/issues/4303
  en/docs/assets/img/design/create-api/streaming-api/websocket-streaming-api-from-asyncapi-url-import.png
Labels: API-M-4.0.0

#4540 Add UI customization section for Admin app
  en/docs/develop/customizations/advanced-ui-customization.md
Labels: CEXP

#4553 Add UI customization section for Admin app
  en/docs/reference/customize-product/customizations/advanced-ui-customization.md
Labels: CEXP

#4566 Deprecated feature - Message tracing
  en/docs/getting-started/about-this-release.md
  en/docs/learn/api-gateway/message-tracing.md
Labels: CEXP

#4567 Update changing-the-default-mediation-flow-of-api-requests.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/message-mediation/changing-the-default-mediation-flow-of-api-requests.md
Labels: API-M-4.0.0

#4570 Update authorization-code-grant.md
  en/docs/learn/api-security/oauth2/grant-types/authorization-code-grant.md
Labels: API-M-3.2.0

#4568 Deprecated feature - Message tracing
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/message-tracing.md
  en/docs/get-started/about-this-release.md
Labels: CEXP

#4551 Update securing-api-m-web-portals.md
  en/docs/install-and-setup/setup/security/securing-api-m-web-portals.md
Labels: API-M-4.0.0

#4596 Update screencaps in Create REST API doc
  en/docs/assets/img/learn/design-configuration.png
  en/docs/assets/img/learn/overviewpage-rest-api.png
  en/docs/design/create-api/create-rest-api/create-a-rest-api.md
Labels: API-M-4.0.0
