Repository wso2/docs-apim, pull requests merged in 2021-04, with the labels that each got.

#3262 Update Devportal REST API Docs
  en/docs/reference/product-apis/devportal-apis/devportal-v2/devportal-v2.yaml
Labels: API-M-4.0.0, PR-Review/Pending Resolution, PR-Review/Phase-1

#3464 fixes https://github.com/wso2/docs-apim/pull/3457
  en/docs/install-and-setup/setup/security/logins-and-passwords/working-with-encrypted-passwords.md
Labels: API-M-4.0.0

#3281 Update Publisher Rest API docs
  en/docs/reference/product-apis/publisher-apis/publisher-v2/publisher-v2.yaml
Labels: API-M-4.0.0, PR-Review/Pending Resolution, PR-Review/Phase-1

#3290 Updated the gateway api
  en/docs/reference/product-apis/gateway-apis/gateway-v1/gateway-v1.yaml
Labels: API-M-4.0.0

#3303 Update control-api-visibility-and-subscription-availability-in-develo…
  en/docs/learn/design-api/advanced-topics/control-api-visibility-and-subscription-availability-in-developer-portal.md
Labels: API-M-3.2.0

#3383 Adding reserved user docs for email login
  en/docs/install-and-setup/setup/security/logins-and-passwords/maintaining-logins-and-passwords.md
Labels: API-M-4.0.0

#3461 Update the tryout API docs
  en/docs/assets/img/design/create-api/test-api/publisher-testconsole-generatekey.png
  en/docs/assets/img/design/create-api/test-api/publisher-testconsole-leftpane.png
  en/docs/design/create-api/test-a-rest-api.md
Labels: API-M-4.0.0, PR-Review/Pending Resolution

#3489 fixes a formatting issue
  en/docs/design/create-api/test-a-rest-api.md
Labels: API-M-4.0.0

#3460 Update jwt validation doc
  en/docs/deploy-and-publish/deploy-on-gateway/api-microgateway/security/api-authentication/secure-apis-using-oauth2.0-access-tokens/secure-apis-using-jwt-self-contained-jwt.md
Labels: API-M-4.0.0, component/microgateway

#3443 Add SOAP UI testing steps for Proxy Service security
  en/docs/assets/img/integrate/apply-security/soapui/adding-encryption-entry.png
  en/docs/assets/img/integrate/apply-security/soapui/adding-signature-entry.png
  en/docs/assets/img/integrate/apply-security/soapui/adding-timestamp-entry.png
  en/docs/assets/img/integrate/apply-security/soapui/create-keystore.png
  en/docs/assets/img/integrate/apply-security/soapui/create-outgoing-wss-configuration.png
  en/docs/assets/img/integrate/apply-security/soapui/create-soapui-project.png
  en/docs/assets/img/integrate/apply-security/soapui/invoking-username-token.png
  en/docs/assets/img/integrate/apply-security/soapui/invoking-with-out-policy.png
  en/docs/integrate/develop/advanced-development/applying-security-to-a-proxy-service.md
  en/docs/integrate/develop/creating-artifacts/data-services/securing-data-services.md
Labels: API-M-4.0.0, component/micro-integrator

#3513 fixes https://github.com/wso2/docs-apim/issues/3510
  en/docs/design/rate-limiting/rate-limiting-for-streaming-apis.md
  en/docs/includes/design/create-streaming-api/create-a-sse-streaming-api.md
  en/docs/includes/design/create-streaming-api/create-a-streaming-api-from-an-asyncapi-definition.md
  en/docs/includes/design/create-streaming-api/create-a-websocket-streaming-api.md
  en/docs/includes/design/create-streaming-api/create-a-websub-streaming-api.md
  en/docs/includes/design/create-streaming-api/streaming-api-overview.md
  en/docs/includes/design/create-streaming-api/test-a-websub-api.md
  en/docs/tutorials/streaming-api/create-and-publish-sse-api.md
  en/docs/tutorials/streaming-api/create-and-publish-websocket-api.md
  en/docs/tutorials/streaming-api/create-and-publish-websub-api.md
Labels: API-M-4.0.0

#3514 fixes https://github.com/wso2/docs-apim/issues/3510
  en/docs/design/rate-limiting/adding-new-throttling-policies.md
  en/docs/includes/design/create-streaming-api/create-a-streaming-api-from-an-asyncapi-definition.md
  en/docs/includes/design/create-streaming-api/create-a-websocket-streaming-api.md
  en/docs/includes/design/create-streaming-api/test-a-websub-api.md
  en/docs/tutorials/streaming-api/create-and-publish-websub-api.md
Labels: API-M-4.0.0

#3474 Add CI/CD docs for MI
  en/docs/assets/img/deploy/mi-cicd-K8s.png
  en/docs/assets/img/deploy/mi-cicd-VM.png
  en/docs/install-and-setup/setup/mi-setup/deployment/mi-cicd-k8s.md
  en/docs/install-and-setup/setup/mi-setup/deployment/mi-cicd-overview.md
  en/docs/install-and-setup/setup/mi-setup/deployment/mi-cicd-vm.md
  en/mkdocs.yml
Labels: API-M-4.0.0, PR-Review/In-progress, PR-Review/Pending Resolution, component/micro-integrator

#3515 Jaeger tracing documentation updates
  en/docs/administer/logging-and-monitoring/monitoring/monitoring-with-opentracing.md
Labels: APIMINTERNAL, CEXP

#3508 Migration docs improvements
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-310-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-320-to-400.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#3526 fixes https://github.com/wso2/docs-apim/issues/3525
  en/docs/assets/img/streaming/working-with-async-api/access-service-catalog.png
  en/docs/includes/design/create-streaming-api/create-a-websocket-streaming-api.md
  en/docs/includes/design/create-streaming-api/test-a-websub-api.md
  en/docs/includes/design/stream-more-links.md
  en/docs/tutorials/streaming-api/create-and-publish-sse-api.md
  en/docs/tutorials/streaming-api/create-and-publish-websocket-api.md
  en/docs/tutorials/streaming-api/create-and-publish-websub-api.md
  en/docs/use-cases/streaming-usecase/exposing-stream-as-managed-api-in-service-catalog.md
  en/docs/use-cases/streaming-usecase/exposing-stream-as-managed-api-in-service-catalogue.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#3527 fixing broken links
  en/docs/includes/design/create-streaming-api/test-a-websub-api.md
  en/docs/use-cases/streaming-usecase/exposing-stream-as-managed-api-in-service-catalog.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#3530 fixing a broken link
  en/docs/includes/design/create-streaming-api/test-a-websub-api.md
Labels: API-M-4.0.0

#3536 fixing links
  en/docs/includes/design/create-streaming-api/create-a-websocket-streaming-api.md
  en/docs/includes/design/create-streaming-api/test-a-websub-api.md
Labels: API-M-4.0.0

#3477 Receiving events via Kafka and Publishing to WebSocket
  en/docs/use-cases/streaming-tutorials/receiving-events-via-kafka-and-publishing-to-websocket.md
Labels: API-M-4.0.0, component/streaming-integrator

#3558 Fixed broken links and updates
  en/docs/get-started/overview.md
  en/docs/get-started/quick-start-guide/integration-qsg.md
  en/docs/get-started/quick-start-guide/quick-start-guide.md
  en/docs/get-started/quick-start-guide/streaming-qsg.md
  en/docs/includes/design/create-streaming-api/streaming-api-overview.md
  en/docs/includes/design/stream-more-links.md
  en/docs/install-and-setup/install/installing-the-product/installing-si-in-vm.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#3493 Add windows related info for mtls
  en/docs/design/api-security/api-authentication/secure-apis-using-mutual-ssl.md
  en/docs/install-and-setup/install/running-the-product.md
Labels: API-M-4.0.0

#3576 renamed images to fix broken links
  en/docs/assets/img/integrate/tutorials/service-catalog/metadata-folder-service-catalog.png
  en/docs/assets/img/integrate/tutorials/service-catalog/project-explorer-service-catalog.png
Labels: API-M-4.0.0

#3520 remove js sort on string versions
  en/docs/assets/js/theme.js
Labels: API-M-4.0.0

#3572 fixes https://github.com/wso2/docs-apim/issues/3571
  en/docs/includes/streaming/enable-publishing.md
  en/docs/tutorials/tutorials-overview.md
  en/docs/use-cases/streaming-tutorials/expose-a-kafka-topic-as-a-managed-websocket-api.md
  en/docs/use-cases/streaming-tutorials/receiving-events-via-kafka-and-publishing-to-websocket.md
  en/docs/use-cases/streaming-tutorials/tutorials-overview.md
  en/docs/use-cases/streaming-usecase/exposing-stream-as-managed-api-in-service-catalog.md
  en/mkdocs.yml
Labels: API-M-4.0.0, component/streaming-integrator

#3504 Update tone integration docs - 3
  en/docs/reference/connectors/deploy-capp.md
  en/docs/reference/connectors/importing-connector-to-integration-studio-copy.md
Labels: API-M-4.0.0

#3580 Clean up and fix Migration docs for 4.0.0
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-1100-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-191-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-310-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-320-to-400.md
Labels: API-M-4.0.0

#3516 Moving API Operator docs to APIM Docs
  en/docs/assets/img/learn/kubernetes-operators/how-api-operator-works.png
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/configuration-overview.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/install.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/k8s-api-operator.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-apis/api-deployments.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-integrations/integration-deployments.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-integrations/integration-samples/content-based-routing.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-integrations/integration-samples/hello-world.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-integrations/integration-samples/jms-sender-receiver.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/overview.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/troubleshooting.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#3570 Updated Streaming API related docs
  en/docs/develop/streaming-apps/streaming-integrator-studio-overview.md
  en/docs/develop/streaming-apps/working-with-the-async-api-view.md
  en/docs/includes/design/create-streaming-api/streaming-api-overview.md
  en/docs/includes/design/stream-more-links.md
  en/docs/streaming/streaming-overview.md
  en/docs/tutorials/tutorials-overview.md
  en/docs/use-cases/streaming-tutorials/tutorials-overview.md
  en/docs/use-cases/streaming-usecase/exposing-stream-as-managed-api-in-service-catalog.md
Labels: API-M-4.0.0, component/streaming-integrator

#3606 change wso2server.sh to api-manager.sh
  en/docs/administer/logging-and-monitoring/monitoring/jmx-based-monitoring.md
  en/docs/administer/logging-and-monitoring/monitoring/working-with-observability.md
  en/docs/administer/multitenancy/adding-new-tenants.md
  en/docs/administer/multitenancy/configuring-the-tenant-loading-policy.md
  en/docs/administer/multitenancy/introduction-to-multitenancy.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/api-gateways-with-dedicated-backends.md
  en/docs/design/api-security/oauth2/grant-types/saml-extension-grant.md
  en/docs/design/api-security/oauth2/oauth2-scopes/fine-grained-access-control-with-oauth-scopes.md
  en/docs/design/api-security/threat-protection/bot-detection.md
  en/docs/get-started/quick-start-guide/quick-start-guide.md
  en/docs/install-and-setup/install/admin-product-startup-options.md
  en/docs/install-and-setup/install/installing-the-product/installing-the-binary/installing-as-a-linux-service.md
  en/docs/install-and-setup/install/running-the-product.md
  en/docs/install-and-setup/setup/deployment-best-practices/changing-the-default-ports-with-offset.md
  en/docs/install-and-setup/setup/deployment-best-practices/production-deployment-guidelines.md
  en/docs/install-and-setup/setup/deployment-best-practices/security-guidelines-for-production-deployment.md
  en/docs/install-and-setup/setup/deployment-best-practices/tuning-performance.md
  en/docs/install-and-setup/setup/distributed-deployment/configuring-the-gateway-in-a-distributed-environment-with-rsync.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup.md
  en/docs/install-and-setup/setup/distributed-deployment/product-profiles.md
  en/docs/install-and-setup/setup/security/enabling-hostname-verification.md
  en/docs/install-and-setup/setup/security/enabling-java-security-manager.md
  en/docs/install-and-setup/setup/security/logins-and-passwords/set-passwords-using-vars-and-sys-props.md
  en/docs/install-and-setup/setup/security/logins-and-passwords/working-with-encrypted-passwords.md
  en/docs/install-and-setup/setup/setting-up-databases/changing-default-databases/changing-to-oracle.md
  en/docs/install-and-setup/setup/single-node/configuring-a-single-node.md
  en/docs/install-and-setup/setup/single-node/configuring-an-active-active-deployment.md
  en/docs/install-and-setup/setup/single-node/configuring-apim-analytics.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-1100-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-310-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-320-to-400.md
  en/docs/observe/api-manager-analytics/configuring-apim-analytics.md
  en/docs/reference/customize-product/customizations/customizing-login-pages-for-dev-portal-and-publisher.md
  en/docs/reference/faq.md
  en/docs/reference/wso2-admin-services.md
  en/docs/wip/deleted-pages/changing-to-embedded-derby.md
  en/docs/wip/deleted-pages/changing-to-embedded-h2.md
Labels: API-M-4.0.0

#3600 Add doc for token revocation event publish extension point for third party km
  en/docs/learn/api-security/oauth2/token-revocation.md
Labels: API-M-3.2.0, PR/Reviewer-Updated

#3613 Adds APIM Analytics Overview page
  en/docs/assets/img/observe/apim-analytics-overview-page.png
  en/docs/assets/img/observe/apim-analytics-simplified.jpg
  en/docs/observe/api-manager-analytics/overview-of-api-analytics.md
Labels: API-M-4.0.0, PR-Review/Pending Resolution

#3617 Update Migrating Encrypted Passwords docs
  en/docs/assets/attachments/migration/micro-integrator/carbon.properties
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.1.0.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.1.1.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.2.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.3.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.4.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.5.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.6.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-7.0.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-esb-5.x.x.md
Labels: API-M-4.0.0, PR-Review/Pending Resolution, PR-Review/technical-review-done, component/migration

#3642 Master cr
  en/docs/administer/logging-and-monitoring/monitoring/working-with-observability.md
  en/docs/assets/img/common/service-catalog/create-api-from-service.png
  en/docs/assets/img/common/service-catalog/new-api-view.png
  en/docs/assets/img/common/service-catalog/service-overview.png
  en/docs/assets/img/common/service-catalog/services-catalog-list.png
  en/docs/assets/img/common/service-catalog/view-api-definition.png
  en/docs/assets/img/integrate/service-catalog/create-api-from-service.png
  en/docs/assets/img/integrate/service-catalog/new-api-list.png
  en/docs/assets/img/integrate/service-catalog/new-api-view.png
  en/docs/assets/img/integrate/service-catalog/service-overview.png
  en/docs/assets/img/integrate/service-catalog/view-api-definition.png
  en/docs/consume/invoke-apis/invoke-apis-using-tools/invoke-an-api-using-the-integrated-api-console.md
  en/docs/consume/manage-application/advanced-topics/adding-an-application-key-generation-workflow-using-bps.md
  en/docs/consume/manage-application/advanced-topics/adding-an-application-key-generation-workflow.md
  en/docs/consume/manage-subscription/subscribe-to-an-api.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/message-mediation/changing-the-default-mediation-flow-of-api-requests.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/message-mediation/creating-and-uploading-using-integration-studio.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/message-mediation/passing-a-custom-authorization-token-to-the-backend.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/mutual-ssl-between-api-gateway-and-backend.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/response-caching.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-to-choreo-connect.md
  en/docs/deploy-and-publish/publish-on-dev-portal/publish-an-api.md
  en/docs/deploy-and-publish/publish-on-dev-portal/publish-to-multiple-external-api-stores.md
  en/docs/design/advanced-topics/adding-an-api-state-change-workflow-using-bps.md
  en/docs/design/advanced-topics/adding-an-api-state-change-workflow.md
  en/docs/design/advanced-topics/block-subscription-to-an-api.md
  en/docs/design/advanced-topics/control-api-visibility-and-subscription-availability-in-developer-portal.md
  en/docs/design/advanced-topics/enable-publisher-access-control-in-api-publisher-portal.md
  en/docs/design/advanced-topics/enabling-cors-for-apis.md
  en/docs/design/api-documentation/add-api-documentation.md
  en/docs/design/api-security/api-authentication/secure-apis-using-mutual-ssl.md
  en/docs/design/api-security/api-authentication/secure-apis-using-oauth2-tokens.md
  en/docs/design/api-security/api-authentication/securing-apis-using-certificate-bound-access-tokens.md
  en/docs/design/api-security/authorization/role-based-access-control-using-xacml.md
  en/docs/design/api-security/oauth2/oauth2-scopes/fine-grained-access-control-with-oauth-scopes.md
  en/docs/design/api-versioning/create-a-new-api-version.md
  en/docs/design/create-api/create-a-graphql-api.md
  en/docs/design/create-api/create-an-api-using-a-service.md
  en/docs/design/create-api/create-api-from-service.md
  en/docs/design/create-api/create-rest-api/create-a-rest-api-from-an-openapi-definition.md
  en/docs/design/create-api/create-rest-api/create-a-rest-api.md
  en/docs/design/create-api/create-rest-api/expose-a-soap-service-as-a-rest-api.md
  en/docs/design/create-api/create-rest-api/generate-rest-api-from-soap-backend.md
  en/docs/design/create-api/create-rest-api/test-a-rest-api.md
  en/docs/design/design-api-overview.md
  en/docs/design/endpoints/certificates.md
  en/docs/design/endpoints/endpoint-security/basic-auth.md
  en/docs/design/endpoints/endpoint-security/digest-auth.md
  en/docs/design/endpoints/endpoint-security/oauth-2.0.md
  en/docs/design/endpoints/high-availability-for-endpoints.md
  en/docs/design/endpoints/resiliency/prevent-api-suspension.md
  en/docs/design/prototype-api/create-a-mock-api-with-an-inline-script.md
  en/docs/includes/design/stream-more-links.md
  en/docs/tutorials/create-and-publish-awslambda-api.md
  en/docs/tutorials/edit-an-api-by-modifyng-the-api-definition.md
  en/docs/use-cases/streaming-tutorials/expose-a-kafka-topic-as-a-managed-websocket-api.md
  en/docs/wip/create-and-publish-awslambda-api.md~HEAD
  en/docs/wip/create-and-publish-awslambda-api.md~f1a286311f597b823fe3077c22eead7563e3171e
  en/mkdocs.yml
Labels: API-M-4.0.0

#3647 fixing warning in mkdocs
  en/mkdocs.yml
Labels: API-M-4.0.0

#3660 Update the About this Release section of APICTL and corrected the examples of undeploy and get commands
  en/docs/get-started/about-this-release.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/importing-apis-via-dev-first-approach.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/managing-apis-and-api-products.md
Labels: API-M-4.0.0

#3682 Update screenshots of Custom Authorization and Disable Message Chunking docs
  en/docs/assets/img/learn/api-gateway/message-mediation/disable-chunking.png
  en/docs/assets/img/learn/api-gateway/message-mediation/dynamic-endpoints.png
  en/docs/assets/img/learn/api-gateway/message-mediation/token-exchange-seq-upload.png
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/message-mediation/changing-the-default-mediation-flow-of-api-requests.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/message-mediation/disabling-message-chunking.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/message-mediation/passing-a-custom-authorization-token-to-the-backend.md
Labels: API-M-4.0.0

#3583 add a note on migration docs related to AM_API unique constraint
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-310-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-320-to-400.md
Labels: API-M-4.0.0, PR-Review/Pending Resolution, PR/Reviewer-Updated

#3690 Updated screenshots in api-gateway/threat-protectors
  en/docs/assets/img/learn/json-validator.png
  en/docs/assets/img/learn/mediation-json-validator.png
  en/docs/assets/img/learn/mediation-regex-policy.png
  en/docs/assets/img/learn/mediation-regex_policy.png
  en/docs/assets/img/learn/mediation-xml-validator.png
  en/docs/assets/img/learn/mediation-xml_validator.png
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/threat-protectors/json-threat-protection-for-api-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/threat-protectors/regular-expression-threat-protection-for-api-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/threat-protectors/xml-threat-protection-for-api-gateway.md
Labels: PR-Review/Pending Resolution

#3710 Updating screenshots and markdown of "Invoke an API Using a SOAP Client"
  en/docs/assets/attachments/103332601/soap-ui-dummy-request.png
  en/docs/assets/attachments/103332601/soap-ui-new-project.png
  en/docs/assets/attachments/103332601/soap-ui-project-wizard.png
  en/docs/assets/attachments/103332601/soap-ui-set-header.png
  en/docs/assets/attachments/103332601/soap-ui-set-path.png
  en/docs/assets/attachments/103332601/soap-ui-set-token.png
  en/docs/assets/attachments/103332601/soap-ui-valid-request.png
  en/docs/assets/img/learn/generate-keys-phone-verification.png
  en/docs/assets/img/learn/oauth2-phone-verification.png
  en/docs/assets/img/learn/subscribe-phone-verification.png
  en/docs/consume/invoke-apis/invoke-apis-using-tools/invoke-an-api-using-a-soap-client.md
Labels: API-M-4.0.0, Docs/Screenshot

#3725 Refactor image references and update screenshots in client-credentials-grant page
  en/docs/assets/img/learn/client-credentials.png
  en/docs/deploy-and-publish/publish-on-dev-portal/publish-to-multiple-external-api-stores.md
  en/docs/design/api-security/oauth2/grant-types/authorization-code-grant.md
  en/docs/design/api-security/oauth2/grant-types/client-credentials-grant.md
  en/docs/design/create-api/create-rest-api/generate-rest-api-from-soap-backend.md
  en/docs/tutorials/expose-a-soap-service-as-a-rest-api.md
Labels: API-M-4.0.0, Docs/Screenshot

#3716 update screenshots on API Security
  en/docs/assets/img/learn/api-key-option.png
  en/docs/assets/img/learn/auth_header.png
  en/docs/assets/img/learn/basic_authentication.png
  en/docs/assets/img/learn/custom-auth-header-publisher.png
  en/docs/assets/img/learn/enable-mutual-ssl.png
  en/docs/assets/img/learn/generate-api-key.png
  en/docs/assets/img/learn/http-referer-api-key.png
  en/docs/assets/img/learn/ip-api-key.png
  en/docs/assets/img/learn/multiple-km-devportal.png
  en/docs/assets/img/learn/multiple-km-publisher.png
  en/docs/assets/img/learn/registry-browse.png
  en/docs/assets/img/learn/subscribe-to-api.png
  en/docs/assets/img/learn/view-credentials-manage-app.png
  en/docs/design/api-security/api-authentication/api-authentication-overview.md
  en/docs/design/api-security/api-authentication/secure-apis-using-api-keys.md
  en/docs/design/api-security/api-authentication/secure-apis-using-basic-authentication.md
  en/docs/design/api-security/api-authentication/secure-apis-using-mutual-ssl.md
  en/docs/design/api-security/api-authentication/secure-apis-using-oauth2-tokens.md
Labels: API-M-4.0.0, Docs/Screenshot, PR-Review/Pending Resolution

#3733 Screenshot and markdown modifications for "Invoke GraphQL API Using the Intergreted GraphQL Console"
  en/docs/assets/img/learn/graphql-api-copy-access-token.png
  en/docs/assets/img/learn/graphql-console-execute-query.png
  en/docs/assets/img/learn/graphql-console-test-button.png
  en/docs/assets/img/learn/graphql-console-try-button.png
  en/docs/assets/img/learn/graphql-generate-keys-production.png
  en/docs/assets/img/learn/graphql-response-query.png
  en/docs/assets/img/learn/navigate-to-oauth-tokens-graphql-console.png
  en/docs/assets/img/learn/subscribe-to-graphql-api.png
  en/docs/consume/invoke-apis/invoke-apis-using-tools/invoke-an-graphql-api-using-the-integrated-graphql-console.md
Labels: API-M-4.0.0, Docs/Screenshot

#3734 Update 'Enforce Throttling and Resource Access Policies' and 'Setting Maximum Backend Throughput Limits' pages
  en/docs/assets/img/learn/learn-throttling-enter-query.png
  en/docs/assets/img/learn/learn-throttling-error-response.png
  en/docs/assets/img/learn/learn-throttling-generate-keys.png
  en/docs/assets/img/learn/learn-throttling-isapplication-subscribed.png
  en/docs/assets/img/learn/learn-throttling-maxtps.png
  en/docs/assets/img/learn/learn-throttling-query-response.png
  en/docs/assets/img/learn/learn-throttling-tryout.png
  en/docs/assets/img/learn/select-api.png
  en/docs/design/rate-limiting/enforce-throttling-and-resource-access-policies.md
  en/docs/design/rate-limiting/engaging-a-new-throttling-policy-at-runtime.md
  en/docs/design/rate-limiting/setting-maximum-backend-throughput-limits.md
Labels: API-M-4.0.0, Docs/Screenshot, PR/Reviewer-Updated

#3736 Updating screenshots of "Interact With the Community" Section in APIM Docs
  en/docs/assets/img/consume/community-features/apis-select-devportal.png
  en/docs/assets/img/consume/community-features/developer-portal-reply-to-comment.png
  en/docs/assets/img/consume/community-features/devportal-add-new-comment.png
  en/docs/assets/img/consume/community-features/devportal-api-already-rated.png
  en/docs/assets/img/consume/community-features/devportal-api-overview-select-rating.png
  en/docs/assets/img/design/community-features/devportal-community-links-with-slack-github.png
  en/docs/assets/img/design/community-features/devportal-default-community-links.png
  en/docs/consume/collaboration/interact-with-the-community.md
Labels: API-M-4.0.0, Docs/Screenshot

#3735 update screenshots in application related pages
  en/docs/assets/img/learn/application-key-generation.png
  en/docs/assets/img/learn/application-key-secret-view.png
  en/docs/assets/img/learn/application-overview.png
  en/docs/assets/img/learn/jwt-access-token.png
  en/docs/consume/manage-application/generate-keys/generate-api-keys.md
Labels: API-M-4.0.0, Docs/Screenshot, PR-Review/Pending Resolution

#3738 Update images and review documents, comments & social interaction pages
  en/docs/assets/img/design/community-features/devportal-community-links-with-slack-github.png
  en/docs/assets/img/design/community-features/devportal-default-community-links.png
  en/docs/assets/img/design/community-features/publisher-community-link-basic-info.png
  en/docs/assets/img/design/community-features/publisher-slack-urls.png
  en/docs/assets/img/learn/add-docs-add-content.png
  en/docs/assets/img/learn/add-docs-all.png
  en/docs/assets/img/learn/add-docs-create-inline.png
  en/docs/assets/img/learn/add-docs-documents.png
  en/docs/assets/img/learn/add-docs-edit-content.png
  en/docs/assets/img/learn/add-docs-forum-type.png
  en/docs/assets/img/learn/add-docs-markdown-add-content.png
  en/docs/assets/img/learn/add-docs-markdown-editor.png
  en/docs/assets/img/learn/add-docs-markdown-view.png
  en/docs/assets/img/learn/add-docs-markdown.png
  en/docs/assets/img/learn/add-docs-pdf-file.png
  en/docs/assets/img/learn/add-docs-update-content.png
  en/docs/assets/img/learn/add-docs-url-type.png
  en/docs/assets/img/learn/select-api.png
  en/docs/assets/img/learn/view-docs-api.png
  en/docs/assets/img/learn/view-docs-devportal.png
  en/docs/design/api-collaborations/comment-on-an-api-via-the-publisher.md
  en/docs/design/api-collaborations/enable-social-media-interaction.md
  en/docs/design/api-documentation/add-api-documentation.md
Labels: API-M-4.0.0, Docs/Screenshot, PR-Review/Pending Resolution

#3726 Kubernetes deployment docs revamped - draft
  en/docs/install-and-setup/install/deploying-api-manager-with-kubernetes-or-openshift-resources.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/install.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-apis/api-deployments.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-integrations/integration-deployments.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-wso2am-operator.md
  en/docs/install-and-setup/setup/mi-setup/deployment/kubernetes_deployment.md
  en/docs/install-and-setup/setup/mi-setup/deployment/kubernetes_deployment_patterns.md
  en/docs/reference/k8s-operators/k8s-api-operator.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#3699 Content for scenario 1
  en/docs/assets/img/tutorials/scenarios/coltrain-public-dev.png
  en/docs/assets/img/tutorials/scenarios/create-api-oas-def.png
  en/docs/assets/img/tutorials/scenarios/create-coltrain-public-api.png
  en/docs/assets/img/tutorials/scenarios/deploy-coltrain-public.png
  en/docs/assets/img/tutorials/scenarios/import-oas-def.png
  en/docs/assets/img/tutorials/scenarios/oas-def-import.png
  en/docs/assets/img/tutorials/scenarios/resource-security.png
  en/docs/assets/img/tutorials/scenarios/tryout-result.png
  en/docs/assets/img/tutorials/scenarios/tryout.png
  en/docs/tutorials/scenarios/scenario1-create-rest-api.md
Labels: API-M-4.0.0, PR-Review/Pending Resolution

#3744 apictl command reference doc
  en/docs/reference/apictl/wso2-api-controller.md
Labels: API-M-4.0.0

#3715 Add API-M Tutorial scenarios
  en/docs/assets/img/tutorials/scenarios/acl-description.png
  en/docs/assets/img/tutorials/scenarios/apply-policy.png
  en/docs/assets/img/tutorials/scenarios/approve.png
  en/docs/assets/img/tutorials/scenarios/coltrain-internal-api-create.png
  en/docs/assets/img/tutorials/scenarios/connector-config.png
  en/docs/assets/img/tutorials/scenarios/create-scope.png
  en/docs/assets/img/tutorials/scenarios/dev-portal-community.png
  en/docs/assets/img/tutorials/scenarios/gen-keys.png
  en/docs/assets/img/tutorials/scenarios/graphql-schema-import.png
  en/docs/assets/img/tutorials/scenarios/import-graphql.png
  en/docs/assets/img/tutorials/scenarios/invoke-policy-api.png
  en/docs/assets/img/tutorials/scenarios/keycloak-app.png
  en/docs/assets/img/tutorials/scenarios/km-desc.png
  en/docs/assets/img/tutorials/scenarios/login-forbidden.png
  en/docs/assets/img/tutorials/scenarios/max-throughput.png
  en/docs/assets/img/tutorials/scenarios/not-visible.png
  en/docs/assets/img/tutorials/scenarios/postman.png
  en/docs/assets/img/tutorials/scenarios/resp-time-graph.png
  en/docs/assets/img/tutorials/scenarios/response-graphql.png
  en/docs/assets/img/tutorials/scenarios/sample-policy.png
  en/docs/assets/img/tutorials/scenarios/sdk-response.png
  en/docs/assets/img/tutorials/scenarios/select-graphql.png
  en/docs/assets/img/tutorials/scenarios/set-scope.png
  en/docs/assets/img/tutorials/scenarios/set-visibility.png
  en/docs/assets/img/tutorials/scenarios/signup-config.png
  en/docs/assets/img/tutorials/scenarios/signup-desc.png
  en/docs/assets/img/tutorials/scenarios/signup-start-pg.png
  en/docs/assets/img/tutorials/scenarios/subscribe-policy-api.png
  en/docs/assets/img/tutorials/scenarios/throttle-desc.png
  en/docs/assets/img/tutorials/scenarios/throttleout-api.png
  en/docs/assets/img/tutorials/scenarios/throttleout-backend.png
  en/docs/assets/img/tutorials/scenarios/throttling-description.png
  en/docs/assets/img/tutorials/scenarios/usage-graph.png
  en/docs/assets/img/tutorials/scenarios/usage-ot-graph.png
  en/docs/assets/img/tutorials/scenarios/view-graphql.png
  en/docs/assets/img/tutorials/scenarios/visible.png
  en/docs/tutorials/scenarios/scenario11-graphql.md
  en/docs/tutorials/scenarios/scenario14-external-key-manager.md
  en/docs/tutorials/scenarios/scenario2-access-control.md
  en/docs/tutorials/scenarios/scenario4-user-signup-approval-flow.md
  en/docs/tutorials/scenarios/scenario5-developer-community-feature.md
  en/docs/tutorials/scenarios/scenario7-analytics.md
  en/docs/tutorials/scenarios/scenario8-rate-limiting.md
  en/mkdocs.yml
Labels: API-M-4.0.0, PR-Review/Pending Resolution

#3747 operator doc structure
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/overview.md
  en/docs/reference/k8s-operators/k8s-api-operator.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#3748 distributed deployment diagrams
  en/docs/assets/img/setup-and-install/gateway-connections.png
  en/docs/assets/img/setup-and-install/traffic-manager-connections.png
Labels: API-M-4.0.0

#3746 Adds Analytics pages introduction section
  en/docs/assets/img/observe/environment-picker.png
  en/docs/assets/img/observe/tenant-picker.png
  en/docs/assets/img/observe/time-picker-custom.png
  en/docs/assets/img/observe/time-picker-list.png
  en/docs/assets/img/observe/time-picker.png
  en/docs/observe/api-manager-analytics/analytics-pages/analytics-pages-introduction.md
  en/docs/observe/api-manager-analytics/analytics-pages/analytics-pages-latency.md
  en/docs/observe/api-manager-analytics/analytics-pages/analytics-pages-report.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#3764 Shorten descriptions in landing page
  en/docs/index.md
Labels: API-M-4.0.0

#3702 Add scenarios to the tutorials
  en/docs/assets/img/tutorials/scenarios/employee_database.png
  en/docs/assets/img/tutorials/scenarios/employee_resources_apim.png
  en/docs/assets/img/tutorials/scenarios/integration_studio_connectors.png
  en/docs/assets/img/tutorials/scenarios/integration_studio_dataservice.png
  en/docs/assets/img/tutorials/scenarios/integration_studio_view.png
  en/docs/assets/img/tutorials/scenarios/notification_api_topics.png
  en/docs/assets/img/tutorials/scenarios/notification_subscribe_devportal.png
  en/docs/assets/img/tutorials/scenarios/notification_topic_configuration.png
  en/docs/assets/img/tutorials/scenarios/notification_topic_secret.png
  en/docs/assets/img/tutorials/scenarios/realtime_api_devportal.png
  en/docs/assets/img/tutorials/scenarios/realtime_api_subscriptions.png
  en/docs/assets/img/tutorials/scenarios/scenario_exposing_datasource.png
  en/docs/assets/img/tutorials/scenarios/scenario_guaranteed_message_delivery.png
  en/docs/assets/img/tutorials/scenarios/scenario_implement_api.png
  en/docs/assets/img/tutorials/scenarios/scenario_integrate_connectors.png
  en/docs/assets/img/tutorials/scenarios/scenario_notification_api.png
  en/docs/assets/img/tutorials/scenarios/scenario_real_time_notifications.png
  en/docs/assets/img/tutorials/scenarios/service_catalog_detail_view.png
  en/docs/assets/img/tutorials/scenarios/service_catalog_view.png
  en/docs/assets/img/tutorials/scenarios/streaming_api_tooling.png
  en/docs/tutorials/scenarios/scenario10-notifications-webhooks.md
  en/docs/tutorials/scenarios/scenario12- message-delivery.md
  en/docs/tutorials/scenarios/scenario12-message-delivery.md
  en/docs/tutorials/scenarios/scenario13-integrate-with-connectors.md
  en/docs/tutorials/scenarios/scenario3-implementing-an-api.md
  en/docs/tutorials/scenarios/scenario6-integrating-with-data-sources.md
  en/docs/tutorials/scenarios/scenario9-realtime-data.md
  en/mkdocs.yml
Labels: API-M-4.0.0, PR-Review/Pending Resolution

#3756 Update choreo connect docs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-to-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/support-custom-claims-mapping.md
  en/docs/includes/invoke-api-with-api-key.md
  en/docs/includes/invoke-api-with-jwt.md
  en/docs/includes/obtain-api-key.md
  en/docs/includes/obtain-jwt.md
Labels: API-M-4.0.0, PR-Review/Pending Resolution

#3771 Add Registry DB clean up scripts
  en/docs/install-and-setup/setup/setting-up-databases/managing-data-growth-and-improving-performance.md
  en/mkdocs.yml
Labels: API-M-3.1.0, CEXP

#3774 Jaeger tracing related info
  en/docs/install-and-setup/setup/mi-setup/observability/setting-up-cloud-native-observability-in-kubernetes.md
  en/docs/install-and-setup/setup/mi-setup/observability/setting-up-minimum-basic-observability-deployment.md
Labels: CEXP

#3741 Update monetization docs to latest version
  en/docs/assets/img/learn/disable-monetization.png
  en/docs/assets/img/learn/enable-monetization.png
  en/docs/assets/img/learn/subscription-commercial-tier.png
  en/docs/assets/img/learn/subscription-details-publisher.png
  en/docs/assets/img/learn/subscription-dev-portal.png
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-4.0.0, Docs/Screenshot, PR/Reviewer-Updated

#3729 Update the Quick Start Guide API Proxy for APIM 4.0.0
  en/docs/assets/img/get_started/api-create.png
  en/docs/assets/img/get_started/api-overview.png
  en/docs/assets/img/get_started/api-publisher-home.png
  en/docs/assets/img/get_started/api_create.png
  en/docs/assets/img/get_started/api_overview.png
  en/docs/assets/img/get_started/api_publisher_home.png
  en/docs/assets/img/get_started/design-new-rest-api.png
  en/docs/assets/img/get_started/design_new_rest_api.png
  en/docs/assets/img/get_started/dev-portal-landing-page.png
  en/docs/assets/img/get_started/dev_portal_landing_page.png
  en/docs/assets/img/get_started/expanded-get-resource.png
  en/docs/assets/img/get_started/key-gen-wizard-1.png
  en/docs/assets/img/get_started/key-gen-wizard-2.png
  en/docs/assets/img/get_started/key-gen-wizard-3.png
  en/docs/assets/img/get_started/key-gen-wizard-4.png
  en/docs/assets/img/get_started/key-gen-wizard-5.png
  en/docs/assets/img/get_started/key-gen-wizard.png
  en/docs/assets/img/get_started/key_gen_wizard.png
  en/docs/assets/img/get_started/key_gen_wizard_1.png
  en/docs/assets/img/get_started/key_gen_wizard_2.png
  en/docs/assets/img/get_started/key_gen_wizard_3.png
  en/docs/assets/img/get_started/key_gen_wizard_4.png
  en/docs/assets/img/get_started/key_gen_wizard_5.png
  en/docs/assets/img/get_started/qsg-devportal.png
  en/docs/assets/img/get_started/qsg-petstore-response.png
  en/docs/assets/img/get_started/qsg-publisher.png
  en/docs/assets/img/get_started/subscription_card.png
  en/docs/assets/img/get_started/subscriptions-menu.png
  en/docs/assets/img/get_started/test-api.png
  en/docs/assets/img/get_started/test_api.png
  en/docs/assets/img/get_started/try-api.png
  en/docs/assets/img/get_started/try-it-success.png
  en/docs/assets/img/get_started/try_api.png
  en/docs/assets/img/get_started/try_it_success.png
  en/docs/get-started/quick-start-guide/quick-start-guide.md
Labels: API-M-4.0.0, Docs/Screenshot, PR/Reviewer-Updated

#3401 Moved deployment note to api migration pages and added XML JSON transformation information.
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-1100-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-191-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-310-to-400.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-320-to-400.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-5100-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-500-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-510-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-5100-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-520-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-530-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-550-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-560-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-570-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-590-to-is-5110.md
Labels: API-M-4.0.0, Docs/Waiting on SME, component/migration
