Repository wso2/docs-apim, pull requests merged in 2021-12, with the labels that each got.

#5079 fixes https://github.com/wso2/docs-apim/issues/5078
  en/docs/assets/img/learn/cli-output.png
  en/docs/assets/img/learn/create-graphql-schema-option.png
  en/docs/assets/img/learn/deploy-graphql-api.png
  en/docs/assets/img/learn/download-schema-definition.png
  en/docs/assets/img/learn/download-schema.png
  en/docs/assets/img/learn/graphql-api-revision-1.png
  en/docs/assets/img/learn/graphql-response-query.png
  en/docs/assets/img/learn/import-graphql-schema.png
  en/docs/assets/img/learn/operations.png
  en/docs/assets/img/learn/publish-graphql-api.png
  en/docs/assets/img/learn/scope-list.png
  en/docs/assets/img/learn/starwars-in-dev-portal.png
  en/docs/assets/img/learn/update-operations.png
  en/docs/assets/img/tutorials/create-and-publish-a-graphql-api/api-overview.png
  en/docs/assets/img/tutorials/create-and-publish-a-graphql-api/graphql-console-execute-query.png
  en/docs/assets/img/tutorials/create-and-publish-a-graphql-api/try-out-graphql-popup.png
  en/docs/consume/invoke-apis/invoke-apis-using-tools/invoke-an-graphql-api-using-the-integrated-graphql-console.md
  en/docs/design/create-api/create-a-graphql-api.md
  en/docs/includes/design/create-graphql-api.md
  en/docs/tutorials/create-and-publish-a-graphql-api.md
Labels: component/learn-createAPI, API-M-4.1.0

#5099 Fixes Wrong explanation for %T
  en/docs/administer/product-administration/monitoring/logging/monitoring-http-access-logs.md
Labels: API-M-3.0.0

#5108 fixes https://github.com/wso2/docs-apim/issues/5101
  en/docs/tutorials/streaming-api/create-and-publish-websocket-api.md
Labels: API-M-4.1.0

#5107 fixes https://github.com/wso2/docs-apim/issues/5101
  en/docs/tutorials/streaming-api/create-and-publish-websocket-api.md
Labels: API-M-4.0.0

#5106 fixes https://github.com/wso2/docs-apim/issues/5085 for 3.2.0
  en/docs/assets/img/learn/create-web-socket-api.jpg
  en/docs/assets/img/learn/create-web-socket-api.png
  en/docs/assets/img/learn/endpoint-view-of-websocket-api.jpg
  en/docs/assets/img/learn/endpoint-view-of-websocket-api.png
  en/docs/assets/img/learn/overview-websocket-api.jpg
  en/docs/assets/img/learn/overview-websocket-api.png
  en/docs/assets/img/learn/websocket-api-credential-page.jpg
  en/docs/assets/img/learn/websocket-api-credential-page.png
  en/docs/assets/img/learn/websocket-api-key-generation-wizard.jpg
  en/docs/assets/img/learn/websocket-api-key-generation-wizard.png
  en/docs/learn/design-api/create-api/create-a-websocket-api.md
  en/docs/learn/tutorials/create-and-publish-websocket-api.md
Labels: API-M-3.2.0

#5102 Fix broken link for DoctorInfo-JDK11.jar
  en/docs/integrate/develop/integration-development-kickstart.md
Labels: API-M-4.0.0

#5089 Add circuit breakers
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/resiliency/circuit-breakers.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/resiliency/retry-policies.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/resiliency/timeout.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/adding-debug-logs.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/error-handling.md
  en/docs/publish/api-microgateway/internal-communication-protocol.md
  en/mkdocs.yml
Labels: API-M-4.0.0, docs/choreo-connect

#5109 PR sync for https://github.com/wso2/docs-apim/pull/5102
  en/docs/integrate/develop/integration-development-kickstart.md
Labels: API-M-4.1.0

#5119 [CC 1.0.0] Refactored changes in CC docs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/as-a-standalone-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/choreo-connect-analytics.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/choreo-connect-with-tenants.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/revoked-tokens.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/subscription-validation.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/adapter-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configuration-overview.md
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
Labels: API-M-4.1.0

#5125 [CC 1.0.0]Adding PR comments [4.0.0]
  en/docs/assets/img/deploy/mgw/invoke-api.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
Labels: API-M-4.0.0, docs/choreo-connect

#5124 [CC 1.0.0]Adding PR comments [Master]
  en/docs/assets/img/deploy/mgw/invoke-api.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
Labels: docs/choreo-connect

#4963 Add Choreo Connect distributed tracing doc
  en/docs/assets/img/deploy/mgw/trace-azure-filter.png
  en/docs/assets/img/deploy/mgw/trace-azure.png
  en/docs/assets/img/deploy/mgw/trace-jaeger.png
  en/docs/assets/img/deploy/mgw/trace-zipkin.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/tracing-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/observability/distributed-tracing.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
  en/tools/config-catalog-generator-cc/data/tracing/configs.json
  en/tools/config-catalog-generator-cc/data/tracing/tracing.toml
  en/tools/config-catalog-generator-cc/data/tracing/tracing_properties.toml
  en/tools/config-catalog-generator-cc/dist/tracing-configurations.md
  en/tools/config-catalog-generator-cc/scripts/build.js
  en/tools/config-catalog-generator-cc/templates/index_tracing.njk
Labels: PR-Review/Pending Resolution

#5105 Fix E1297
  en/docs/integrate/examples/working-with-transactions.md
Labels: PR-Review/Pending Resolution, CEXP

#5134 fixes https://github.com/wso2/docs-apim/issues/5133
  en/docs/install-and-setup/install/installation-prerequisites.md
Labels: CEXP, API-M-4.0.0

#5135 fixes https://github.com/wso2/docs-apim/issues/5133
  en/docs/install-and-setup/install/installation-prerequisites.md
Labels: CEXP, API-M-4.1.0

#5140 Add Authorization manager properties to migration docs.
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-400.md
Labels: Docs/SyncPR-Pending, CEXP

#5103 Add parameter and channel details for TCP protocol
  en/docs/integrate/examples/transport_examples/tcp-transport-examples.md
Labels: CEXP

#5104 Add TCP fixes Sync PR
  en/docs/integrate/examples/transport_examples/tcp-transport-examples.md
Labels: CEXP

#5147 APIM 4.0 compatibility with Windows Server 2019
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: Docs/SyncPR-Pending

#5153 updated CC structure based on cc modes
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-via-apictl.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-via-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-custom-hostnames.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-custom-hosts-with-apictl.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-custom-hosts-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-in-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-websocket-api-in-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/defining-a-backend-security-scheme.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/failover-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/load-balanced-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/resiliency/retry-policies.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/resiliency/timeout.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/extensions/custom-filters.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-deploy-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-docker-with-apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/installation-prerequisites.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/sample-interceptor-services.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/rate-limiting/distributed-throttling.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/configuring-an-external-key-manager.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/internal-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/enabling-cors.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/rejecting-revoked-tokens.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-discovery/choreo-connect-and-k8s.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-in-kubernetes/managing-apis-in-kubernetes.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-apis/api-deployments.md
  en/mkdocs.yml
Labels: API-M-4.1.0, docs/choreo-connect

#5151 [4.0.0] Add Choreo Connect distributed tracing doc
  en/docs/assets/img/deploy/mgw/trace-azure-filter.png
  en/docs/assets/img/deploy/mgw/trace-azure.png
  en/docs/assets/img/deploy/mgw/trace-jaeger.png
  en/docs/assets/img/deploy/mgw/trace-zipkin.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/tracing-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/observability/distributed-tracing.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
  en/tools/config-catalog-generator-cc/data/tracing/configs.json
  en/tools/config-catalog-generator-cc/data/tracing/tracing.toml
  en/tools/config-catalog-generator-cc/data/tracing/tracing_properties.toml
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
  en/tools/config-catalog-generator-cc/dist/tracing-configurations.md
  en/tools/config-catalog-generator-cc/scripts/build.js
  en/tools/config-catalog-generator-cc/templates/index_tracing.njk
Labels: docs/choreo-connect

#5154 CC restructure based on CC modes
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-custom-hostnames.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-custom-hosts-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-in-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-websocket-api-in-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/defining-a-backend-security-scheme.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/failover-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/load-balanced-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/resiliency/retry-policies.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/resiliency/timeout.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/extensions/custom-filters.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-deploy-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-docker-with-apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/installation-prerequisites.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/sample-interceptor-services.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/rate-limiting/distributed-throttling.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/configuring-an-external-key-manager.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/internal-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/enabling-cors.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/rejecting-revoked-tokens.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-discovery/choreo-connect-and-k8s.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-in-kubernetes/managing-apis-in-kubernetes.md
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-apis/api-deployments.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#5149 [4.0.0] Add memory troubleshoot doc
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/debug-memory.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#5138 Examples for Choreo Connect relevant OAS definitions
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/as-a-standalone-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/endpoint-types.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/load-balanced-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/defining-interceptors-in-an-open-api-definition.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/disabling-security.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/secure-apis-using-oauth2.0-access-tokens/secure-apis-using-jwt-self-contained-jwt.md
Labels: docs/choreo-connect

#5111 Update api key and backend basic auth docs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/defining-a-backend-security-scheme.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/define-security-using-extension.md
  en/docs/design/api-security/api-authentication/secure-apis-using-api-keys.md
  en/docs/includes/design/additional-api-key.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/importing-apis-via-dev-first-approach.md
Labels: docs/choreo-connect

#5112 Update api key and backend basic auth docs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/defining-a-backend-security-scheme.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/define-security-using-extension.md
  en/docs/design/api-security/api-authentication/secure-apis-using-api-keys.md
  en/docs/includes/design/additional-api-key.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/importing-apis-via-dev-first-approach.md
Labels: API-M-4.0.0, docs/choreo-connect

#5167 [4.0.0] Add description on interceptor JSON body instructions
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/request-flow-interceptor.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/response-flow-interceptor.md
  en/mkdocs.yml
Labels: API-M-4.0.0, docs/choreo-connect

#5168 [master] Add description on interceptor JSON body instructions
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/request-flow-interceptor.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/response-flow-interceptor.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#5175 Add Registry DB clean up scripts
  en/docs/install-and-setup/setup/setting-up-databases/managing-data-growth-and-improving-performance.md
Labels: CEXP
