Repository wso2/docs-apim, pull requests merged in 2021-11, with the labels that each got.

#4954 Update installing-wso2-integration-studio.md
  en/docs/integrate/develop/installing-wso2-integration-studio.md
Labels: API-M-4.1.0

#4955 Adding image and step for studio subscription
  en/docs/assets/img/integrate/subscription-login-studio.png
  en/docs/integrate/develop/installing-wso2-integration-studio.md
Labels: API-M-4.1.0

#4949 Add minor features
  en/docs/get-started/about-this-release.md
Labels: API-M-4.1.0

#4903 [4.0.0] Mutual TLS Between Choreo Connect and Backend
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/tls/mutual-tls-between-gateway-and-backend.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/tls/transport-security.md
  en/mkdocs.yml
Labels: API-M-4.0.0, PR-Review/technical-review-done

#4958 PR review for #4912
  en/docs/assets/img/learn/subscribe-to-api.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/design/api-security/api-authentication/secure-apis-using-api-keys.md
  en/docs/includes/design/create-publish-api.md
  en/docs/includes/design/generate-api-key.md
  en/mkdocs.yml
Labels: API-M-4.1.0

#4962 PR review and update for #4913
  en/docs/assets/img/learn/subscribe-to-api.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/design/api-security/api-authentication/secure-apis-using-api-keys.md
  en/docs/includes/design/create-publish-api.md
  en/docs/includes/design/generate-api-key.md
  en/mkdocs.yml
Labels: PR/Reviewer-Updated, API-M-4.0.0

#4966 Updated About this release pg
  en/docs/get-started/about-this-release.md
Labels: API-M-4.1.0

#4970 PR Review for Configuring rate limiting for an API Gateway cluster - Redis
  en/docs/design/rate-limiting/adding-new-throttling-policies.md
  en/docs/design/rate-limiting/advanced-topics/configuring-rate-limiting-api-gateway-cluster.md
  en/docs/design/rate-limiting/advanced-topics/custom-throttling.md
  en/docs/design/rate-limiting/setting-maximum-backend-throughput-limits.md
  en/docs/design/rate-limiting/setting-throttling-limits.md
  en/docs/get-started/about-this-release.md
  en/docs/includes/design/redis-counter-note.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup.md
  en/docs/install-and-setup/setup/single-node/configuring-a-single-node.md
  en/docs/install-and-setup/setup/single-node/configuring-an-active-active-deployment.md
  en/mkdocs.yml
Labels: PR/Reviewer-Updated, API-M-4.1.0

#4972 PR review and update for https://github.com/wso2/docs-apim/pull/4965 part 2
  en/docs/design/rate-limiting/advanced-topics/configuring-rate-limiting-api-gateway-cluster.md
  en/docs/includes/design/redis-counter-note.md
  en/docs/reference/connectors/redis-connector/redis-connector-configuration.md
Labels: PR/Reviewer-Updated, API-M-4.1.0

#4978 fixed note
  en/docs/learn/design-api/create-api-product/api-product-overview.md
Labels: API-M-3.1.0

#4977 fixed note
  en/docs/learn/design-api/create-api-product/api-product-overview.md
Labels: API-M-3.2.0

#4976 fixes https://github.com/wso2/docs-apim/issues/4974
  en/docs/design/create-api-product/api-product-overview.md
Labels: API-M-4.1.0

#4975 fixes https://github.com/wso2/docs-apim/issues/4974
  en/docs/design/create-api-product/api-product-overview.md
Labels: API-M-4.0.0

#4984 Revamped create prototype API doc
  en/docs/assets/img/learn/generate-keys-production.png
  en/docs/assets/img/learn/prototype-api/backend-url-lifecycle.png
  en/docs/assets/img/learn/prototype-api/create-prototype-api-life-cycle-prototype.png
  en/docs/assets/img/learn/prototype-api/create-prototype-api-subscription.png
  en/docs/assets/img/learn/prototype-api/mock-impl-lifecycle.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/endpoint-types.md
  en/docs/design/endpoints/endpoint-types.md
  en/docs/design/prototype-api/create-a-mock-api-with-an-inline-script.md
  en/docs/design/prototype-api/create-a-prototype-api.md
  en/docs/design/prototype-api/deploy-and-test-mock-apis.md
  en/docs/get-started/about-this-release.md
  en/mkdocs.yml
Labels: API-M-4.1.0

#4987 PR review improvements
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/message-mediation/creating-and-uploading-using-integration-studio.md
Labels: API-M-4.1.0

#4988 fixing endpoint URL
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-4.0.0

#4990 updated config_endpoint
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-4.0.0

#4991 fixed the endpoint URLs
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-4.1.0

#4995 Fix typo MG_HOME
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-docker.md
Labels: CEXP

#4979 Documentation for x-wso2-endpoints extension
  en/docs/reference/vendor-extensions-catalog.md
Labels: PR-Review/technical-review-done

#4993 Add tomcat configs in the config catalog
  en/docs/reference/config-catalog.md
  en/tools/config-catalog-generator/data/admin_console.control_access.toml
  en/tools/config-catalog-generator/data/configs.json
  en/tools/config-catalog-generator/data/servlet_access_control_filter.toml
  en/tools/config-catalog-generator/data/web_app.control_access.toml
  en/tools/config-catalog-generator/dist/config-catalog.md
Labels: CEXP

#4961 Corrections for Choreo Connect documentation
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-multiple-gateways-with-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
Labels: PR-Review/technical-review-done

#4997 Update deploying-wso2-api-m-in-a-distributed-setup-with-tm-separated.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup-with-tm-separated.md
Labels: API-M-4.0.0

#5006 CC 1.0.0 - Retry Policies & timeouts PR Review
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/advanced-endpoint-config/retry-policies.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/advanced-endpoint-config/timeout.md
  en/docs/design/endpoints/resiliency/endpoint-timeouts.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/router/configs.json
  en/tools/config-catalog-generator-cc/data/router/connection_timeout.toml
  en/tools/config-catalog-generator-cc/data/router/router.toml
  en/tools/config-catalog-generator-cc/data/router/upstream_retry.toml
  en/tools/config-catalog-generator-cc/data/router/upstream_timeout.toml
  en/tools/config-catalog-generator-cc/dist/router-configurations.md
Labels: PR/Reviewer-Updated, API-M-4.1.0

#5007 CC 1.0.0 - Retry Policies & timeouts PR Review
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/advanced-endpoint-config/retry-policies.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/advanced-endpoint-config/timeout.md
  en/docs/design/endpoints/resiliency/endpoint-timeouts.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/router/configs.json
  en/tools/config-catalog-generator-cc/data/router/connection_timeout.toml
  en/tools/config-catalog-generator-cc/data/router/router.toml
  en/tools/config-catalog-generator-cc/data/router/upstream_retry.toml
  en/tools/config-catalog-generator-cc/data/router/upstream_timeout.toml
  en/tools/config-catalog-generator-cc/dist/router-configurations.md
Labels: PR/Reviewer-Updated, API-M-4.0.0

#5012 CC 1.0.0 - Updating quick start and supported features [4.0.0]
  en/docs/assets/img/deploy/mgw/docker-logo.png
  en/docs/assets/img/deploy/mgw/kubernates.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-kubernetes-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-kubernetes.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
Labels: PR-Review/Pending Resolution

#4953 [4.1.0] Interceptors for Choreo Connect
  en/docs/assets/img/deploy/mgw/interceptor-example-json-to-xml.png
  en/docs/assets/img/deploy/mgw/interceptors-overview.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/defining-interceptors-in-an-open-api-definition.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/interceptor-context-and-invocation-context.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/interceptor-microservice.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/request-flow-interceptor.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/response-flow-interceptor.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/sample-interceptor-services.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/message-transformation-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/error-handling.md
  en/mkdocs.yml
Labels: Type/New Feature, PR-Review/Pending Resolution, API-M-4.1.0

#5016 [4.0.0] Interceptors for Choreo Connect
  en/docs/assets/img/deploy/mgw/interceptor-example-json-to-xml.png
  en/docs/assets/img/deploy/mgw/interceptors-overview.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/defining-interceptors-in-an-open-api-definition.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/interceptor-context-and-invocation-context.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/interceptor-microservice.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/request-flow-interceptor.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/response-flow-interceptor.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/sample-interceptor-services.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/message-transformation-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/error-handling.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#4992 [DOC][APIM-3.2.0] Light Weight Observerbility Feature
  en/docs/administer/logging-and-monitoring/monitoring/working-with-observability.md
Labels: CEXP

#5001 Update applying-security-to-a-proxy-service.md
  en/docs/integrate/develop/advanced-development/applying-security-to-a-proxy-service.md
Labels: API-M-4.0.0

#5020 [4.1.0] Update CC QSG with K8s Setup
  en/docs/assets/img/deploy/mgw/endpoint-edit-k8s.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-kubernetes-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-kubernetes.md
Labels: PR-Review/Pending Resolution, API-M-4.1.0

#5008 CC 1.0.0 - Updating service discovery docs [4.0.0]
  en/docs/assets/img/deploy/consul-reference-discovery.png
  en/docs/assets/img/deploy/consul-reference-k8s.png
  en/docs/assets/img/deploy/consul-reference-with-mesh.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-discovery/choreo-connect-and-k8s.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-discovery/choreo-connect-and-service-discovery.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-discovery/choreo-connect-and-service-mesh.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-discovery/service-discovery-overview.md
Labels: PR/Reviewer-Updated

#5009 CC 1.0.0 - Updating service discovery docs [master]
  en/docs/assets/img/deploy/consul-reference-discovery.png
  en/docs/assets/img/deploy/consul-reference-k8s.png
  en/docs/assets/img/deploy/consul-reference-with-mesh.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-discovery/choreo-connect-and-k8s.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-discovery/choreo-connect-and-service-discovery.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-discovery/choreo-connect-and-service-mesh.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-discovery/service-discovery-overview.md
Labels: PR-Review/In-progress

#5031 Updated CC docs - part 1
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/as-a-standalone-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/choreo-connect-analytics.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/failover-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/load-balanced-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/http-2.0.md
  en/mkdocs.yml
Labels: API-M-4.1.0, docs/choreo-connect

#5032 Updated CC docs - part 1
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/as-a-standalone-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/choreo-connect-analytics.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/failover-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/load-balanced-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/http-2.0.md
  en/mkdocs.yml
Labels: API-M-4.0.0, docs/choreo-connect

#5036 [CC 1.0.0] Updating CC v1 docs for missing links and config changes [4.0.0]
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-via-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-virtual-hosts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-web-socket-api.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/endpoint-types.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/passing-enduser-attributes-to-the-backend-via-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/rate-limiting/distributed-throttling.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/internal-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/making-application-security-optional.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authorization/subscription-validation.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/enabling-cors.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/rejecting-revoked-tokens.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/tls/mutual-tls-between-gateway-and-backend.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/support-custom-claims-mapping.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/adding-debug-logs.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/error-handling.md
  en/mkdocs.yml
Labels: API-M-4.0.0, docs/choreo-connect

#5037 [CC 1.0.0] Choreo Connect Configuration override using env variables [Master]
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configuration-overview.md
Labels: PR/Reviewer-Updated, API-M-4.1.0, docs/choreo-connect

#5038 [CC 1.0.0] Choreo Connect Configuration override using env variables [4.0.0]
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configuration-overview.md
Labels: API-M-4.0.0, docs/choreo-connect

#5047 Corrected typo
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
Labels: API-M-4.1.0

#5048 Corrected typo
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
Labels: API-M-4.0.0

#5051 [CC 1.0.0] Fixing typos in CC configurations [4.0.0]
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
  en/tools/config-catalog-generator-cc/data/router/configs.json
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
  en/tools/config-catalog-generator-cc/dist/router-configurations.md
Labels: API-M-4.0.0, docs/choreo-connect

#5050 [CC 1.0.0] Fixing typos in CC configurations [Master]
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
  en/tools/config-catalog-generator-cc/data/router/configs.json
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
  en/tools/config-catalog-generator-cc/dist/router-configurations.md
Labels: API-M-4.1.0, docs/choreo-connect

#5035 [CC 1.0.0] Updating CC v1 docs for missing links and config changes [Master]
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-via-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-virtual-hosts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-web-socket-api.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/endpoint-types.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/passing-enduser-attributes-to-the-backend-via-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/rate-limiting/distributed-throttling.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/internal-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/making-application-security-optional.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authorization/subscription-validation.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/enabling-cors.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/rejecting-revoked-tokens.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/tls/mutual-tls-between-gateway-and-backend.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/support-custom-claims-mapping.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/adding-debug-logs.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/error-handling.md
  en/mkdocs.yml
Labels: PR-Review/Pending Resolution, API-M-4.1.0, docs/choreo-connect

#5033 [CC 1.0.0] Updating CC docs covering QSG and concept docs [Master]
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/as-a-standalone-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/choreo-connect-with-tenants.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/event-hub.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/subscription-validation.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-kubernetes-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-kubernetes.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-overview.md
Labels: PR-Review/Pending Resolution, API-M-4.1.0

#5034 [CC 1.0.0] Updating CC docs covering QSG and concept docs [4.0.0]
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/as-a-standalone-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/choreo-connect-with-tenants.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/event-hub.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/subscription-validation.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-kubernetes-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-kubernetes.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide/quick-start-guide-overview.md
Labels: PR-Review/Pending Resolution, API-M-4.0.0

#4968 [CC 1.0.0] Read APIs from File System [master]
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-apis-as-immutable-gateway.md
  en/mkdocs.yml
Labels: PR-Review/Pending Resolution

#5056 Improved CC docs - #2
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configuration-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-log4j2.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-via-apictl.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-via-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-virtual-hosts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-web-socket-api.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/advanced-endpoint-config/retry-policies.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/advanced-endpoint-config/timeout.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/defining-a-backend-security-scheme.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/failover-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/load-balanced-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/overriding-endpoints-for-imported-apis.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/rate-limiting/distributed-throttling.md
  en/docs/includes/deploy/cc-configuration-file.md
  en/mkdocs.yml
Labels: API-M-4.1.0, docs/choreo-connect

#5058 Improved CC docs v2
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configuration-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-log4j2.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-via-apictl.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-via-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-virtual-hosts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-web-socket-api.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/advanced-endpoint-config/retry-policies.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/advanced-endpoint-config/timeout.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/defining-a-backend-security-scheme.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/failover-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/load-balanced-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/overriding-endpoints-for-imported-apis.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/rate-limiting/distributed-throttling.md
  en/docs/includes/deploy/cc-configuration-file.md
  en/mkdocs.yml
Labels: API-M-4.0.0, docs/choreo-connect

#5055 Add circuit breakers
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/resiliency/circuit-breakers.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/resiliency/retry-policies.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/resiliency/timeout.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/adding-debug-logs.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/error-handling.md
  en/docs/publish/api-microgateway/internal-communication-protocol.md
  en/mkdocs.yml
Labels: API-M-4.0.0, docs/choreo-connect

#5062 fixes https://github.com/wso2/docs-apim/issues/5024
  en/docs/develop/extending-api-manager/extending-gateway/writing-custom-handlers.md
Labels: API-M-3.1.0

#5063 [CC] Add memory troubleshhot doc
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/debug-memory.md
  en/mkdocs.yml
Labels: PR-Review/Pending Resolution, docs/choreo-connect

#5066 Token Exchange docs
  en/docs/administer/key-managers/configure-custom-connector.md
  en/docs/assets/img/administer/custom-keymanager/dev-portal-direct.png
  en/docs/assets/img/administer/custom-keymanager/dev-portal-exchange.png
  en/docs/assets/img/administer/custom-keymanager/external-keymanager-form1.png
  en/docs/assets/img/administer/custom-keymanager/external-keymanager-form2.png
  en/docs/assets/img/administer/custom-keymanager/external-keymanager-form3.png
  en/docs/assets/img/administer/custom-keymanager/external-keymanager-form4.png
  en/docs/assets/img/administer/custom-keymanager/external-keymanager-form5.png
  en/docs/assets/img/administer/custom-keymanager/external-keymanager-form6.png
  en/docs/assets/img/administer/custom-keymanager/external-keymanager-form7.png
  en/docs/assets/img/administer/custom-keymanager/external-keymanager-form8.png
Labels: Type/New Feature, API-M-4.1.0

#5041 Changes for graphql subscriptions feature.
  en/docs/assets/img/consume/invoke-apis/graphql-console/graphql-console-execute-query.png
  en/docs/assets/img/consume/invoke-apis/graphql-console/graphql-sub-init-response.png
  en/docs/assets/img/consume/invoke-apis/graphql-console/try-out-sub-event.png
  en/docs/assets/img/learn/api-overview.png
  en/docs/assets/img/learn/graphql-console-execute-query.png
  en/docs/assets/img/learn/try-out-graphql-popup.png
  en/docs/assets/img/learn/try-out-graphql.png
  en/docs/assets/img/tutorials/create-and-publish-a-graphql-api/api-overview.png
  en/docs/assets/img/tutorials/create-and-publish-a-graphql-api/graphql-console-execute-query.png
  en/docs/assets/img/tutorials/create-and-publish-a-graphql-api/graphql-sub-init-response.png
  en/docs/assets/img/tutorials/create-and-publish-a-graphql-api/try-out-graphql-popup.png
  en/docs/assets/img/tutorials/create-and-publish-a-graphql-api/try-out-graphql.png
  en/docs/assets/img/tutorials/create-and-publish-a-graphql-api/try-out-sub-event.png
  en/docs/consume/invoke-apis/invoke-apis-using-tools/invoke-an-graphql-api-using-the-integrated-graphql-console.md
  en/docs/tutorials/create-and-publish-a-graphql-api.md
Labels: API-M-4.1.0

#5074 [4.0.0] Adding Enabling reCAPTCHA for Logins task Docs
  en/docs/assets/img/learn/api-security/recaptcha/captcha-login-failed.png
  en/docs/assets/img/learn/api-security/recaptcha/configure-account-locking.png
  en/docs/assets/img/learn/api-security/recaptcha/configuring-recaptcha-api-keys.png
  en/docs/assets/img/learn/api-security/recaptcha/configuring-recaptcha-from-carbon-console.png
  en/docs/assets/img/learn/api-security/recaptcha/note-site-key-secret.png
  en/docs/assets/img/learn/api-security/recaptcha/recaptcha-window.png
  en/docs/assets/img/learn/api-security/recaptcha/recover-password-with-recaptcha.png
  en/docs/assets/img/learn/api-security/recaptcha/register-now-option.png
  en/docs/assets/img/learn/api-security/recaptcha/self-registration-enable-recaptcha.png
  en/docs/install-and-setup/setup/security/logins-and-passwords/configuring-recaptcha-for-single-sign-on.md
  en/docs/install-and-setup/setup/security/logins-and-passwords/setting-up-recaptcha.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/configuring-recaptcha-for-self-signup.md
  en/mkdocs.yml
Labels: CEXP, API-M-4.0.0

#5075 [Master] Adding Enabling reCAPTCHA for Logins task Docs
  en/docs/assets/img/learn/api-security/recaptcha/captcha-login-failed.png
  en/docs/assets/img/learn/api-security/recaptcha/configure-account-locking.png
  en/docs/assets/img/learn/api-security/recaptcha/configuring-recaptcha-api-keys.png
  en/docs/assets/img/learn/api-security/recaptcha/configuring-recaptcha-from-carbon-console.png
  en/docs/assets/img/learn/api-security/recaptcha/note-site-key-secret.png
  en/docs/assets/img/learn/api-security/recaptcha/recaptcha-window.png
  en/docs/assets/img/learn/api-security/recaptcha/recover-password-with-recaptcha.png
  en/docs/assets/img/learn/api-security/recaptcha/register-now-option.png
  en/docs/assets/img/learn/api-security/recaptcha/self-registration-enable-recaptcha.png
  en/docs/install-and-setup/setup/security/logins-and-passwords/configuring-recaptcha-for-single-sign-on.md
  en/docs/install-and-setup/setup/security/logins-and-passwords/setting-up-recaptcha.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/configuring-recaptcha-for-self-signup.md
  en/mkdocs.yml
Labels: API-M-Master, API-M-4.1.0

#5082 fixes https://github.com/wso2/docs-apim/issues/5080 #5081
  en/docs/develop/product-apis/advanced-configurations.md
  en/mkdocs.yml
Labels: API-M-3.0.0, CEXP

#5081 fixes https://github.com/wso2/docs-apim/issues/5080
  en/docs/develop/product-apis/advanced-configurations.md
  en/mkdocs.yml
Labels: API-M-3.1.0, CEXP

#5086 fix for https://github.com/wso2/docs-apim/issues/5085
  en/docs/assets/img/design/create-api/streaming-api/create-websocket-streaming-api-form.png
  en/docs/assets/img/design/create-api/streaming-api/design-new-streaming-api.png
  en/docs/assets/img/design/create-api/streaming-api/websocket-streaming-api-asyncapi.png
  en/docs/assets/img/design/create-api/streaming-api/websocket-streaming-api-overview-page.png
  en/docs/includes/design/create-streaming-api/create-a-websocket-streaming-api.md
  en/docs/tutorials/streaming-api/create-and-publish-websocket-api.md
Labels: CEXP, API-M-4.1.0

#5087 fix for https://github.com/wso2/docs-apim/issues/5085
  en/docs/assets/img/design/create-api/streaming-api/create-websocket-streaming-api-form.png
  en/docs/assets/img/design/create-api/streaming-api/design-new-streaming-api.png
  en/docs/assets/img/design/create-api/streaming-api/websocket-streaming-api-asyncapi.png
  en/docs/assets/img/design/create-api/streaming-api/websocket-streaming-api-overview-page.png
  en/docs/includes/design/create-streaming-api/create-a-websocket-streaming-api.md
  en/docs/tutorials/streaming-api/create-and-publish-websocket-api.md
Labels: CEXP, API-M-4.0.0

#5088 Add tomcat configs in the config catalog
  en/docs/reference/config-catalog.md
  en/tools/config-catalog-generator/data/configs.json
  en/tools/config-catalog-generator/data/web_app.listener.toml
  en/tools/config-catalog-generator/dist/config-catalog.md
Labels: CEXP
