Repository wso2/docs-apim, pull requests merged in 2021-03, with the labels that each got.

#3251 File mounting instructions for distributed deployments
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup.md
Labels: API-M-3.2.0, APIMINTERNAL, CEXP

#3237 Update Assert identity using mapped local subject identifier parameter
  en/docs/assets/img/setup-and-install/local-outbound-config.png
  en/docs/install-and-setup/setup/sso/configuring-identity-server-as-external-idp-using-oidc.md
Labels: API-M-3.2.0, APIMINTERNAL, CEXP

#3238 Update Identity Server configured as external IDP using OIDC
  en/docs/assets/img/setup-and-install/local-outbound-config.png
  en/docs/install-and-setup/setup/sso/configuring-identity-server-as-external-idp-using-oidc.md
Labels: APIMINTERNAL

#3254 fix publishing-events-to-analytics-cloud.md not displaying
  en/docs/observe/api-manager-analytics/publishing-events-to-analytics-cloud.md
Labels: API-M-4.0.0

#3257 fixed broken MGW related docs
  en/docs/includes/invoke-api-with-api-key.md
  en/docs/includes/invoke-api-with-jwt.md
  en/docs/includes/obtain-api-key.md
  en/docs/includes/obtain-jwt.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#3259 Update Configuring API Manager section with Assert identity using mapped local subject identifier parameter
  en/docs/install-and-setup/setup/sso/configuring-identity-server-as-external-idp-using-oidc.md
Labels: API-M-3.2.0, APIMINTERNAL, CEXP

#3155 Adding Docs for Feature: Consul service discovery for Microgateway
  en/docs/assets/img/deploy/consul-apim.png
  en/docs/assets/img/deploy/consul-reference-with-mesh.jpeg
  en/docs/deploy/api-microgateway/service-discovery.md
Labels: API-M-4.0.0, PR-Review/Pending Resolution, PR-Review/Phase-2, PR/Reviewer-Updated

#3252 Controller documentation changes after revision feature
  en/docs/get-started/quick-start-guide/quick-start-guide.md
  en/docs/install-and-setup/setup/api-controller/advanced-topics/configuring-environment-specific-parameters.md
  en/docs/install-and-setup/setup/api-controller/advanced-topics/using-dynamic-data-in-api-controller-projects.md
  en/docs/install-and-setup/setup/api-controller/building-jenkins-ci-cd-pipeline-for-dev-first-approach.md
  en/docs/install-and-setup/setup/api-controller/ci-cd-with-wso2-api-management.md
  en/docs/install-and-setup/setup/api-controller/getting-started-with-wso2-api-controller.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/importing-apis-via-dev-first-approach.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/managing-apis-and-api-products.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/migrating-api-products-to-different-environments.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/migrating-apis-to-different-environments.md
  en/docs/install-and-setup/setup/api-controller/managing-applications/managing-applications.md
  en/docs/install-and-setup/setup/api-controller/managing-applications/migrating-applications-to-different-environments.md
Labels: API-M-4.0.0, Priority/Highest, Type/Docs

#3268 Documentation gap for the procedure of subscription validation through KM
  en/docs/learn/api-security/oauth2/access-token-types/jwt-tokens.md
Labels: API-M-3.0.0, APIMINTERNAL, CEXP

#3274 fixes wrong link #3258
  en/docs/administer/logging-and-monitoring/logging/monitoring-http-access-logs.md
Labels: API-M-3.1.0

#3277 fixes wrong link #3258
  en/docs/administer/logging-and-monitoring/logging/monitoring-http-access-logs.md
Labels: API-M-4.0.0

#3276 fixes wrong link #3258
  en/docs/administer/product-administration/monitoring/logging/monitoring-http-access-logs.md
Labels: API-M-3.0.0

#3275 fixes wrong link #3258
  en/docs/administer/logging-and-monitoring/logging/monitoring-http-access-logs.md
Labels: API-M-3.2.0

#3273 Updating docs to support in-place updates on profile optimized packs
  en/docs/install-and-setup/deploying-wso2-api-manager/distributed-deployment/product-profiles.md
Labels: API-M-3.0.0, APIMINTERNAL, CEXP

#3269 Updating docs to support in-place updates on profile optimized packs
  en/docs/install-and-setup/setup/distributed-deployment/product-profiles.md
Labels: API-M-3.1.0, APIMINTERNAL, CEXP

#3271 Updating docs to support in-place updates on profile optimized packs
  en/docs/install-and-setup/setup/distributed-deployment/product-profiles.md
Labels: API-M-4.0.0, API-M-Master, APIMINTERNAL, CEXP

#3278 Add missing hyphen in code sample
  en/docs/install-and-setup/setup/distributed-deployment/configuring-wso2-identity-server-as-a-key-manager.md
Labels: API-M-3.2.0, APIMINTERNAL, CEXP

#3294 [APIM-3.2.0] Change note to convey correct message about Retrieve/Search APIs
  en/docs/develop/product-apis/devportal-apis/devportal-v1/devportal-v1.yaml
Labels: API-M-3.2.0, APIMINTERNAL, CEXP

#3299 Subscription Availability toml config
  en/docs/learn/design-api/advanced-topics/control-api-visibility-and-subscription-availability-in-developer-portal.md
Labels: APIMINTERNAL, CEXP

#3300 Update API Manager Configurations with 'Assert identity using mapped local subject identifier'
  en/docs/develop/extending-api-manager/saml2-sso/configuring-identity-server-as-idp-for-sso.md
  en/docs/install-and-setup/setup/sso/configuring-identity-server-as-external-idp-using-saml.md
Labels: APIMINTERNAL, CEXP

#3184 Add documentation for backend jwt generation feature in microgateway.
  en/docs/deploy/api-microgateway/passing-enduser-attributes-to-the-backend-using-jwt.md
Labels: API-M-4.0.0, PR/Reviewer-Updated

#3245 Update 'grouping with labels' doc with 'grouping with vhosts'
  en/docs/assets/img/deploy/add-gateway-environment-menu.png
  en/docs/assets/img/deploy/add-gateway-environment.png
  en/docs/assets/img/deploy/deploy-api-with-vhost.png
  en/docs/assets/img/deploy/vhost-advanced-settings.png
  en/docs/assets/img/deploy/virtual-host-in-devportal.png
  en/docs/assets/img/includes/deploy/select-api.png
  en/docs/deploy-and-publish/deploy-on-gateway/deploy-api/grouping-apis-with-labels.md
  en/docs/deploy/deploy-api/exposing-apis-via-custom-hostnames.md
  en/docs/get-started/about-this-release.md
  en/docs/includes/deploy/assign-custom-hostname.md
  en/docs/includes/deploy/view-custom-hostname.md
  en/docs/includes/prerequisites-apim.md
  en/docs/reference/config-catalog.md
  en/mkdocs.yml
  en/tools/config-catalog-generator/data/configs.json
  en/tools/config-catalog-generator/dist/config-catalog.md
Labels: API-M-4.0.0, PR-Review/Pending Resolution, PR/Reviewer-Updated

#3343 fixes https://github.com/wso2/docs-apim/issues/3318
  en/docs/administer/key-managers/configure-forgerock-connector.md
Labels: API-M-4.0.0

#3345 fixes https://github.com/wso2/docs-apim/issues/3344
  en/docs/deploy/deploy-api/exposing-apis-via-custom-hostnames.md
  en/docs/includes/deploy/assign-custom-hostname.md
Labels: API-M-4.0.0

#3352 fix broken link
  en/docs/includes/prerequisites-apim.md
Labels: API-M-4.0.0

#3266 Update SOAP to REST documentation images
  en/docs/assets/img/learn/generate-rest-api-from-soap-backend-overview.jpg
  en/docs/assets/img/learn/generated-resources-of-soap-backend.jpg
  en/docs/design/create-api/generate-rest-api-from-soap-backend.md
  en/docs/tutorials/expose-a-soap-service-as-a-rest-api.md
Labels: API-M-4.0.0, PR-Review/Phase-1

#3217 Documentation for Certificate Bound Access Token support
  en/docs/design/api-security/api-authentication/securing-apis-using-certificate-bound-access-tokens.md
  en/mkdocs.yml
Labels: API-M-4.0.0, PR-Review/Pending Resolution, PR-Review/Phase-2, PR/Reviewer-Updated

#3364 Include the compatible IS product version for External-KM documentation - A400
  en/docs/administer/key-managers/configure-wso2is-connector.md
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: APIMINTERNAL, CEXP

#2902 [3.2.0] Add instructions to configure Forgerock as an external KM
  en/docs/administer/key-managers/configure-forgerock-connector.md
  en/docs/administer/key-managers/overview.md
  en/docs/assets/img/administer/forgerock-access-token-lifetime.png
  en/docs/assets/img/administer/forgerock-add-client.png
  en/docs/assets/img/administer/forgerock-add-km-1.png
  en/docs/assets/img/administer/forgerock-add-km-2.png
  en/docs/assets/img/administer/forgerock-add-km-3.png
  en/docs/assets/img/administer/forgerock-add-km-4.png
  en/docs/assets/img/administer/forgerock-client-grant.png
  en/docs/assets/img/administer/forgerock-configure-dcr.png
  en/docs/assets/img/administer/forgerock-createOauthProvider.png
  en/docs/assets/img/administer/forgerock-devportal-genkeys.png
  en/docs/assets/img/administer/forgerock-oauth2-ad.png
  en/docs/assets/img/administer/forgerock-oauth2-advance-1.png
  en/docs/assets/img/administer/forgerock-oauth2-core.png
  en/docs/assets/img/administer/forgerock-provider-advance-config.png
  en/docs/assets/img/administer/forgerock-realms.png
  en/docs/assets/img/administer/forgerock-token-format.png
  en/mkdocs.yml
Labels: API-M-3.2.0, PR-Review/Phase-2, PR/Reviewer-Updated

#3379 Change the default response cache hash generator
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/response-caching.md
Labels: API-M-4.0.0, API-M-Master, Type/Improvement

#3382 Added deployment architecture note for is km docs.
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-5100-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-500-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-510-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-5100-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-520-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-530-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-550-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-560-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-570-to-is-5110.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-590-to-is-5110.md
Labels: API-M-4.0.0, PR/Reviewer-Updated

#3391 Remove dev-portal self-signup api related details from apim 3.0.0 documentatio
  en/docs/develop/product-apis/devportal-apis/devportal-v1/devportal-v1.yaml
Labels: API-M-3.0.0, APIMINTERNAL, CEXP

#3267 Adding community feature docs
  en/docs/assets/img/learn/community-features-api.png
  en/docs/assets/img/learn/community-features-comments-page.png
  en/docs/assets/img/learn/community-features-comments.png
  en/docs/assets/img/learn/community-features-rating-page.png
  en/docs/assets/img/learn/community-features-rating.png
  en/docs/assets/img/learn/community-features-view-comments-overview.png
  en/docs/assets/img/learn/community-features-view-comments.png
  en/docs/assets/img/learn/community_features/community-features-apis-select-devportal.png
  en/docs/assets/img/learn/community_features/community-features-developer-portal-comments-reply.png
  en/docs/assets/img/learn/community_features/community-features-developer-portal-reply-to-comment.png
  en/docs/assets/img/learn/community_features/community-features-devportal-add-new-comment.png
  en/docs/assets/img/learn/community_features/community-features-devportal-api-already-rated.png
  en/docs/assets/img/learn/community_features/community-features-devportal-api-overview-select-rating.png
  en/docs/assets/img/learn/community_features/community-features-publisher-reply-to-comment.png
  en/docs/assets/img/learn/community_features/community-features-select-publisher-api.png
  en/docs/assets/img/learn/community_features/devportal-community-links-with-slack-github.png
  en/docs/assets/img/learn/community_features/devportal-default-community-links.png
  en/docs/assets/img/learn/community_features/publisher-community-link-basic-info.png
  en/docs/assets/img/learn/community_features/publisher-slack-urls.png
  en/docs/consume/collaboration/interact-with-the-community.md
  en/docs/consume/collaboration/use-the-community-features.md
  en/docs/design/api-collaborations/comment-on-an-api-via-the-publisher.md
  en/docs/design/api-collaborations/enable-social-media-interaction.md
  en/mkdocs.yml
Labels: API-M-4.0.0, PR-Review/In-progress

#3394 fixed image names and paths
  en/docs/assets/img/consume/community-features/apis-select-devportal.png
  en/docs/assets/img/consume/community-features/developer-portal-reply-to-comment.png
  en/docs/assets/img/consume/community-features/devportal-add-new-comment.png
  en/docs/assets/img/consume/community-features/devportal-api-already-rated.png
  en/docs/assets/img/consume/community-features/devportal-api-overview-select-rating.png
  en/docs/assets/img/design/community-features/developer-portal-comments-reply.png
  en/docs/assets/img/design/community-features/devportal-community-links-with-slack-github.png
  en/docs/assets/img/design/community-features/devportal-default-community-links.png
  en/docs/assets/img/design/community-features/publisher-community-link-basic-info.png
  en/docs/assets/img/design/community-features/publisher-reply-to-comment.png
  en/docs/assets/img/design/community-features/publisher-slack-urls.png
  en/docs/assets/img/design/community-features/select-publisher-api.png
  en/docs/assets/img/learn/community_features/community-features-developer-portal-comments-reply.png
  en/docs/assets/img/learn/community_features/community-features-developer-portal-reply-to-comment.png
  en/docs/assets/img/learn/community_features/community-features-devportal-add-new-comment.png
  en/docs/assets/img/learn/community_features/community-features-devportal-api-already-rated.png
  en/docs/assets/img/learn/community_features/community-features-devportal-api-overview-select-rating.png
  en/docs/assets/img/learn/community_features/community-features-publisher-reply-to-comment.png
Labels: API-M-4.0.0

#3396 fixes https://github.com/wso2/docs-apim/issues/3395
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/passing-enduser-attributes-to-the-backend-via-api-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-microgateway/passing-enduser-attributes-to-the-backend-via-api-microgateway.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#3398 fixes https://github.com/wso2/docs-apim/issues/3397
  en/docs/deploy-and-publish/deploy-on-gateway/deploy-api/exposing-apis-via-custom-hostnames.md
  en/docs/get-started/about-this-release.md
Labels: API-M-4.0.0

#3363 Modify test console docs
  en/docs/assets/img/learn/publisher-testconsole-generatekey.png
  en/docs/assets/img/learn/publisher-testconsole-leftpane.png
  en/docs/assets/img/learn/publisher-testconsole-swaggerui.png
  en/docs/design/create-api/test-a-rest-api.md
Labels: API-M-4.0.0, PR-Review/In-progress

#3399 fixes https://github.com/wso2/docs-apim/pull/3363
  en/docs/assets/img/design/create-api/test-api/publisher-testconsole-generatekey.png
  en/docs/assets/img/design/create-api/test-api/publisher-testconsole-leftpane.png
  en/docs/assets/img/design/create-api/test-api/publisher-testconsole-swaggerui.png
  en/docs/design/create-api/test-a-rest-api.md
  en/docs/includes/sign-in-publisher.md
Labels: API-M-4.0.0

#3408 fixing broken links exposing-apis-via-custom-hostnames.md
  en/docs/deploy-and-publish/deploy-on-gateway/deploy-api/exposing-apis-via-custom-hostnames.md
  en/docs/includes/deploy/assign-custom-hostname.md
Labels: API-M-4.0.0

#3331 Update K8s operator doc with new features
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/manage-integration/integration-deployments.md
Labels: PR-Review/In-progress

#3234 Add doumnetation for custom claim mapping in microgateway.
  en/docs/deploy-and-publish/deploy-on-gateway/api-microgateway/support-custom-claims-mapping.md
Labels: API-M-4.0.0, PR-Review/Pending Resolution, PR-Review/Phase-2, PR/Reviewer-Updated

#3387 Create documentation for WSDL import feature
  en/docs/assets/img/integrate/create_artifacts/new_proxy_service/create-new-proxy-option-wsdl.png
  en/docs/assets/img/integrate/create_artifacts/new_proxy_service/create-new-proxy-option.png
  en/docs/assets/img/integrate/create_artifacts/new_proxy_service/create-proxy-from-wsdl.png
  en/docs/assets/img/integrate/create_artifacts/new_proxy_service/skeleton-proxy-service-wsdl.png
  en/docs/integrate/develop/creating-artifacts/creating-a-proxy-service.md
Labels: PR-Review/In-progress

#3455 fixes https://github.com/wso2/docs-apim/issues/3451
  en/docs/install-and-setup/setup/security/logins-and-passwords/working-with-encrypted-passwords.md
Labels: API-M-3.1.0, CEXP

#3457 fixes https://github.com/wso2/docs-apim/issues/3451
  en/docs/install-and-setup/setup/security/logins-and-passwords/working-with-encrypted-passwords.md
Labels: API-M-3.2.0, CEXP

#3456 fixes https://github.com/wso2/docs-apim/issues/3451
  en/docs/administer/product-security/logins-and-passwords/working-with-encrypted-passwords.md
Labels: API-M-3.0.0, CEXP
