Repository wso2/docs-apim, pull requests merged in 2022-05, with the labels that each got.

#5797 [4.0.0] Add azure insight support for APIM docs
  en/docs/api-analytics/getting-started-guide.md
  en/docs/assets/lib/insights/insights.js
  en/mkdocs.yml
Labels: API-M-4.0.0

#5798 [4.1.0] Add azure insight support for APIM docs
  en/docs/api-analytics/getting-started-guide.md
  en/docs/assets/lib/insights/insights.js
  en/mkdocs.yml
Labels: API-M-4.1.0

#5796 [Master ]Add Azure App insights to APIM docs
  en/docs/api-analytics/getting-started-guide.md
  en/docs/assets/lib/insights/insights.js
  en/mkdocs.yml
Labels: API-M 4.2.0

#5800 Modify publishing analytics to external systems
  en/docs/api-analytics/samples/publishing-analytics-events-to-external-systems.md
Labels: API-M-Master, API-M 4.2.0

#5818 [4.0.0] Update interceptor open API definition link
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/interceptor-microservice.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/message-transformation-overview.md
Labels: API-M-4.0.0, docs/choreo-connect

#5816 [4.1.0] Add sample for HTTP operation level interceptor
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/defining-interceptors-in-an-open-api-definition.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/interceptor-microservice.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/message-transformation-overview.md
Labels: API-M-4.1.0, docs/choreo-connect

#5817 [master] Add sample for HTTP operation level interceptor
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/defining-interceptors-in-an-open-api-definition.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/interceptor-microservice/interceptor-microservice.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/message-transformation-overview.md
Labels: docs/choreo-connect

#5820 [master] Add sample for HTTP operation level response interceptor
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/message-transformation/defining-interceptors-in-an-open-api-definition.md
Labels: docs/choreo-connect

#5813 Update default list of handlers
  en/docs/reference/customize-product/extending-api-manager/extending-gateway/writing-custom-handlers.md
Labels: CEXP

#5815 Update default list of handlers
  en/docs/reference/customize-product/extending-api-manager/extending-gateway/writing-custom-handlers.md
Labels: CEXP, API-M-4.0.0

#5821 Add quotes to passwoard in api_params.yaml
  en/docs/learn/api-controller/advanced-topics/configuring-environment-specific-parameters.md
Labels: API-M-3.1.0, CEXP

#5822 Add quotes to passwoard in api_params.yaml
  en/docs/learn/api-controller/advanced-topics/configuring-different-endpoint-security-types.md
  en/docs/learn/api-controller/advanced-topics/configuring-environment-specific-parameters.md
Labels: API-M-3.2.0, CEXP

#5824 Add quotes to passwoard in params.yaml
  en/docs/install-and-setup/setup/api-controller/advanced-topics/configuring-different-endpoint-security-types.md
  en/docs/install-and-setup/setup/api-controller/advanced-topics/configuring-environment-specific-parameters.md
Labels: CEXP, API-M-4.1.0

#5823 Add quotes to passwoard in params.yaml
  en/docs/install-and-setup/setup/api-controller/advanced-topics/configuring-environment-specific-parameters.md
Labels: CEXP, API-M-4.0.0

#5825 Add quotes to passwoard in params.yaml
  en/docs/install-and-setup/setup/api-controller/advanced-topics/configuring-different-endpoint-security-types.md
  en/docs/install-and-setup/setup/api-controller/advanced-topics/configuring-environment-specific-parameters.md
Labels: CEXP

#5801 Add axis2 property enableREST
  en/docs/reference/mediators/property-reference/axis2-properties.md
Labels: API-M-Master, API-M 4.2.0

#5826 [4.1.0] - Add Azure App Insight events to APIM docs
  en/docs/api-analytics/getting-started-guide.md
  en/docs/api-analytics/role-based-access-control.md
  en/docs/api-analytics/viewing/introduction-to-api-analytics-dashboard.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
Labels: API-M-4.1.0

#5827 [4.0.0] - Add Azure App Insight events to APIM docs
  en/docs/api-analytics/getting-started-guide.md
  en/docs/api-analytics/role-based-access-control.md
  en/docs/api-analytics/viewing/introduction-to-api-analytics-dashboard.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
Labels: API-M-4.0.0

#5828 [Master] - Add Azure App Insight events to APIM docs
  en/docs/api-analytics/getting-started-guide.md
  en/docs/api-analytics/role-based-access-control.md
  en/docs/api-analytics/viewing/introduction-to-api-analytics-dashboard.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
Labels: API-M-Master, API-M 4.2.0

#5807 Update docs with latest improvements sent via u2 updates
  en/docs/administer/managing-users-and-roles/managing-users-for-admin-portal.md
  en/docs/reference/faq.md
Labels: API-M-4.0.0

#5831 fixes https://github.com/wso2/docs-apim/issues/5795
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-with-mock-impl.md
  en/docs/design/endpoints/endpoint-types.md
  en/docs/tutorials/develop-an-integration-with-a-managed-api.md
  en/mkdocs.yml
Labels: API-M-4.1.0

#5833 fixes https://github.com/wso2/docs-apim/issues/5471
  en/docs/design/rate-limiting/advanced-topics/configuring-rate-limiting-api-gateway-cluster.md
Labels: API-M-4.1.0

#5834 fixes #5471 and #3509
  en/docs/administer/multitenancy/managing-tenants.md
  en/docs/design/rate-limiting/advanced-topics/configuring-rate-limiting-api-gateway-cluster.md
Labels: API-M-Master

#5840 added deprecated feature
  en/docs/design/create-api/create-rest-api/generate-rest-api-from-soap-backend.md
  en/docs/get-started/about-this-release.md
Labels: API-M-4.1.0

#5837 fixes https://github.com/wso2/docs-apim/issues/3509
  en/docs/administer/multitenancy/managing-tenants.md
Labels: API-M-4.0.0

#5836 fixes https://github.com/wso2/docs-apim/issues/3509
  en/docs/administer/multitenancy/managing-tenants.md
Labels: API-M-4.1.0

#5839 Update setting-up-cloud-native-observability-on-a-vm.md
  en/docs/observe/micro-integrator/setting-up-cloud-native-observability-on-a-vm.md
Labels: API-M-4.1.0

#5845 PR review for https://github.com/wso2/docs-apim/pull/5700
  en/docs/assets/img/deploy/choreo-elk-analytics-data-flow.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
Labels: API-M-4.1.0

#5843 fixes https://github.com/wso2/docs-apim/issues/5842
  en/docs/assets/img/learn/design-api/create-api-product/add-resources.png
  en/docs/assets/img/learn/design-api/create-api-product/api-product-portal-listing.png
  en/docs/assets/img/learn/design-api/create-api-product/api-product-publisher-details.png
  en/docs/assets/img/learn/design-api/create-api-product/create-api-product.png
  en/docs/assets/img/learn/design-api/create-api-product/customer-info-api.png
  en/docs/assets/img/learn/design-api/create-api-product/leasing-api.png
  en/docs/assets/img/learn/design-api/create-api-product/publish-api-product.png
  en/docs/assets/img/learn/design-api/create-api-product/select-customer-info-resources.png
  en/docs/assets/img/learn/design-api/create-api-product/select-leasing-resources.png
  en/docs/deploy-and-publish/deploy-on-gateway/deploy-api/deploy-an-api.md
  en/docs/design/create-api-product/create-api-product.md
Labels: Type/New Feature, API-M-4.1.0

#5844 fixes https://github.com/wso2/docs-apim/issues/5842
  en/docs/assets/img/learn/design-api/create-api-product/add-resources.png
  en/docs/assets/img/learn/design-api/create-api-product/api-product-portal-listing.png
  en/docs/assets/img/learn/design-api/create-api-product/api-product-publisher-details.png
  en/docs/assets/img/learn/design-api/create-api-product/create-api-product.png
  en/docs/assets/img/learn/design-api/create-api-product/customer-info-api.png
  en/docs/assets/img/learn/design-api/create-api-product/leasing-api.png
  en/docs/assets/img/learn/design-api/create-api-product/publish-api-product.png
  en/docs/assets/img/learn/design-api/create-api-product/select-customer-info-resources.png
  en/docs/assets/img/learn/design-api/create-api-product/select-leasing-resources.png
  en/docs/deploy-and-publish/deploy-on-gateway/deploy-api/deploy-an-api.md
  en/docs/design/create-api-product/create-api-product.md
Labels: API-M-Master

#5851 Update performance analysis results
  en/docs/install-and-setup/setup/si-setup/performance-analysis-results.md
Labels: API-M-4.1.0

#5859 Improvements for PR- 5845
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
Labels: API-M-4.1.0

#5855 Review and update for PR-5701
  en/docs/assets/img/deploy/choreo-elk-analytics-data-flow.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
Labels: PR/Reviewer-Updated, API-M-4.0.0

#5854 PR review and update for PR 5702
  en/docs/assets/img/deploy/choreo-elk-analytics-data-flow.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
Labels: API-M-Master, PR/Reviewer-Updated, docs/choreo-connect, API-M 4.2.0

#5863 Update Oracle Product Compatibility
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: API-M-Master, CEXP

#5867 Add X-JWT-Assertion user claims
  en/docs/reference/config-catalog.md
  en/tools/config-catalog-generator/data/configs.json
  en/tools/config-catalog-generator/dist/config-catalog.md
Labels: API-M-Master, CEXP

#5812 Update doc with apim-is-plugin info
  en/docs/administer/key-managers/configure-wso2is-connector.md
Labels: API-M-3.2.0

#5871 test
  en/docs/learn/analytics/adding-third-party-non-osgi-libraries.md
Labels: API-M-3.2.0

#5856 Add Stream Integration 4x Migration document
  en/docs/streaming/migrating-from-stream-processor.md
  en/mkdocs.yml
Labels: PR-Review/Pending Resolution, CEXP, API-M-4.0.0

#5857 Add Stream Integration 4x Migration document
  en/docs/streaming/migrating-from-stream-processor.md
  en/mkdocs.yml
Labels: CEXP, API-M-4.1.0

#5858 Add Stream Integration 4x Migration document
  en/docs/streaming/migrating-from-stream-processor.md
  en/mkdocs.yml
Labels: API-M-Master, CEXP

#5880 fixes https://github.com/wso2/docs-apim/issues/1290
  en/docs/learn/analytics/configuring-apim-analytics.md
Labels: API-M-3.1.0

#5883 fixes https://github.com/wso2/docs-apim/issues/1290
  en/docs/learn/analytics/configuring-apim-analytics.md
Labels: API-M-3.0.0

#5889 Updated based on review comment
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
Labels: API-M-4.1.0

#5890 Updated based on review comment
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
Labels: API-M-4.0.0

#5894 fixes A-1357
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-400.md
Labels: CEXP, API-M-4.0.0, APIMINTERNAL

#5898 fixes A-2085
  en/docs/consume/manage-subscription/advanced-topics/adding-an-api-subscription-workflow-using-bps.md
  en/docs/deploy-and-publish/publish-on-dev-portal/publish-to-multiple-external-api-stores.md
  en/docs/design/advanced-topics/adding-an-api-state-change-workflow-using-bps.md
  en/docs/install-and-setup/install/installation-prerequisites.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup-with-tm-separated.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup.md
  en/docs/install-and-setup/setup/mi-setup/brokers/configure-with-multiple-brokers.md
  en/docs/install-and-setup/setup/single-node/deploying-api-manager-using-single-node-instances.md
  en/docs/reference/customize-product/customizations/adding-a-user-signup-workflow-using-bps.md
  en/docs/reference/customize-product/customizations/customizing-login-pages-for-dev-portal-and-publisher.md
  en/docs/reference/customize-product/extending-api-manager/extending-workflows/cleaning-up-workflow-tasks.md
  en/docs/reference/faq.md
  en/docs/reference/java-documentation.md
  en/docs/reference/mediators/fastxslt-mediator.md
  en/docs/reference/product-apis/admin-apis/admin-v2/admin-v2.yaml
  en/docs/reference/product-apis/devops-apis/devops-v0/devops-v0.yaml
  en/docs/reference/product-apis/devportal-apis/devportal-v2/devportal-v2.yaml
  en/docs/reference/product-apis/gateway-apis/gateway-v1/gateway-v1.yaml
  en/docs/reference/product-apis/publisher-apis/publisher-v2/publisher-v2.yaml
  en/docs/reference/synapse-properties/data-services.md
  en/docs/reference/synapse-properties/transport-parameters/jms-transport-parameters.md
  en/docs/wip/deleted-pages/distributed-deployment-of-api-manager.md
Labels: CEXP, APIMINTERNAL, API-M-4.1.0

#5899 fixes A-2085
  en/docs/consume/manage-subscription/advanced-topics/adding-an-api-subscription-workflow-using-bps.md
  en/docs/deploy-and-publish/publish-on-dev-portal/publish-to-multiple-external-api-stores.md
  en/docs/design/advanced-topics/adding-an-api-state-change-workflow-using-bps.md
  en/docs/install-and-setup/install/installation-prerequisites.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup-with-tm-separated.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup.md
  en/docs/install-and-setup/setup/mi-setup/brokers/configure-with-multiple-brokers.md
  en/docs/install-and-setup/setup/single-node/deploying-api-manager-using-single-node-instances.md
  en/docs/reference/customize-product/customizations/adding-a-user-signup-workflow-using-bps.md
  en/docs/reference/customize-product/customizations/customizing-login-pages-for-dev-portal-and-publisher.md
  en/docs/reference/customize-product/extending-api-manager/extending-workflows/cleaning-up-workflow-tasks.md
  en/docs/reference/faq.md
  en/docs/reference/java-documentation.md
  en/docs/reference/mediators/fastxslt-mediator.md
  en/docs/reference/product-apis/admin-apis/admin-v2/admin-v2.yaml
  en/docs/reference/product-apis/devops-apis/devops-v0/devops-v0.yaml
  en/docs/reference/product-apis/devportal-apis/devportal-v2/devportal-v2.yaml
  en/docs/reference/product-apis/gateway-apis/gateway-v1/gateway-v1.yaml
  en/docs/reference/product-apis/publisher-apis/publisher-v2/publisher-v2.yaml
  en/docs/reference/synapse-properties/data-services.md
  en/docs/reference/synapse-properties/transport-parameters/jms-transport-parameters.md
  en/docs/wip/deleted-pages/distributed-deployment-of-api-manager.md
Labels: API-M-Master, CEXP, APIMINTERNAL

#5896 fixes A-2085
  en/docs/consume/manage-subscription/advanced-topics/adding-an-api-subscription-workflow-using-bps.md
  en/docs/deploy-and-publish/publish-on-dev-portal/publish-to-multiple-external-api-stores.md
  en/docs/design/advanced-topics/adding-an-api-state-change-workflow-using-bps.md
  en/docs/get-started/about-this-release.md
  en/docs/install-and-setup/install/installation-prerequisites.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup-with-tm-separated.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup.md
  en/docs/install-and-setup/setup/mi-setup/brokers/configure-with-multiple-brokers.md
  en/docs/install-and-setup/setup/single-node/deploying-api-manager-using-single-node-instances.md
  en/docs/reference/customize-product/customizations/adding-a-user-signup-workflow-using-bps.md
  en/docs/reference/customize-product/customizations/customizing-login-pages-for-dev-portal-and-publisher.md
  en/docs/reference/customize-product/extending-api-manager/extending-workflows/cleaning-up-workflow-tasks.md
  en/docs/reference/faq.md
  en/docs/reference/java-documentation.md
  en/docs/reference/mediators/fastxslt-mediator.md
  en/docs/reference/product-apis/admin-apis/admin-v2/admin-v2.yaml
  en/docs/reference/product-apis/devportal-apis/devportal-v2/devportal-v2.yaml
  en/docs/reference/product-apis/gateway-apis/gateway-v1/gateway-v1.yaml
  en/docs/reference/product-apis/publisher-apis/publisher-v2/publisher-v2.yaml
  en/docs/reference/synapse-properties/data-services.md
  en/docs/reference/synapse-properties/transport-parameters/jms-transport-parameters.md
  en/docs/wip/deleted-pages/distributed-deployment-of-api-manager.md
Labels: CEXP, API-M-4.0.0, APIMINTERNAL

#5900 fixes A-2085
  en/docs/develop/customizations/adding-a-user-signup-workflow-using-bps.md
  en/docs/develop/customizations/customizing-login-pages-for-dev-portal-and-publisher.md
  en/docs/develop/extending-api-manager/extending-workflows/cleaning-up-workflow-tasks.md
  en/docs/develop/java-documentation.md
  en/docs/develop/product-apis/admin-apis/admin-v0.17/admin-v0.17.yaml
  en/docs/develop/product-apis/admin-apis/admin-v1/admin-v1.yaml
  en/docs/develop/product-apis/devportal-apis/devportal-v1/devportal-v1.yaml
  en/docs/develop/product-apis/gateway-apis/gateway-v1/gateway-v1.yaml
  en/docs/develop/product-apis/publisher-apis/publisher-v1/publisher-v1.yaml
  en/docs/getting-started/about-this-release.md
  en/docs/install-and-setup/install/installation-prerequisites.md
  en/docs/install-and-setup/setup/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup.md
  en/docs/install-and-setup/setup/single-node/deploying-api-manager-using-single-node-instances.md
  en/docs/learn/consume-api/manage-subscription/advanced-topics/adding-an-api-subscription-workflow-using-bps.md
  en/docs/learn/design-api/advanced-topics/adding-an-api-state-change-workflow-using-bps.md
  en/docs/learn/design-api/publish-api/publish-to-multiple-external-api-stores.md
  en/docs/reference/faq.md
  en/docs/wip/apis/admin-v1.yaml
  en/docs/wip/apis/devportal-v0.15.yaml
  en/docs/wip/apis/devportal-v1.yaml
  en/docs/wip/apis/publisher-v0.15.yaml
  en/docs/wip/apis/publisher-v1.yaml
  en/docs/wip/deleted-pages/distributed-deployment-of-api-manager.md
  en/docs/wip/publisher.yaml
Labels: API-M-3.2.0, CEXP, APIMINTERNAL

#5901 fixes A-2085
  en/docs/administer/logging-and-monitoring/logging/gw-api.yaml
  en/docs/develop/customizations/customizing-login-pages-for-dev-portal-and-publisher.md
  en/docs/develop/extending-api-manager/extending-workflows/cleaning-up-workflow-tasks.md
  en/docs/develop/java-documentation.md
  en/docs/develop/product-apis/admin-apis/admin-v0.16/admin-v0.16.yaml
  en/docs/develop/product-apis/devportal-apis/devportal-v0.16/devportal-v0.16.yaml
  en/docs/develop/product-apis/devportal-apis/devportal-v1/devportal-v1.yaml
  en/docs/develop/product-apis/publisher-apis/publisher-v0.16/publisher-v0.16.yaml
  en/docs/develop/product-apis/publisher-apis/publisher-v1/publisher-v1.yaml
  en/docs/getting-started/about-this-release.md
  en/docs/install-and-setup/install/installation-prerequisites.md
  en/docs/install-and-setup/setup/setting-up-proxy-server-and-the-load-balancer/adding-a-custom-proxy-path.md
  en/docs/reference/faq.md
  en/docs/wip/apis/admin-v1.yaml
  en/docs/wip/apis/devportal-v0.15.yaml
  en/docs/wip/apis/devportal-v1.yaml
  en/docs/wip/apis/publisher-v0.15.yaml
  en/docs/wip/apis/publisher-v1.yaml
  en/docs/wip/deleted-pages/distributed-deployment-of-api-manager.md
  en/docs/wip/publisher.yaml
Labels: API-M-3.1.0, CEXP, APIMINTERNAL

#5902 fixes A-2085
  en/docs/administer/product-administration/adding-a-custom-proxy-path.md
  en/docs/develop/java-documentation.md
  en/docs/develop/product-apis/admin-apis/admin-v0.15/admin-v0.15.yaml
  en/docs/develop/product-apis/devportal-apis/devportal-v0.15/devportal-v0.15.yaml
  en/docs/develop/product-apis/devportal-apis/devportal-v1/devportal-v1.yaml
  en/docs/develop/product-apis/publisher-apis/publisher-v0.15/publisher-v0.15.yaml
  en/docs/develop/product-apis/publisher-apis/publisher-v1/publisher-v1.yaml
  en/docs/getting-started/about-this-release.md
  en/docs/install-and-setup/deploying-wso2-api-manager/distributed-deployment/deploying-wso2-api-m-in-a-distributed-setup.md
  en/docs/install-and-setup/installation-guide/installation-prerequisites.md
  en/docs/learn/consume-api/customizations/customizing-login-pages-for-dev-portal-and-publisher.md
  en/docs/learn/design-api/publish-api/publish-to-multiple-external-api-stores.md
  en/docs/learn/extensions/managing-workflow-extension/cleaning-up-workflow-tasks.md
  en/docs/reference/faq.md
  en/docs/wip/apis/admin-v1.yaml
  en/docs/wip/apis/devportal-v0.15.yaml
  en/docs/wip/apis/devportal-v1.yaml
  en/docs/wip/apis/publisher-v0.15.yaml
  en/docs/wip/apis/publisher-v1.yaml
  en/docs/wip/deleted-pages/distributed-deployment-of-api-manager.md
  en/docs/wip/need-to-update/minimum-high-availability-deployment-for-wso2-apim-analytics.md
  en/docs/wip/publisher.yaml
Labels: API-M-3.0.0, CEXP, APIMINTERNAL

#5881 [4.0.0] Update APIM-IS connector jars in docs
  en/docs/assets/attachments/administer/wso2is-extensions-1.2.10.zip
Labels: Type/WUM, API-M-4.0.0

#5903 Fixes A-1454
  en/docs/learn/consume-api/generating-sdks/generate-sdks-in-dev-portal.md
  en/docs/reference/config-catalog.md
  en/tools/config-catalog-generator/data/apim.sdk.toml
  en/tools/config-catalog-generator/data/configs.json
  en/tools/config-catalog-generator/dist/config-catalog.md
Labels: API-M-3.2.0, CEXP, APIMINTERNAL

#5897 [4.0.0] Add gateway environment configuration for enforcer and router
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-multiple-gateways-with-choreo-connect.md
Labels: docs/choreo-connect

#5905 [4.1.0] Add gateway environment configuration for enforcer and router
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-multiple-gateways-with-choreo-connect.md
Labels: docs/choreo-connect

#5906 [master] Add gateway environment configuration for enforcer and router
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-multiple-gateways-with-choreo-connect.md
Labels: docs/choreo-connect

#5910 fixes https://github.com/wso2/docs-apim/issues/5481
  en/docs/assets/img/consume/select-api-dev-portal.png
  en/docs/consume/generating-sdks/generate-sdks-in-dev-portal.md
  en/docs/reference/config-catalog.md
  en/tools/config-catalog-generator/data/apim.sdk.toml
  en/tools/config-catalog-generator/data/configs.json
  en/tools/config-catalog-generator/dist/config-catalog.md
Labels: API-M-Master, CEXP

#5909 fixes https://github.com/wso2/docs-apim/issues/5481
  en/docs/assets/img/consume/select-api-dev-portal.png
  en/docs/consume/generating-sdks/generate-sdks-in-dev-portal.md
  en/docs/reference/config-catalog.md
  en/tools/config-catalog-generator/data/apim.sdk.toml
  en/tools/config-catalog-generator/data/configs.json
  en/tools/config-catalog-generator/dist/config-catalog.md
Labels: CEXP, API-M-4.1.0

#5915 fixes A-1576
  en/docs/install-and-setup/setup/mi-setup/deployment/kubernetes_deployment.md
Labels: CEXP, API-M-4.0.0, APIMINTERNAL

#5913 fixes A-1576
  en/docs/install-and-setup/setup/mi-setup/deployment/kubernetes_deployment.md
Labels: CEXP, APIMINTERNAL, API-M-4.1.0

#5914 fixes A-1576
  en/docs/install-and-setup/setup/mi-setup/deployment/kubernetes_deployment.md
Labels: CEXP, APIMINTERNAL, API-M 4.2.0

#5920 fixes A-343
  en/docs/learn/design-api/create-api/generate-rest-api-from-soap-backend.md
Labels: API-M-3.2.0, CEXP, APIMINTERNAL

#5928 added deprecated feature
  en/docs/design/create-api/create-rest-api/generate-rest-api-from-soap-backend.md
  en/docs/get-started/about-this-release.md
Labels: API-M-Master
