Repository wso2/docs-apim, pull requests merged in 2022-11, with the labels that each got.

#6393 Minor Correction Relevant to the Choreo Connect 1.0.0 version.
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-router.md
Labels: API-M-4.1.0, docs/choreo-connect

#6385 [4.1.0] Update choreo connect backend security docs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/defining-a-backend-security-scheme.md
Labels: API-M-4.1.0, docs/choreo-connect

#6384 [4.1.0] Update choreo connect config info includes file and use in remaining locations as well
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/observability/distributed-tracing.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/passing-enduser-attributes-to-the-backend-via-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/enabling-cors.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/support-custom-claims-mapping.md
  en/docs/includes/deploy/cc-configuration-file.md
Labels: API-M-4.1.0, docs/choreo-connect

#6400 [4.1.0] Add cc rate limiting tip on multiple TMs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/rate-limiting/distributed-throttling.md
Labels: API-M-4.1.0, docs/choreo-connect

#6394 [4.1.0] Organize cc config location info for all configs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/adapter-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configuration-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
Labels: API-M-4.1.0, docs/choreo-connect

#6387 [Feature] Revoke One Time Tokens Policy
  en/docs/assets/img/design/api-policies/attach-policy.png
  en/docs/assets/img/design/api-policies/revocation-workflow.png
  en/docs/design/api-policies/revoke-one-time-tokens-policy.md
  en/mkdocs.yml
Labels: Type/New Feature, API-M-Master

#6388 [Feature] Handling accidental deletions of shared backend certificates
  en/docs/assets/img/learn/certificate-added.png
  en/docs/design/endpoints/certificates.md
Labels: Type/New Feature, API-M-Master

#6389 [Feature] Add documentation for "Throttle policy import-export support for APIM
  en/docs/design/rate-limiting/throttle-policy-import-export.md
  en/mkdocs.yml
Labels: Type/New Feature, API-M-Master

#6448 Improved the 3.2.0 migration docs
  en/docs/administer/managing-users-and-roles/managing-user-stores/introduction-to-userstores.md
  en/docs/install-and-setup/setup/deployment-best-practices/production-deployment-guidelines.md
  en/docs/install-and-setup/setup/deployment-best-practices/security-guidelines-for-production-deployment.md
  en/docs/install-and-setup/setup/security/configuring-keystores/configuring-keystores-in-wso2-api-manager.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-1100-to-320.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-320.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-320.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-320.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-320.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-320.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-320.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-310-to-320.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-process.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-5100-to-is-5100.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-520-to-5100.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-530-to-5100.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-550-to-5100.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-560-to-5100.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-570-to-5100.md
  en/docs/install-and-setup/upgrading-wso2-is-as-key-manager/upgrading-from-is-km-590-to-5100.md
  en/docs/learn/api-controller/advanced-topics/configuring-different-endpoint-types.md
  en/docs/learn/api-gateway/message-mediation/removing-specific-request-headers-from-response.md
  en/docs/learn/design-api/endpoints/certificates.md
Labels: API-M-3.2.0
