Repository wso2/docs-apim, pull requests merged in 2022-07, with the labels that each got.

#6065 [CC][master] Mention that both pub and sub must be updated for Websocket APIs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-websocket-api-in-choreo-connect.md
  en/docs/includes/design/create-streaming-api/create-a-websocket-streaming-api.md
Labels: API-M-Master, docs/choreo-connect

#6066 [CC][4.1.0] Mention that both pub and sub must be updated for Websocket APIs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-websocket-api-in-choreo-connect.md
  en/docs/includes/design/create-streaming-api/create-a-websocket-streaming-api.md
Labels: API-M-4.1.0, docs/choreo-connect

#5936 [CC][4.1.0] Improve mock impl docs and fix typos
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-router.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-with-mock-impl.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/endpoint-types.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/configuring-an-external-key-manager.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/tls/component-certificates.md
  en/docs/design/prototype-api/create-mocked-oas-api.md
  en/docs/design/prototype-api/overview.md
  en/docs/includes/design/add-oas-example.md
  en/tools/config-catalog-generator-cc/data/enforcer/apim_credentials.toml
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
  en/tools/config-catalog-generator-cc/templates/index_enforcer.njk
Labels: API-M-4.1.0, docs/choreo-connect

#6085 Add docs related giving data source support to mi dashboard
  en/docs/install-and-setup/install/installing-the-product/installing-mi-dashboard.md
  en/docs/install-and-setup/install/installing-the-product/setting-up-ibm-db2.md
  en/docs/install-and-setup/install/installing-the-product/setting-up-mssql.md
  en/docs/install-and-setup/install/installing-the-product/setting-up-mysql.md
  en/docs/install-and-setup/install/installing-the-product/setting-up-oracle.md
  en/docs/install-and-setup/install/installing-the-product/setting-up-postgresql.md
  en/docs/reference/config-catalog-mi-dashboard.md
  en/mkdocs.yml
Labels: Type/U2

#5960 [CC] x-forward-for header manipulation using `use_remote_address` router config
  en/docs/assets/img/deploy/mgw/xff-scenario-1.png
  en/docs/assets/img/deploy/mgw/xff-scenario-2.png
  en/docs/assets/img/deploy/mgw/xff-scenario-3.png
  en/docs/assets/img/deploy/mgw/xff-scenario-4.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/xff-header.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/router/configs.json
  en/tools/config-catalog-generator-cc/data/router/router.toml
  en/tools/config-catalog-generator-cc/dist/router-configurations.md
Labels: API-M-Master, docs/choreo-connect

#6067 [4.1.0] Add heap dump docs for CC Router
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/debug-memory.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#6107 [4.1.0] Use placeholder for Choreo Connect version
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-apis-as-immutable-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/extensions/custom-filters.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/git-integration.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/production-deployment-guideline.md
  en/docs/design/api-security/opa-validation/custom-opa-policy-for-choreo-connect.md
  en/docs/get-started/about-this-release.md
  en/docs/includes/deploy/cc-prod-guide-helm-values-yaml-tip.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#6112 [4.1.0] Update router debug image repository name
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/debug-memory.md
  en/mkdocs.yml
Labels: docs/choreo-connect
