Repository wso2/docs-apim, pull requests merged in 2022-08, with the labels that each got.

#6110 [master] Add heap dump docs for CC Router and Use placeholder for Choreo Connect version
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-apis-as-immutable-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/extensions/custom-filters.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/git-integration.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/production-deployment-guideline.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/debug-memory.md
  en/docs/design/api-security/opa-validation/custom-opa-policy-for-choreo-connect.md
  en/docs/get-started/about-this-release.md
  en/docs/includes/deploy/cc-prod-guide-helm-values-yaml-tip.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#6113 [4.1.0] Port review fixes in #6110
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-apis-as-immutable-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/debug-memory.md
Labels: docs/choreo-connect

#6111 [4.0.0] Add heap dump docs for CC Router and Use placeholder for Choreo Connect version
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-apis-as-immutable-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/extensions/custom-filters.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/production-deployment-guideline.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/debug-memory.md
  en/docs/get-started/about-this-release.md
  en/docs/includes/deploy/cc-prod-guide-helm-values-yaml-tip.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#5997 [CC][master] SOAP APIs support (SOAP --> SOAP : Passthrough)
  en/docs/assets/img/deploy/mgw/invoke-soap-api.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-soap-api-passthrough.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
  en/docs/deploy-and-publish/deploy-on-gateway/deploying-apis-in-api-gateway-vs-choreo-connect.md
  en/mkdocs.yml
Labels: docs/choreo-connect, API-M 4.2.0

#6088 [4.1.0] [CC] Mention about K8 deployment option for production environments
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-in-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-deploy-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-docker-with-apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/git-integration.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/production-deployment-guideline.md
  en/mkdocs.yml
Labels: API-M-4.1.0, docs/choreo-connect

#6087 [master] [cc] Mention about K8 deployment option for production environments
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/defining-a-backend-security-scheme.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/failover-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-deploy-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-docker-with-apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/git-integration.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/production-deployment-guideline.md
  en/mkdocs.yml
Labels: API-M-Master, docs/choreo-connect

#6089 [4.0.0] [CC] Mention about K8 deployment option for production environments
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-log4j2.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-in-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/defining-a-backend-security-scheme.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/failover-endpoints.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-deploy-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-docker-with-apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/production-deployment-guideline.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#6121 [Master] Remove Hazelcast Based Gateway Clustering
  en/docs/get-started/about-this-release.md
Labels: API-M-Master

#6120 [4.1.0] Deprecate Hazelcast Based Gateway Clustering
  en/docs/get-started/about-this-release.md
Labels: API-M-4.1.0

#6096 [CC][4.1.0] Adding docs for Choreo Connect updating
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-soap-api-passthrough.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/update-choreo-connect.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#6134 OpenTelemetry docs
  en/docs/assets/img/administer/opentelemetry-jaeger-mi.png
  en/docs/assets/img/administer/opentelemetry-jaeger.png
  en/docs/assets/img/administer/opentelemetry-zipkin-mi.png
  en/docs/assets/img/administer/opentelemetry-zipkin.png
  en/docs/assets/img/administer/opentracing-jaeger.png
  en/docs/assets/img/administer/opentracing-zipkin.png
  en/docs/observe/api-manager/traces/monitoring-with-opentelemetry.md
  en/docs/observe/api-manager/traces/monitoring-with-opentracing.md
  en/docs/observe/micro-integrator/classic-observability-traces/monitoring-with-opentelemetry-mi.md
  en/mkdocs.yml
Labels: API-M 4.2.0

#6083 [CC][master] Improve mock impl docs and fix typos
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-router.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-with-mock-impl.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/endpoint-types.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/configuring-an-external-key-manager.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/tls/component-certificates.md
  en/docs/design/prototype-api/create-mocked-oas-api.md
  en/docs/design/prototype-api/overview.md
  en/docs/includes/design/add-oas-example.md
  en/tools/config-catalog-generator-cc/data/enforcer/apim_credentials.toml
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
  en/tools/config-catalog-generator-cc/templates/index_enforcer.njk
Labels: API-M-Master, docs/choreo-connect

#6103 Documentation for APICTL Common API Policy operations
  en/docs/install-and-setup/setup/api-controller/advanced-topics/creating-custom-users-to-perform-api-controller-operations.md
  en/docs/install-and-setup/setup/api-controller/managing-common-api-policies/managing-common-api-policies.md
  en/docs/install-and-setup/setup/api-controller/managing-common-api-policies/migrating-common-api-policies-to-different-environments.md
  en/docs/reference/product-apis/publisher-apis/publisher-v2/publisher-v2.yaml
  en/mkdocs.yml
Labels: API-M 4.2.0

#6139 Add the doc changes for enabling correlation logs during runtime
  en/docs/observe/api-manager/monitoring-correlation-logs.md
  en/docs/reference/product-apis/devops-apis/devops-v0/devops-v0.yaml
Labels: API-M 4.2.0

#6131 Add enable Correlation Logs without a server restart docs
  en/docs/observe/mi-observe/working-with-management-api.md
  en/docs/observe/micro-integrator/classic-observability-logs/monitoring-correlation-logs.md
Labels: API-M 4.2.0

#6141 [3.2.0] - Update doc on added feature
  en/docs/administer/logging-and-monitoring/logging/setting-up-logging-per-api.md
  en/mkdocs.yml
Labels: API-M-3.2.0

#6151 Fixed the Jinja-like statement build issue
  .gitignore
  en/docs/observe/micro-integrator/classic-observability-traces/monitoring-with-opentelemetry-mi.md
  en/requirements.txt
Labels: API-M-Master, component/observability

#6127 [4.1.0] Choreo Connect graphQL documentation addition
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-graphql-api-in-choreo-connect.md
  en/mkdocs.yml
Labels: API-M-4.1.0, docs/choreo-connect

#6072 [master] Choreo Connect graphQL documentation addition
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-graphql-api-in-choreo-connect.md
  en/mkdocs.yml
Labels: API-M-Master, docs/choreo-connect

#6157 [4.1.0] Update docs to mention about Choreo Connect GraphQL API support
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
  en/docs/deploy-and-publish/deploy-on-gateway/deploying-apis-in-api-gateway-vs-choreo-connect.md
Labels: API-M-4.1.0, docs/choreo-connect

#6097 [4.1.0] [Choreo Connect] Performance test result document addition
  en/docs/assets/img/deploy/mgw/performance-test/percentiles-110-1cpu.png
  en/docs/assets/img/deploy/mgw/performance-test/percentiles-110-2cpu.png
  en/docs/assets/img/deploy/mgw/performance-test/response-time-110-1cpu.png
  en/docs/assets/img/deploy/mgw/performance-test/response-time-110-2cpu.png
  en/docs/assets/img/deploy/mgw/performance-test/test-deployment.png
  en/docs/assets/img/deploy/mgw/performance-test/throughput-110-1cpu.png
  en/docs/assets/img/deploy/mgw/performance-test/throughput-110-2cpu.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/performance-tests/performance-test-results-overview-cc.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/performance-tests/router-with-one-cpu-for-rest-api.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/performance-tests/router-with-two-cpu-for-rest-api.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#6168 [4.1.0] [Choreo Connect] Test data table addition
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/performance-tests/router-with-one-cpu-for-rest-api.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/performance-tests/router-with-two-cpu-for-rest-api.md
Labels: API-M-4.1.0, docs/choreo-connect

#6099 [4.0.0] [Choreo Connect] Performance test result document addition
  en/docs/assets/img/deploy/mgw/performance-test/percentiles-100-1cpu.png
  en/docs/assets/img/deploy/mgw/performance-test/percentiles-100-2cpu.png
  en/docs/assets/img/deploy/mgw/performance-test/response-100-1cpu.png
  en/docs/assets/img/deploy/mgw/performance-test/response-100-2cpu.png
  en/docs/assets/img/deploy/mgw/performance-test/test-deployment.png
  en/docs/assets/img/deploy/mgw/performance-test/throughput-100-1cpu.png
  en/docs/assets/img/deploy/mgw/performance-test/throughput-100-2cpu.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/performance-tests/performance-test-results-overview-cc.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/performance-tests/router-with-one-cpu-for-rest-api.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/performance-tests/router-with-two-cpu-for-rest-api.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#6159 Add docs for registry resources
  en/docs/observe/mi-observe/working-with-management-api.md
  en/docs/observe/mi-observe/working-with-monitoring-dashboard.md
Labels: API-M 4.2.0

#6123 [4.1.0] [Choreo Connect] Updated doc for Choreo connect WebSocket deployment in stand alone mode
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-websocket-api-in-choreo-connect.md
Labels: API-M-4.1.0, docs/choreo-connect

#6149 Update Salesforce REST connector docs with getReport operation
  en/docs/reference/connectors/salesforce-connectors/sf-rest-connector-config.md
Labels: API-M-4.0.0

#6148 Update Salesforce REST connector docs with getReport operation
  en/docs/reference/connectors/salesforce-connectors/sf-rest-connector-config.md
Labels: API-M-4.1.0

#6147 Update Salesforce REST connector docs with getReport operation
  en/docs/reference/connectors/salesforce-connectors/sf-rest-connector-config.md
Labels: API-M-Master

#6114 [4.1.0][CC] Exposing a SOAP endpoint as a REST API in Choreo Connect
  en/docs/assets/img/deploy/mgw/apim-create-api-using-service-catalog.png
  en/docs/assets/img/deploy/mgw/apim-service-catalog.png
  en/docs/assets/img/deploy/mgw/soap-to-rest.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-to-soap-api.md
  en/mkdocs.yml
Labels: API-M-4.1.0, docs/choreo-connect
