Repository wso2/docs-apim, pull requests merged in 2022-04, with the labels that each got.

#5545 fixes https://github.com/wso2/docs-apim/issues/4048
  en/docs/design/api-security/oauth2/token-revocation.md
  en/docs/get-started/about-this-release.md
  en/docs/reference/product-apis/token-api.md
Labels: API-M-4.0.0

#5552 fixes https://github.com/wso2/docs-apim/issues/5505
  en/docs/administer/updating-wso2-api-manager.md
  en/docs/design/api-documentation/search-documentation/add-new-search-keyword.md
  en/docs/install-and-setup/setup/reference/common-runtime-and-configuration-artifacts.md
  en/mkdocs.yml
Labels: API-M-4.1.0

#5551 fixes https://github.com/wso2/docs-apim/issues/5505
  en/docs/administer/updating-wso2-api-manager.md
  en/docs/design/api-documentation/search-documentation/add-new-search-keyword.md
  en/docs/get-started/about-this-release.md
  en/docs/install-and-setup/setup/reference/common-runtime-and-configuration-artifacts.md
  en/mkdocs.yml
Labels: API-M-4.0.0

#5519 Update migration documents for APIM 4.1.0
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-EI6.1.0_to_APIM4.1.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-EI6.1.1_to_APIM4.1.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-EI6.2.x_to_APIM4.1.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-EI6.3.x_to_APIM4.1.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-EI6.4.x_to_APIM4.1.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-EI6.5.x_to_APIM4.1.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-EI6.6.x_to_APIM4.1.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-EI7.0.x_to_APIM4.1.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-EI7.1.x_to_APIM4.1.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-ei6.1.0-to-apim4.0.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-ei6.1.1-to-apim4.0.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-ei6.2.x-to-apim4.0.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-ei6.3.x-to-apim4.0.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-ei6.4.x-to-apim4.0.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-ei6.5.x-to-apim4.0.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-ei6.6.x-to-apim4.0.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-ei7.0.x-to-apim4.0.0.zip
  en/docs/assets/attachments/migration/micro-integrator/migration-scripts-ei7.1.x-to-apim4.0.0.zip
  en/docs/includes/integration/pull-content-migration-esb-mi.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-apim-4.0.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.1.0.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.1.1.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.2.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.3.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.4.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.5.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-6.6.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-7.0.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-ei-7.1.x.md
  en/docs/install-and-setup/upgrading-from-wso2-ei/upgrading-from-esb-5.x.x.md
  en/docs/observe/micro-integrator/classic-observability-logs/monitoring-logs.md
  en/mkdocs.yml
Labels: component/migration, API-M-4.1.0

#5564 [4.0.0]Update API operator version
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/install.md
Labels: API-M-4.0.0

#5567 [4.0.0] Updating the Sample API definition link of apictl
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/importing-apis-via-dev-first-approach.md
Labels: API-M-4.0.0

#5562 Pointing the migration scripts download zip location to release tag
  en/docs/install-and-setup/upgrading-wso2-api-manager/320-to-410/upgrading-from-320-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/400-to-410/upgrading-from-400-to-410.md
Labels: API-M-4.1.0

#5563 Modify the docs related to forget-me tool
  en/docs/install-and-setup/setup/security/general-data-protection-regulation-gdpr-for-wso2-api-manager.md
Labels: API-M-4.1.0

#5559 [Choreo Connect] Custom filter dependency's version upgrade
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-custom-hostnames.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/extensions/custom-filters.md
Labels: docs/choreo-connect

#5560 [4.0.0][Choreo Connect] - Minor fix to mention API deployment
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-api-with-custom-hostnames.md
Labels: docs/choreo-connect

#5578 Update CICD docs
  en/docs/install-and-setup/setup/api-controller/building-jenkins-ci-cd-pipeline-for-dev-first-approach.md
  en/mkdocs.yml
Labels: CEXP

#5579 Update CICD docs
  en/docs/install-and-setup/setup/api-controller/building-jenkins-ci-cd-pipeline-for-dev-first-approach.md
  en/mkdocs.yml
Labels: CEXP

#5575 Adding docs to support new CI/CD Story introduced in APICTL 4.0.0
  en/docs/assets/img/learn/api-controller/business-plan-gold-selected.png
  en/docs/assets/img/learn/api-controller/create-api-last-step.png
  en/docs/assets/img/learn/api-controller/create-api.png
  en/docs/assets/img/learn/api-controller/creating-env-based-artifacts.png
  en/docs/assets/img/learn/api-controller/endpoints-petstore-api.png
  en/docs/assets/img/learn/api-controller/prod-dev-endpoints-petstore-api.png
  en/docs/install-and-setup/setup/api-controller/cicd-using-cli.md
Labels: API-M-4.1.0

#5576 [4.0.0] Adding docs to support new CI/CD Story introduced in APICTL 4.0.0
  en/docs/assets/img/learn/api-controller/business-plan-gold-selected.png
  en/docs/assets/img/learn/api-controller/create-api-last-step.png
  en/docs/assets/img/learn/api-controller/create-api.png
  en/docs/assets/img/learn/api-controller/creating-env-based-artifacts.png
  en/docs/assets/img/learn/api-controller/endpoints-petstore-api.png
  en/docs/assets/img/learn/api-controller/prod-dev-endpoints-petstore-api.png
  en/docs/install-and-setup/setup/api-controller/advanced-topics/creating-custom-users-to-perform-api-controller-operations.md
  en/docs/install-and-setup/setup/api-controller/cicd-using-cli.md
Labels: API-M-4.0.0

#5555 Update Prototype API and Mock Impl Docs
  en/docs/assets/img/learn/prototype-api/mock-impl-edit-api-definition.png
  en/docs/assets/img/learn/prototype-api/mock-impl-lifecycle.png
  en/docs/assets/img/learn/prototype-api/prototype-api-devportal.png
  en/docs/assets/img/learn/prototype-api/prototype-api-lifecycle.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-with-mock-impl.md
  en/docs/design/api-security/api-authentication/disable-security.md
  en/docs/design/prototype-api/backend-url-prototype-api.md
  en/docs/design/prototype-api/create-mocked-js-api.md
  en/docs/design/prototype-api/create-mocked-oas-api.md
  en/docs/design/prototype-api/overview.md
  en/docs/includes/design/add-oas-example.md
  en/docs/includes/design/invoke-prerelease-api.md
  en/mkdocs.yml
Labels: API-M-4.1.0, docs/choreo-connect

#5592 [master] Fix img link in cc mock impl
  en/docs/design/prototype-api/create-mocked-oas-api.md
Labels: API-M-4.1.0, docs/choreo-connect

#5594 [master] Fix mock impl links and update example section
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-with-mock-impl.md
  en/docs/includes/design/add-oas-example.md
Labels: API-M-4.1.0, docs/choreo-connect

#5553 fixes https://github.com/wso2/docs-apim/issues/5239
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/passing-enduser-attributes-to-the-backend-via-api-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/passing-enduser-attributes-to-the-backend-via-choreo-connect.md
Labels: API-M-4.1.0

#5574 [4.1.0][CC] Fix typos and update formatting in getting started docs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-docker.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-docker-with-apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/includes/deploy/k8s-setup-note.md
  en/mkdocs.yml
Labels: API-M-4.1.0, docs/choreo-connect

#5483 Update json-eval expression to use entire json body.
  en/docs/tutorials/integration-tutorials/using-the-gmail-connector.md
Labels: help wanted, Docs/Waiting on SME

#5601 PR sync for https://github.com/wso2/docs-apim/pull/5483
  en/docs/tutorials/integration-tutorials/using-the-gmail-connector.md
Labels: API-M-4.1.0

#5357 Revisit choreo-connect log configuration docs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configuration-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-log4j2.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-adapter.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-enforcer.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-router.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/adding-debug-logs.md
  en/mkdocs.yml
Labels: Docs/SyncPR-Pending, API-M-4.1.0, docs/choreo-connect

#5609 Add ELK base analytics solution for APIM 4.1.0
  en/docs/api-analytics/on-prem/elk-installation-guide.md
  en/docs/assets/img/analytics/cloud/add-new-role.png
  en/docs/assets/img/analytics/cloud/add-new-sp.png
  en/docs/assets/img/analytics/cloud/add-new-user.png
  en/docs/assets/img/analytics/cloud/architecture.png
  en/docs/assets/img/analytics/cloud/cache.png
  en/docs/assets/img/analytics/cloud/claim-config.png
  en/docs/assets/img/analytics/cloud/create-role-mapping.png
  en/docs/assets/img/analytics/cloud/devices.png
  en/docs/assets/img/analytics/cloud/errors.png
  en/docs/assets/img/analytics/cloud/export.ndjson
  en/docs/assets/img/analytics/cloud/inbound-auth-config.png
  en/docs/assets/img/analytics/cloud/latency1.png
  en/docs/assets/img/analytics/cloud/latency2.png
  en/docs/assets/img/analytics/cloud/login-apim.png
  en/docs/assets/img/analytics/cloud/login-elastic.png
  en/docs/assets/img/analytics/cloud/main-menu.png
  en/docs/assets/img/analytics/cloud/mapping-rules.png
  en/docs/assets/img/analytics/cloud/overview.png
  en/docs/assets/img/analytics/cloud/select-user-role.png
  en/docs/assets/img/analytics/cloud/service-providers.png
  en/docs/assets/img/analytics/cloud/traffic1.png
  en/docs/assets/img/analytics/cloud/traffic2.png
  en/docs/assets/img/analytics/cloud/update-settings.png
  en/mkdocs.yml
Labels: API-M-4.1.0

#5610 fixes https://github.com/wso2/docs-apim/issues/5604
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: API-M-4.1.0

#5612 fixes https://github.com/wso2/docs-apim/pull/5612
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: API-M-4.0.0

#5617 [Choreo Connect] [1.1.0] Change for multi-arch image name use for APIM in CC
  en/docs/includes/deploy/cc-tryout-in-arm64-docker-note.md
Labels: docs/choreo-connect

#5621 Correcting a pom.xml in the sample project of Configure a Custom Key Manager documentation
  en/docs/assets/attachments/administer/custom.auth.client.zip
Labels: API-M-Master, CEXP

#5619 Correcting a pom.xml in the sample project of Configure a Custom Key Manager documentation
  en/docs/assets/attachments/administer/custom.auth.client.zip
Labels: CEXP, API-M-4.0.0

#5627 fixes https://github.com/wso2/docs-apim/issues/5604
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: API-M-3.2.0

#5628 enabled indexing
  en/theme/material/base.html
Labels: API-M-4.1.0

#5629 Adding google verification
  en/docs/google5db3f40334e06fa3.html
Labels: API-M-4.1.0

#5630 updated link for 4.1.0
  en/docs/config.json
Labels: API-M-4.1.0

#5639 APIM 3.2.0 Documentation Correction - Axis2 transport proxy configuration
  en/docs/reference/config-catalog.md
  en/tools/config-catalog-generator/data/_http-passthrough-transport.toml
  en/tools/config-catalog-generator/data/configs.json
  en/tools/config-catalog-generator/dist/config-catalog.md
  en/tools/config-catalog-generator/package-lock.json
Labels: API-M-3.2.0, CEXP

#5654 Update migration document with latest client
  en/docs/assets/attachments/install-and-setup/org.wso2.carbon.apimgt.migrate.client-4.0.0.jar
Labels: CEXP, API-M-4.0.0, 4.0.0-post

#5659 fixes https://github.com/wso2/docs-apim/issues/5658
  en/docs/design/lifecycle-management/api-lifecycle.md
Labels: API-M-4.1.0

#5660 fixes https://github.com/wso2/docs-apim/issues/5658
  en/docs/design/lifecycle-management/api-lifecycle.md
Labels: 4.2.0

#5672 fixes https://github.com/wso2/docs-apim/issues/5667
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/production-deployment-guideline.md
  en/docs/get-started/api-manager-quick-start-guide.md
  en/docs/includes/analytics/configure-synapse-gateway.md
  en/docs/includes/deploy/assign-custom-hostname.md
  en/docs/install-and-setup/setup/api-controller/building-jenkins-ci-cd-pipeline.md
  en/docs/install-and-setup/setup/api-controller/encrypting-secrets-with-ctl.md
  en/docs/install-and-setup/setup/api-controller/getting-started-with-wso2-api-controller.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/managing-apis-and-api-products.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/migrating-api-products-to-different-environments.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/migrating-apis-to-different-environments.md
  en/docs/install-and-setup/setup/api-controller/managing-applications/managing-applications.md
Labels: API-M 4.2.0

#5673 fixes https://github.com/wso2/docs-apim/issues/5667
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/production-deployment-guideline.md
  en/docs/get-started/api-manager-quick-start-guide.md
  en/docs/includes/analytics/configure-synapse-gateway.md
  en/docs/includes/deploy/assign-custom-hostname.md
  en/docs/install-and-setup/setup/api-controller/building-jenkins-ci-cd-pipeline.md
  en/docs/install-and-setup/setup/api-controller/encrypting-secrets-with-ctl.md
  en/docs/install-and-setup/setup/api-controller/getting-started-with-wso2-api-controller.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/managing-apis-and-api-products.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/migrating-api-products-to-different-environments.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-api-products/migrating-apis-to-different-environments.md
  en/docs/install-and-setup/setup/api-controller/managing-applications/managing-applications.md
Labels: API-M-4.1.0

#5675 fixes https://github.com/wso2/docs-apim/issues/5666
  en/docs/consume/manage-application/generate-keys/generate-api-keys.md
Labels: API-M 4.2.0

#5674 fixes https://github.com/wso2/docs-apim/issues/5666
  en/docs/consume/manage-application/generate-keys/generate-api-keys.md
Labels: API-M-4.1.0

#5677 fixes https://github.com/wso2/docs-apim/issues/5665
  en/docs/design/prototype-api/overview.md
  en/docs/get-started/about-this-release.md
Labels: API-M 4.2.0

#5676 fixes https://github.com/wso2/docs-apim/issues/5665
  en/docs/design/prototype-api/overview.md
  en/docs/get-started/about-this-release.md
Labels: API-M-4.1.0

#5679 fixes https://github.com/wso2/docs-apim/issues/5650
  en/docs/install-and-setup/setup/security/configuring-transport-level-security.md
Labels: API-M-4.0.0

#5678 fixes https://github.com/wso2/docs-apim/issues/5650
  en/docs/install-and-setup/setup/security/configuring-transport-level-security.md
Labels: API-M-4.1.0

#5681 fixes https://github.com/wso2/docs-apim/issues/5631
  en/docs/tutorials/streaming-api/create-and-publish-sse-api.md
Labels: API-M-4.0.0

#5668 [4.0.0] Update Choreo Connect helm version with 1.0.0-2
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/control-plane-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane-helm-artifacts.md
  en/tools/config-catalog-generator-cc/data/control-plane/configs.json
  en/tools/config-catalog-generator-cc/data/control-plane/cp_jms.toml
  en/tools/config-catalog-generator-cc/dist/control-plane-configurations.md
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
Labels: API-M-4.0.0, docs/choreo-connect

#5664 [4.1.0] Update Choreo Connect helm version with 1.1.0-1
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/control-plane-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane-helm-artifacts.md
  en/tools/config-catalog-generator-cc/data/control-plane/configs.json
  en/tools/config-catalog-generator-cc/data/control-plane/cp_jms.toml
  en/tools/config-catalog-generator-cc/dist/control-plane-configurations.md
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
Labels: API-M-4.1.0, docs/choreo-connect

#5669 [master] Update Choreo Connect helm version with 1.1.0-1
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/control-plane-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane-helm-artifacts.md
  en/tools/config-catalog-generator-cc/data/control-plane/configs.json
  en/tools/config-catalog-generator-cc/data/control-plane/cp_jms.toml
  en/tools/config-catalog-generator-cc/dist/control-plane-configurations.md
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
Labels: docs/choreo-connect

#5686 fixes https://github.com/wso2/docs-apim/issues/5685
  en/theme/material/partials/header.html
Labels: API-M-4.0.0

#5687 add dev container support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: API-M-Master

#5691 updating algolia theme colors
  en/docs/assets/css/theme.css
Labels: API-M-Master, API-M 4.2.0

#5671 [master] [CC] Updated image name versions relevant to the Choreo Connect components
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/production-deployment-guideline.md
  en/docs/includes/deploy/cc-tryout-in-arm64-k8s-note.md
Labels: docs/choreo-connect

#5670 [4.1.0] [CC] Update image names in CC K8 tryout page
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/production-deployment-guideline.md
  en/docs/includes/deploy/cc-tryout-in-arm64-k8s-note.md
Labels: API-M-4.1.0, docs/choreo-connect

#5699 fixes https://github.com/wso2/docs-apim/issues/5695
  en/docs/install-and-setup/upgrading-wso2-api-manager/400-to-410/upgrading-from-400-to-410.md
Labels: API-M-Master

#5698 fixes https://github.com/wso2/docs-apim/issues/5695
  en/docs/install-and-setup/upgrading-wso2-api-manager/400-to-410/upgrading-from-400-to-410.md
Labels: API-M-4.1.0

#5704 fixes https://github.com/wso2/docs-apim/issues/5703
  en/docs/assets/img/work-in-progress.png
  en/docs/includes/work-in-progress.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-1100-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-191-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-310-to-410.md
  en/mkdocs.yml
Labels: API-M-4.1.0

#5705 fixes https://github.com/wso2/docs-apim/issues/5703
  en/docs/assets/img/work-in-progress.png
  en/docs/includes/work-in-progress.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-1100-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-191-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-200-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-210-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-220-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-250-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-260-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-300-to-410.md
  en/docs/install-and-setup/upgrading-wso2-api-manager/upgrading-from-310-to-410.md
  en/mkdocs.yml
Labels: API-M-Master, API-M 4.2.0

#5696 Refactor the tutorial docs
  en/docs/assets/img/tutorials/service-endpoint-dropdown.png
  en/docs/tutorials/develop-an-integration-with-a-managed-api.md
  en/docs/tutorials/scenarios/scenario-overview.md
Labels: API-M-Master, API-M 4.2.0

#5711 fixes https://github.com/wso2/docs-apim/issues/5710
  en/docs/administer/managing-users-and-roles/managing-users.md
  en/docs/reference/connectors/kafka-connector/kafka-connector-overview.md
  en/docs/reference/connectors/mongodb-connector/mongodb-connector-example.md
  en/docs/reference/connectors/mongodb-connector/mongodb-connector-overview.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/configuring-recaptcha-for-self-signup.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/overriding-developer-portal-theme.md
  en/docs/reference/mediators/builder-mediator.md
  en/docs/reference/mediators/log-mediator.md
  en/docs/reference/mediators/property-reference/generic-properties.md
  en/docs/reference/mediators/script-mediator.md
  en/docs/reference/synapse-properties/about-message-stores-processors.md
  en/docs/reference/synapse-properties/message-stores/custom-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/in-memory-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/jdbc-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/jms-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/rabbitmq-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/resequence-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/wso2mb-msg-store-properties.md
  en/docs/reference/synapse-properties/proxy-service-properties.md
  en/docs/reference/synapse-properties/rest-api-properties.md
  en/docs/reference/synapse-properties/template-properties.md
  en/docs/reference/synapse-properties/transport-parameters/rabbitmq-transport-parameters.md
  en/docs/streaming/getting-started/create-the-siddhi-application.md
  en/docs/streaming/getting-started/getting-started-guide-overview.md
  en/docs/streaming/getting-started/monitor-statistics.md
  en/docs/streaming/getting-started/test-siddhi-application.md
  en/docs/use-cases/streaming-usecase/use-cases.md
Labels: API-M-4.0.0

#5712 fixes https://github.com/wso2/docs-apim/issues/5710
  en/docs/administer/managing-users-and-roles/managing-users.md
  en/docs/reference/connectors/kafka-connector/kafka-connector-overview.md
  en/docs/reference/connectors/mongodb-connector/mongodb-connector-example.md
  en/docs/reference/connectors/mongodb-connector/mongodb-connector-overview.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/configuring-recaptcha-for-self-signup.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/overriding-developer-portal-theme.md
  en/docs/reference/mediators/builder-mediator.md
  en/docs/reference/mediators/log-mediator.md
  en/docs/reference/mediators/property-reference/generic-properties.md
  en/docs/reference/mediators/script-mediator.md
  en/docs/reference/synapse-properties/about-message-stores-processors.md
  en/docs/reference/synapse-properties/message-stores/custom-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/in-memory-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/jdbc-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/jms-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/rabbitmq-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/resequence-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/wso2mb-msg-store-properties.md
  en/docs/reference/synapse-properties/proxy-service-properties.md
  en/docs/reference/synapse-properties/rest-api-properties.md
  en/docs/reference/synapse-properties/template-properties.md
  en/docs/reference/synapse-properties/transport-parameters/rabbitmq-transport-parameters.md
  en/docs/streaming/getting-started/create-the-siddhi-application.md
  en/docs/streaming/getting-started/getting-started-guide-overview.md
  en/docs/streaming/getting-started/monitor-statistics.md
  en/docs/streaming/getting-started/test-siddhi-application.md
  en/docs/use-cases/streaming-usecase/use-cases.md
Labels: API-M-4.1.0

#5707 fixes https://github.com/wso2/docs-apim/issues/5685
  en/docs/assets/css/theme.css
  en/theme/material/partials/header.html
Labels: API-M-4.0.0

#5730 Update HTTP endpoint OAuth Configs
  en/docs/reference/synapse-properties/endpoint-properties.md
Labels: API-M-4.1.0

#5714 updating algolia theme colors
  en/docs/assets/css/theme.css
  en/docs/use-cases/streaming-usecase/use-cases.md
Labels: API-M-4.1.0

#5715 updating algolia theme colors
  en/docs/assets/css/theme.css
  en/docs/use-cases/streaming-usecase/use-cases.md
Labels: API-M-4.0.0

#5722 fixes https://github.com/wso2/docs-apim/issues/5568
  en/docs/assets/img/setup-and-install/distributed-deployment-tm.png
Labels: API-M-4.1.0

#5723 fixes https://github.com/wso2/docs-apim/issues/5568
  en/docs/assets/img/setup-and-install/distributed-deployment-tm.png
Labels: API-M-Master, API-M 4.2.0

#5728 partly fixes https://github.com/wso2/docs-apim/issues/5727
  en/docs/administer/logging-and-monitoring/logging/configuring-logging.md
  en/docs/api-analytics/api-analytics-architecture.md
  en/docs/api-analytics/configure-alerts.md
  en/docs/api-analytics/gateways/configure-synapse-gateway.md
  en/docs/api-analytics/getting-started-guide.md
  en/docs/api-analytics/role-based-access-control.md
  en/docs/api-analytics/viewing/analytics-pages-overview.md
  en/docs/api-analytics/viewing/introduction-to-api-analytics-dashboard.md
  en/docs/install-and-setup/setup/reference/product-compatibility.md
  en/docs/install-and-setup/setup/sso/okta-as-an-external-idp-using-saml.md
  en/docs/integrate/integration-overview.md
  en/docs/mi-analytics/setting-up-mi-analytics.md
  en/docs/mi-analytics/using-the-analytics-dashboard.md
  en/docs/observe/api-manager/metrics/jmx-based-monitoring.md
  en/docs/observe/api-manager/monitoring-api-logs.md
  en/docs/observe/api-manager/monitoring-audit-logs.md
  en/docs/observe/api-manager/monitoring-correlation-logs.md
  en/docs/observe/api-manager/monitoring-http-access-logs.md
  en/docs/observe/api-manager/traces/monitoring-with-opentracing.md
  en/docs/observe/micro-integrator/classic-observability-logs/configuring-log4j2-properties.md
  en/docs/observe/micro-integrator/classic-observability-logs/enabling-logs-for-a-component.md
  en/docs/observe/micro-integrator/classic-observability-logs/monitoring-correlation-logs.md
  en/docs/observe/micro-integrator/classic-observability-logs/monitoring-logs.md
  en/docs/observe/micro-integrator/classic-observability-metrics/snmp-monitoring.md
  en/docs/observe/micro-integrator/cloud-native-observability-overview.md
  en/docs/observe/micro-integrator/setting-up-cloud-native-observability-in-kubernetes.md
  en/docs/observe/micro-integrator/setting-up-cloud-native-observability-on-a-vm.md
  en/docs/observe/micro-integrator/viewing-cloud-native-observability-statistics.md
  en/docs/observe/streaming-integrator/setting-up-si-statistics-dashboards.md
  en/docs/observe/streaming-integrator/viewing-etl-flows.md
  en/docs/observe/streaming-integrator/viewing-general-statistics.md
  en/docs/reference/product-apis/overview.md
  en/docs/tutorials/integration-tutorials/service-catalog-tutorial.md
Labels: API-M-4.1.0

#5721 add dev container support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: API-M-3.0.0

#5717 add dev container support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: API-M-4.1.0

#5718 add dev container support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: API-M-4.0.0

#5719 add dev container support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: API-M-3.2.0

#5720 add dev container support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: API-M-3.1.0

#5729 partly fixes https://github.com/wso2/docs-apim/issues/5727
  en/docs/administer/logging-and-monitoring/logging/configuring-logging.md
  en/docs/api-analytics/api-analytics-architecture.md
  en/docs/api-analytics/configure-alerts.md
  en/docs/api-analytics/gateways/configure-synapse-gateway.md
  en/docs/api-analytics/getting-started-guide.md
  en/docs/api-analytics/role-based-access-control.md
  en/docs/api-analytics/viewing/analytics-pages-overview.md
  en/docs/api-analytics/viewing/introduction-to-api-analytics-dashboard.md
  en/docs/install-and-setup/setup/reference/product-compatibility.md
  en/docs/install-and-setup/setup/sso/okta-as-an-external-idp-using-saml.md
  en/docs/integrate/integration-overview.md
  en/docs/mi-analytics/setting-up-mi-analytics.md
  en/docs/mi-analytics/using-the-analytics-dashboard.md
  en/docs/observe/api-manager/metrics/jmx-based-monitoring.md
  en/docs/observe/api-manager/monitoring-api-logs.md
  en/docs/observe/api-manager/monitoring-audit-logs.md
  en/docs/observe/api-manager/monitoring-correlation-logs.md
  en/docs/observe/api-manager/monitoring-http-access-logs.md
  en/docs/observe/api-manager/traces/monitoring-with-opentracing.md
  en/docs/observe/micro-integrator/classic-observability-logs/configuring-log4j2-properties.md
  en/docs/observe/micro-integrator/classic-observability-logs/enabling-logs-for-a-component.md
  en/docs/observe/micro-integrator/classic-observability-logs/monitoring-correlation-logs.md
  en/docs/observe/micro-integrator/classic-observability-logs/monitoring-logs.md
  en/docs/observe/micro-integrator/classic-observability-metrics/snmp-monitoring.md
  en/docs/observe/micro-integrator/cloud-native-observability-overview.md
  en/docs/observe/micro-integrator/setting-up-cloud-native-observability-in-kubernetes.md
  en/docs/observe/micro-integrator/setting-up-cloud-native-observability-on-a-vm.md
  en/docs/observe/micro-integrator/viewing-cloud-native-observability-statistics.md
  en/docs/observe/streaming-integrator/setting-up-si-statistics-dashboards.md
  en/docs/observe/streaming-integrator/viewing-etl-flows.md
  en/docs/observe/streaming-integrator/viewing-general-statistics.md
  en/docs/reference/product-apis/overview.md
  en/docs/tutorials/integration-tutorials/service-catalog-tutorial.md
Labels: API-M-Master

#5725 fixes https://github.com/wso2/docs-apim/issues/5532
  en/docs/assets/attachments/design/sample-archive.zip
  en/docs/design/create-api/create-rest-api/create-a-rest-api-from-an-openapi-definition.md
Labels: API-M-4.1.0

#5724 fixes https://github.com/wso2/docs-apim/issues/5532
  en/docs/assets/attachments/design/sample-archive.zip
  en/docs/design/create-api/create-rest-api/create-a-rest-api-from-an-openapi-definition.md
  en/mkdocs.yml
Labels: API-M-Master

#5713 fixes https://github.com/wso2/docs-apim/issues/5710
  en/docs/administer/managing-users-and-roles/managing-users.md
  en/docs/reference/connectors/kafka-connector/kafka-connector-overview.md
  en/docs/reference/connectors/mongodb-connector/mongodb-connector-example.md
  en/docs/reference/connectors/mongodb-connector/mongodb-connector-overview.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/configuring-recaptcha-for-self-signup.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/overriding-developer-portal-theme.md
  en/docs/reference/mediators/builder-mediator.md
  en/docs/reference/mediators/log-mediator.md
  en/docs/reference/mediators/property-reference/generic-properties.md
  en/docs/reference/mediators/script-mediator.md
  en/docs/reference/synapse-properties/about-message-stores-processors.md
  en/docs/reference/synapse-properties/message-stores/custom-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/in-memory-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/jdbc-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/jms-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/rabbitmq-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/resequence-msg-store-properties.md
  en/docs/reference/synapse-properties/message-stores/wso2mb-msg-store-properties.md
  en/docs/reference/synapse-properties/proxy-service-properties.md
  en/docs/reference/synapse-properties/rest-api-properties.md
  en/docs/reference/synapse-properties/template-properties.md
  en/docs/reference/synapse-properties/transport-parameters/rabbitmq-transport-parameters.md
  en/docs/streaming/getting-started/create-the-siddhi-application.md
  en/docs/streaming/getting-started/getting-started-guide-overview.md
  en/docs/streaming/getting-started/monitor-statistics.md
  en/docs/streaming/getting-started/test-siddhi-application.md
  en/docs/use-cases/streaming-usecase/use-cases.md
Labels: API-M-Master, API-M 4.2.0

#5708 fixes https://github.com/wso2/docs-apim/issues/5640
  en/docs/use-cases/streaming-tutorials/expose-a-kafka-topic-as-a-managed-websocket-api.md
Labels: Docs/Waiting on SME, API-M-4.0.0

#5709 [4.0.0] fixes https://github.com/wso2/docs-apim/issues/5626
  en/docs/use-cases/examples/streaming-examples/publish-kafka-in-json-format.md
Labels: Docs/Waiting on SME, API-M-4.0.0

#5734 [4.0.0] fixes https://github.com/wso2/docs-apim/issues/5626
  en/docs/use-cases/examples/streaming-examples/publish-kafka-in-json-format.md
Labels: API-M-4.1.0

#5735 fixes https://github.com/wso2/docs-apim/issues/5626
  en/docs/use-cases/examples/streaming-examples/publish-kafka-in-json-format.md
Labels: API-M 4.2.0

#5733 fixes https://github.com/wso2/docs-apim/issues/5640
  en/docs/use-cases/streaming-tutorials/expose-a-kafka-topic-as-a-managed-websocket-api.md
Labels: API-M-4.1.0

#5732 fixes https://github.com/wso2/docs-apim/issues/5640
  en/docs/use-cases/streaming-tutorials/expose-a-kafka-topic-as-a-managed-websocket-api.md
Labels: API-M-Master, API-M 4.2.0

#5653 Update HTTP endpoint OAuth Configs
  en/docs/reference/synapse-properties/endpoint-properties.md
Labels: API-M-Master

#5656 [4.1.0][CC] Update API Authentication docs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/configuring-an-external-key-manager.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/disabling-security.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/internal-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/oauth2-access-tokens.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/generate-a-test-jwt.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/rejecting-revoked-tokens.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
Labels: API-M-4.1.0, docs/choreo-connect

#5688 [4.0.0][CC] Add helm repo before installing APIM helm chart
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane-helm-artifacts.md
Labels: API-M-4.0.0, docs/choreo-connect

#5689 [4.1.0][CC] Add helm repo before installing APIM helm chart
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane-helm-artifacts.md
Labels: API-M-4.1.0, docs/choreo-connect

#5690 [master][CC] Add helm repo before installing APIM helm chart
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-as-a-standalone-gateway-on-kubernetes-helm-artifacts.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/deploy/cc-on-kubernetes-with-apim-as-control-plane-helm-artifacts.md
Labels: docs/choreo-connect

#5750 fixed link
  en/docs/install-and-setup/setup/mi-setup/deployment/deployment_synchronization.md
Labels: API-M-4.0.0

#5751 Axis2 transport proxy configuration
  en/docs/reference/config-catalog.md
  en/tools/config-catalog-generator/data/configs.json
  en/tools/config-catalog-generator/dist/config-catalog.md
Labels: CEXP

#5745 Fixed link
  en/docs/install-and-setup/setup/mi-setup/deployment/deployment_synchronization.md
Labels: API-M-Master, API-M 4.2.0

#5737 [master][CC] Update API Authentication docs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/configuring-an-external-key-manager.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/disabling-security.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/internal-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/oauth2-access-tokens.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/generate-a-test-jwt.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/rejecting-revoked-tokens.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
Labels: docs/choreo-connect, API-M 4.2.0

#5739 Update passing-enduser-attributes-to-the-backend-via-api-gateway.md
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/passing-enduser-attributes-to-the-backend-via-api-gateway.md
Labels: API-M 4.2.0

#5744 [4.0.0] Update apim-as-control-plane.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/concepts/apim-as-control-plane.md
Labels: API-M-4.0.0

#5755 Update product-compatibility.md
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: API-M-4.1.0

#5757 [master-sync] Update product-compatibility.md
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: API-M-Master, API-M 4.2.0

#5752 Update configuring-transport-level-security.md
  en/docs/install-and-setup/setup/security/configuring-transport-level-security.md
Labels: API-M-4.1.0

#5753 [4.0.0-sync]Update configuring-transport-level-security.md
  en/docs/install-and-setup/setup/security/configuring-transport-level-security.md
Labels: API-M-4.0.0

#5754 [master-sync]Update configuring-transport-level-security.md
  en/docs/install-and-setup/setup/security/configuring-transport-level-security.md
Labels: API-M-Master, API-M 4.2.0

#5758 Minor fixes to issue links
  en/CONTRIBUTE.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/service-mesh/istio.md
  en/docs/design/api-collaborations/enable-social-media-interaction.md
  en/docs/install-and-setup/install/deploying-api-manager-with-kubernetes-or-openshift-resources.md
  en/docs/install-and-setup/setup/api-controller/building-jenkins-ci-cd-pipeline.md
  en/docs/install-and-setup/setup/api-controller/managing-apis-in-kubernetes/managing-apis-in-kubernetes.md
  en/docs/install-and-setup/setup/api-controller/managing-choreo-connect/managing-choreo-connect-with-ctl.md
Labels: PR-Review/Pending Resolution, API-M-4.1.0

#5762 Update JAR name
  en/docs/install-and-setup/setup/mi-setup/transport_configurations/configuring-transports.md
  en/docs/install-and-setup/setup/security/configuring-transport-level-security.md
Labels: 4.0.0-post

#5747 Fixed broken YAML url
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/install.md
Labels: API-M-4.1.0

#5770 [master-sync PR] Update obtaining-user-profile-information-with-openid-connect.md
  en/docs/design/api-security/openid-connect/obtaining-user-profile-information-with-openid-connect.md
Labels: API-M-Master, API-M 4.2.0

#5769 Update obtaining-user-profile-information-with-openid-connect.md
  en/docs/design/api-security/openid-connect/obtaining-user-profile-information-with-openid-connect.md
Labels: API-M-4.0.0

#5768 Update obtaining-user-profile-information-with-openid-connect.md
  en/docs/design/api-security/openid-connect/obtaining-user-profile-information-with-openid-connect.md
Labels: API-M-4.1.0

#5771 Update monetizing-an-api.md
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-4.1.0

#5763 Fixed broken YAML url
  en/docs/install-and-setup/setup/kubernetes-operators/k8s-api-operator/install.md
Labels: API-M-Master, API-M 4.2.0

#5772 [master-Sync PR] Update monetizing-an-api.md
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-Master

#5773 Update monetizing-an-api.md
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-4.0.0

#5764 Update product-compatibility.md
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: API-M-4.1.0

#5766 Update JAR file name
  en/docs/install-and-setup/setup/mi-setup/transport_configurations/configuring-transports.md
  en/docs/install-and-setup/setup/security/configuring-transport-level-security.md
Labels: API-M-4.1.0

#5767 Update JAR file name
  en/docs/install-and-setup/setup/mi-setup/transport_configurations/configuring-transports.md
  en/docs/install-and-setup/setup/security/configuring-transport-level-security.md
Labels: API-M-Master, API-M 4.2.0

#5760 [4.1.0][CC] Mock Impl - Add sample link and standalone mode steps
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-with-mock-impl.md
  en/docs/design/prototype-api/create-mocked-js-api.md
  en/docs/design/prototype-api/create-mocked-oas-api.md
  en/docs/includes/design/add-oas-example.md
Labels: API-M-4.1.0, docs/choreo-connect

#5759 [master][CC] Mock Impl - Add sample link and standalone mode steps
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-api-with-mock-impl.md
  en/docs/design/prototype-api/create-mocked-js-api.md
  en/docs/design/prototype-api/create-mocked-oas-api.md
  en/docs/includes/design/add-oas-example.md
Labels: API-M-Master, docs/choreo-connect

#5741 [4.0.0][CC] Update API Authentication docs
  en/docs/assets/img/design/api-security/desable-security-for-resource.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/configuring-an-external-key-manager.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/disabling-security.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/internal-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/oauth2-access-tokens.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/generate-a-test-jwt.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/rejecting-revoked-tokens.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
Labels: API-M-4.0.0, docs/choreo-connect

#5775 [4.0.0-Sync PR] Update microsoft-azure-storage-reference.md
  en/docs/reference/connectors/microsoft-azure-storage-connector/microsoft-azure-storage-reference.md
Labels: API-M-4.0.0

#5774 Update microsoft-azure-storage-reference.md
  en/docs/reference/connectors/microsoft-azure-storage-connector/microsoft-azure-storage-reference.md
Labels: API-M-4.1.0

#5776 Update microsoft-azure-storage-reference.md
  en/docs/reference/connectors/microsoft-azure-storage-connector/microsoft-azure-storage-reference.md
Labels: API-M-Master

#5786 PR sync https://github.com/wso2/docs-apim/pull/5764
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: API-M-Master, API-M 4.2.0

#5787 PR sync https://github.com/wso2/docs-apim/pull/5764
  en/docs/install-and-setup/setup/reference/product-compatibility.md
Labels: API-M-4.0.0

#5781 [4.1.0 Sync PR] Update custom synapse storage details
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/custom-synapse-artifacts.md
  en/mkdocs.yml
Labels: API-M-4.1.0

#5783 [master-Sync PR] Update custom synapse storage details
  en/docs/deploy-and-publish/deploy-on-gateway/api-gateway/custom-synapse-artifacts.md
  en/mkdocs.yml
Labels: API-M-Master

#5790 fixes https://github.com/wso2/docs-apim/issues/5788
  en/docs/install-and-setup/setup/security/configuring-transport-level-security.md
Labels: API-M-4.0.0
