Repository wso2/docs-apim, pull requests merged in 2022-09, with the labels that each got.

#6206 Add note about REST methods in Generate Data Service docs
  en/docs/integrate/develop/creating-artifacts/data-services/creating-data-services.md
Labels: API-M-4.1.0

#6205 Add note about REST methods in Generate Data Service docs
  en/docs/integrate/develop/creating-artifacts/data-services/creating-data-services.md
Labels: API-M-Master

#6142 [master] [CC] Add FAQs docs for choreo-connect
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/faq.md
  en/mkdocs.yml
Labels: docs/choreo-connect, API-M 4.2.0

#6143 [4.0.0] [CC] Add FAQs docs for choreo-connect
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/faq.md
  en/mkdocs.yml
Labels: API-M-4.0.0, docs/choreo-connect

#6144 [4.1.0] [CC] Add FAQs docs for choreo-connect
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/faq.md
  en/mkdocs.yml
Labels: API-M-4.1.0, docs/choreo-connect

#6133 [master] [CC] OTLP exporter docs added
  en/docs/assets/img/deploy/mgw/trace-otlp.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/observability/distributed-tracing.md
Labels: docs/choreo-connect, API-M 4.2.0

#6161 Removed jaggery.js from apim apps. Migrated portals as webapps
  en/docs/consume/customizations/adding-internationalization.md
  en/docs/consume/manage-application/advanced-topics/adding-an-application-creation-workflow-using-bps.md
  en/docs/consume/manage-application/advanced-topics/adding-an-application-key-generation-workflow-using-bps.md
  en/docs/consume/manage-subscription/advanced-topics/adding-an-api-subscription-workflow-using-bps.md
  en/docs/design/api-collaborations/enable-social-media-interaction.md
  en/docs/design/lifecycle-management/customize-api-life-cycle.md
  en/docs/install-and-setup/setup/distributed-deployment/product-profiles.md
  en/docs/install-and-setup/setup/security/user-account-management.md
  en/docs/install-and-setup/setup/setting-up-proxy-server-and-the-load-balancer/configuring-the-proxy-server-and-the-load-balancer.md
  en/docs/reference/customize-product/customizations/adding-a-user-signup-workflow-using-bps.md
  en/docs/reference/customize-product/customizations/adding-internationalization.md
  en/docs/reference/customize-product/customizations/advanced-ui-customization.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/advanced-customization.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/customize-api-listing/change-default-view.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/enable-or-disable-banner.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/enable-or-disable-footer.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/enable-or-disable-home-page.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/enable-or-disable-rating.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/enable-or-disable-tag-cloud.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/enabling-or-disabling-api-detail-tabs.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/overriding-developer-portal-theme.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/styling-api-details-info-section.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/styling-api-details-left-menu.md
  en/docs/reference/customize-product/customizations/customizing-the-developer-portal/styling-the-logo-and-header.md
  en/docs/reference/customize-product/customizations/overriding-the-publisher-portal-theme.md
  en/docs/reference/customize-product/extending-api-manager/extending-workflows/configuring-workflows-in-a-cluster.md
Labels: API-M-Master

#5969 Add documentation on mutual SSL authentication for Choreo Connect
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/mutual-ssl-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/deploying-apis-in-api-gateway-vs-choreo-connect.md
  en/docs/design/api-security/api-authentication/secure-apis-using-mutual-ssl.md
  en/docs/includes/design/create-mtls-api.md
  en/docs/includes/design/invoke-mtls-api-using-postman.md
  en/docs/includes/handling-mtls-ssl-termination.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/enforcer/configs.json
  en/tools/config-catalog-generator-cc/data/enforcer/mutual_ssl.toml
  en/tools/config-catalog-generator-cc/data/router/configs.json
  en/tools/config-catalog-generator-cc/data/router/downstream_tls.toml
  en/tools/config-catalog-generator-cc/dist/enforcer-configurations.md
  en/tools/config-catalog-generator-cc/dist/router-configurations.md
Labels: docs/choreo-connect, API-M 4.2.0

#6158 [master] Update docs to mention about Choreo Connect GraphQL API support
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/supported-features.md
  en/docs/deploy-and-publish/deploy-on-gateway/deploying-apis-in-api-gateway-vs-choreo-connect.md
Labels: API-M-Master, docs/choreo-connect

#6116 [4.0.0][CC] Adding docs for Choreo Connect updating
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/update-choreo-connect.md
  en/mkdocs.yml
Labels: API-M-4.0.0, docs/choreo-connect
