Repository wso2/docs-apim, pull requests merged in 2022-10, with the labels that each got.

#6326 Configuration to load default trusted root certs to enforcer
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
Labels: API-M 4.2.0

#6344 [4.0.0] Choreo Connect compression filter
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/data-compression.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/router/configs.json
  en/tools/config-catalog-generator-cc/data/router/router_filters.toml
  en/tools/config-catalog-generator-cc/dist/router-configurations.md
Labels: API-M-4.0.0, docs/choreo-connect

#6341 [master] Choreo Connect compression filter
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/data-compression.md
  en/mkdocs.yml
  en/tools/config-catalog-generator-cc/data/router/configs.json
  en/tools/config-catalog-generator-cc/data/router/router_filters.toml
  en/tools/config-catalog-generator-cc/dist/router-configurations.md
Labels: API-M-Master, docs/choreo-connect

#6115 [master][CC] Adding docs for Choreo Connect updating
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/update-choreo-connect.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#6378 [main] Update choreo connent doc for auth, qsg, logging and tracing
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-enforcer.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/observability/distributed-tracing.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/configuring-an-external-key-manager.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/internal-key-authentication.md
  en/docs/includes/invoke-api-with-api-key.md
  en/docs/includes/obtain-api-key.md
  en/mkdocs.yml
Labels: docs/choreo-connect

#6381 [4.1.0] Update choreo connent doc for auth, qsg, logging and tracing
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-enforcer.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/observability/distributed-tracing.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/internal-key-authentication.md
  en/docs/includes/invoke-api-with-api-key.md
  en/docs/includes/obtain-api-key.md
Labels: API-M-4.1.0, docs/choreo-connect

#6386 [4.1.0] Minor formatting change to cc faq to make main topics prominent
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/faq.md
Labels: API-M-4.1.0, docs/choreo-connect

#6380 [4.0.0] Choreo Connect Router wire logs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configure-logs-router.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/troubleshooting/adding-debug-logs.md
  en/mkdocs.yml
Labels: 4.0.0-post, docs/choreo-connect

#6382 [4.1.0] Update choreo connet docs for endpoints, update, soap
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-to-soap-api.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-soap-api-passthrough.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/endpoint-types.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/update-choreo-connect.md
  en/mkdocs.yml
Labels: API-M-4.1.0, docs/choreo-connect
