Repository wso2/docs-apim, pull requests merged in 2023-02, with the labels that each got.

#6634 Updated Copyrights
  en/theme/material/partials/footer.html
Labels: API-M-3.1.0

#6633 Updated Copyrights
  en/theme/material/partials/footer.html
Labels: API-M-3.2.0

#6632 Updated Copyrights
  en/theme/material/partials/footer.html
Labels: API-M-Master

#6631 Updated Copyrights
  en/theme/material/partials/footer.html
Labels: API-M 4.2.0

#6617 Backend JWT & JWKS docs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/passing-enduser-attributes-to-the-backend-via-choreo-connect.md
Labels: docs/choreo-connect

#6650 Updated the link in the copyrights
  en/theme/material/partials/footer.html
Labels: API-M 4.2.0

#6649 Updated Footer
  en/theme/material/partials/footer.html
Labels: API-M-3.0.0

#6646 Updated Footer
  en/theme/material/partials/footer.html
Labels: API-M-4.0.0

#6645 Updated the footer
  en/theme/material/partials/footer.html
Labels: API-M-4.1.0

#6644 Updated the footer
  en/theme/material/partials/footer.html
Labels: API-M-Master

#6653 Update IS Connector
  en/docs/assets/attachments/administer/wso2is-km-connector-u2.zip
  en/docs/assets/attachments/administer/wso2is-km-connector-wum.zip
Labels: API-M-3.2.0

#6422 [master] Update choreo connect config info and use in remaining locations as well
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/observability/distributed-tracing.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/passing-enduser-attributes-to-the-backend-via-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/enabling-cors.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/support-custom-claims-mapping.md
  en/docs/includes/deploy/cc-configuration-file.md
Labels: API-M-Master, docs/choreo-connect

#6485 [4.0.0] Update choreo connet docs for endpoints, update
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-websocket-api-in-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/endpoint-types.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/update-choreo-connect.md
  en/mkdocs.yml
Labels: API-M-4.0.0, docs/choreo-connect

#6497 [4.0.0] Update choreo connect docs for auth, qsg, tracing
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/observability/distributed-tracing.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/internal-key-authentication.md
  en/docs/includes/invoke-api-with-api-key.md
  en/docs/includes/obtain-api-key.md
Labels: API-M-4.0.0, docs/choreo-connect

#6562 [master] Add config note to cc mtls doc
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/mutual-ssl-authentication.md
Labels: API-M-Master, docs/choreo-connect

#6565 [4.2.0] Add config note to cc mtls doc
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/mutual-ssl-authentication.md
Labels: docs/choreo-connect, API-M 4.2.0

#6566 [4.0.0] Add cc rate limiting tip on multiple TMs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/rate-limiting/distributed-throttling.md
Labels: API-M-4.0.0, docs/choreo-connect

#6568 [master] Add cc rate limiting tip on multiple TMs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/rate-limiting/distributed-throttling.md
Labels: API-M-Master, docs/choreo-connect

#6567 [4.2.0] Add cc rate limiting tip on multiple TMs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/rate-limiting/distributed-throttling.md
Labels: docs/choreo-connect, API-M 4.2.0

#6505 [4.0.0] Organize cc config location info for all configs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/adapter-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configuration-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
Labels: API-M-4.0.0, docs/choreo-connect

#6569 [4.2.0] Organize cc config location info for all configs
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/adapter-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/configuration-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/enforcer-configurations.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configurations/router-configurations.md
Labels: docs/choreo-connect, API-M 4.2.0

#6672 fixes https://github.com/wso2/docs-apim/issues/6671
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-4.1.0

#6673 fixes https://github.com/wso2/docs-apim/issues/6671
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M 4.2.0

#6674 fixes https://github.com/wso2/docs-apim/pull/6672
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-Master

#6504 [4.0.0] Update choreo connect config info and use in remaining locations as well
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/configure-analytics.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/choreo-connect-overview.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/observability/distributed-tracing.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/passing-enduser-attributes-to-the-backend-via-choreo-connect.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/enabling-cors.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/support-custom-claims-mapping.md
  en/docs/includes/deploy/cc-configuration-file.md
Labels: API-M-4.0.0, docs/choreo-connect

#6564 [4.2.0] Add soap to rest doc and Update choreo connet docs for endpoints, update, soap, apikey
  en/docs/assets/img/deploy/mgw/apim-create-api-using-service-catalog.png
  en/docs/assets/img/deploy/mgw/apim-service-catalog.png
  en/docs/assets/img/deploy/mgw/soap-to-rest.png
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-rest-to-soap-api.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/deploy-api/deploy-soap-api-passthrough.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/endpoints/endpoint-types.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/getting-started/quick-start-guide-docker-with-apim.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/update-choreo-connect.md
  en/mkdocs.yml
Labels: docs/choreo-connect, API-M 4.2.0

#6677 fixed typo
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/security/api-authentication/api-key-authentication.md
Labels: API-M-Master

#6676 Update the postman collection of REST API Docs
  en/docs/reference/product-apis/overview.md
  en/docs/reference/product-apis/publisher-apis/publisher-v4/publisher-v4.yaml
Labels: Docs/SyncPR-Pending, API-M 4.2.0

#6680 Add missing steps
  en/docs/assets/img/learn/extensions/saml2-sso/app-federate.png
  en/docs/assets/img/learn/extensions/saml2-sso/sample-sp.png
  en/docs/reference/customize-product/extending-api-manager/saml2-sso/configuring-identity-server-as-idp-for-sso.md
Labels: PR-Review/Pending Resolution

#6395 [master] Choreo Connect analytics data with custom attributes
  en/docs/deploy-and-publish/deploy-on-gateway/choreo-connect/analytics/pulbish-custom-analytics-attributes.md
  en/mkdocs.yml
Labels: API-M-Master, docs/choreo-connect

#6688 Updated Stripe plugin version
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-Master

#6687 Updated Stripe plugin version
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M 4.2.0

#6686 Updated Stripe plugin version
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M-4.1.0

#6697 Update attachment and link
  en/docs/administer/managing-users-and-roles/managing-user-stores/configuring-secondary-user-stores-mi.md
  en/docs/assets/attachments/secondary-userstore-templates.zip
Labels: API-M-4.1.0

#6698 Update Links mentioned in the documentation related to On-Premise analytics
  en/docs/api-analytics/on-prem/elk-installation-guide.md
Labels: API-M 4.2.0

#6696 Update doc "Adding Internationalization and Localization"
  en/docs/reference/customize-product/customizations/adding-internationalization.md
Labels: API-M 4.2.0

#6709 [4.0.0] Update Choreo Connect Helm chart version
  en/mkdocs.yml
Labels: docs/choreo-connect

#6710 [4.1.0] Update Choreo Connect Helm chart version
  en/mkdocs.yml
Labels: docs/choreo-connect

#6712 Check and populate null entries with appropriate values under API Documents related REST APIs
  en/docs/reference/product-apis/publisher-apis/publisher-v3/publisher-v3.yaml
Labels: API-M-4.1.0

#6719 [4.2.0] Add App password creation info to Enabling Notification feature
  en/docs/design/api-versioning/enabling-notifications.md
Labels: API-M 4.2.0

#6717 [3.0.0] Update copyright statement
  en/theme/material/partials/footer.html
Labels: API-M-3.0.0

#6716 [3.1.0] Update copyright statement
  en/theme/material/partials/footer.html
Labels: API-M-3.1.0

#6715 [3.2.0] Update copyright statement
  en/theme/material/partials/footer.html
Labels: API-M-3.2.0

#6714 [4.0.0] Update copyright statement
  en/theme/material/partials/footer.html
Labels: API-M-4.0.0

#6713 [4.1.0] Update copyright statement
  en/theme/material/partials/footer.html
Labels: API-M-4.1.0

#6726 Update VFS paramters section with StrictHostKeyChecking parameter
  en/docs/reference/synapse-properties/transport-parameters/vfs-transport-parameters.md
Labels: API-M 4.2.0

#6724 [Doc] Introduce MI with Liveness Health check API
  en/docs/install-and-setup/setup/deployment-best-practices/basic-health-checks.md
Labels: API-M 4.2.0

#6729 Update the upgrading API Manager information
  en/docs/install-and-setup/install-and-setup-overview.md
Labels: API-M-4.0.0

#6733 Integration Studio Support for OAUTH2 authentication for Email connector
  en/docs/reference/connectors/email-connector/email-connector-config.md
Labels: API-M-4.1.0

#6735 Update the upgrading API Manager information
  en/docs/install-and-setup/install-and-setup-overview.md
Labels: API-M-4.0.0

#6739 Edit mkdocs command in README for python3
  README.md
Labels: API-M 4.2.0

#6741 Formatting issue
  en/docs/design/lifecycle-management/customize-api-life-cycle.md
Labels: API-M 4.2.0

#6743 Add note about Datasources in EI to MI Migration docs
  en/docs/includes/integration/pull-content-registry-migration.md
Labels: API-M 4.2.0

#6744 Adding changes to the Document related to ELK Analytics
  en/docs/assets/attachments/mi-elk/filebeat.yml
  en/docs/assets/img/analytics/cloud/architecture.png
  en/docs/mi-analytics/mi-elk-installation-guide.md
  en/mkdocs.yml
Labels: Type/Docs

#6746 Fix base path to build with images
  en/docs/get-started/about-this-release.md
  en/mkdocs.yml
Labels: API-M 4.2.0

#6748 Update redirection URLs
  en/mkdocs.yml
Labels: API-M 4.2.0

#6747 [4.2.0] Add App password creation info to User Account Management doc
  en/docs/install-and-setup/setup/security/user-account-management.md
Labels: API-M 4.2.0

#6763 Fix typo in Troubleshooting WebSocket APIs
  en/docs/troubleshooting/troubleshooting-websocket-api.md
Labels: API-M-4.1.0, API-M 4.2.0

#6764 Fix typo in Troubleshooting WebSocket APIs
  en/docs/troubleshooting/troubleshooting-websocket-api.md
Labels: API-M-4.1.0

#6765 Update base path
  en/mkdocs.yml
Labels: API-M 4.2.0
