Repository wso2/docs-apim, pull requests merged in 2023-05, with the labels that each got.

#7013 Document Monetization with Elasticsearch
  en/docs/design/api-monetization/monetizing-an-api.md
Labels: API-M 4.2.0

#7020 Update script mediator docs with NashornJS removal
  en/docs/integrate/examples/json_examples/json-examples.md
  en/docs/reference/mediators/script-mediator.md
Labels: API-M-Master

#7019 Update script mediator docs with NashornJS removal
  en/docs/integrate/examples/json_examples/json-examples.md
  en/docs/reference/mediators/script-mediator.md
Labels: API-M 4.2.0

#7023 Add back API Linter Feature Documentation
  en/docs/design/advanced-topics/validate-api-definitions-with-linters.md
  en/mkdocs.yml
Labels: API-M 4.2.0

#7024 Add back API Linter Feature Documentation
  en/docs/design/advanced-topics/validate-api-definitions-with-linters.md
  en/mkdocs.yml
Labels: API-M-Master

#7021 Minor fix to content
  en/docs/get-started/about-this-release.md
Labels: API-M-Master

#7022 Minor fix to content
  en/docs/get-started/about-this-release.md
Labels: API-M 4.2.0

#7026 Add note on Databases used by API-M profiles
  en/docs/install-and-setup/setup/distributed-deployment/understanding-the-distributed-deployment-of-wso2-api-m.md
Labels: API-M 4.2.0

#7027 [Sync PR] Add note on Databases used by API-M profiles
  en/docs/install-and-setup/setup/distributed-deployment/understanding-the-distributed-deployment-of-wso2-api-m.md
Labels: API-M-Master

#7029 Add note on Databases used by API-M profiles
  en/docs/install-and-setup/setup/distributed-deployment/understanding-the-distributed-deployment-of-wso2-api-m.md
Labels: API-M-4.0.0

#7028 Add note on Databases used by API-M profiles
  en/docs/install-and-setup/setup/distributed-deployment/understanding-the-distributed-deployment-of-wso2-api-m.md
Labels: API-M-4.1.0

#7034 Remove "Set a custom validity time for the access token" section
  en/docs/design/api-security/oauth2/grant-types/client-credentials-grant.md
Labels: API-M-Master

#7031 Remove "Set a custom validity time for the access token" section
  en/docs/design/api-security/oauth2/grant-types/client-credentials-grant.md
Labels: API-M-4.0.0

#7032 Remove "Set a custom validity time for the access token" section
  en/docs/design/api-security/oauth2/grant-types/client-credentials-grant.md
Labels: API-M-4.1.0

#7033 Remove "Set a custom validity time for the access token" section
  en/docs/design/api-security/oauth2/grant-types/client-credentials-grant.md
Labels: API-M 4.2.0
